force-app/main/default/flows/Agreement_Upsert_Agreement_Treaty_Line_Items.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>add_list_treaty_ref_concatenation</name>
        <label>add list treaty ref concatenation</label>
        <locationX>138</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>lstTreatyRef</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>eachTreaty.TreatyReference__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>eachTreaty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddToListToInsert</name>
        <label>Add to list to insert</label>
        <locationX>138</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>AgreementLineItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AGL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_list_treaty_ref_concatenation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignSection</name>
        <label>assignSection</label>
        <locationX>204</locationX>
        <locationY>3035</locationY>
        <assignmentItems>
            <assignToReference>Get_sections</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_First_Section</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_Record_Type_Section</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CCC_Add_to_list_to_insert</name>
        <label>Add to list to insert</label>
        <locationX>138</locationX>
        <locationY>2327</locationY>
        <assignmentItems>
            <assignToReference>AgreementLineItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AGL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_New_CCC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Reset_AGL</name>
        <label>Reset AGL</label>
        <locationX>182</locationX>
        <locationY>3419</locationY>
        <assignmentItems>
            <assignToReference>AGL</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>INItAGLSECTION</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>increment_Order</name>
        <label>increment Order</label>
        <locationX>1304</locationX>
        <locationY>3359</locationY>
        <assignmentItems>
            <assignToReference>Order</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>each_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>increment_orderLead</name>
        <label>increment order</label>
        <locationX>1348</locationX>
        <locationY>1835</locationY>
        <assignmentItems>
            <assignToReference>Order</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>each_Signing_request_lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>incrementOrder</name>
        <label>incrementOrder</label>
        <locationX>138</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>Order</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetTypeOfTreaty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Init_AGL_Lead</name>
        <label>Init AGL (Lead)</label>
        <locationX>1348</locationX>
        <locationY>1619</locationY>
        <assignmentItems>
            <assignToReference>AGL.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RT_lead.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AGL.Apttus__AgreementId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AGL.LeaderName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>each_Signing_request_lead.RiskCarrier__r.LongName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AGL.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AGL.Request__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>each_Signing_request_lead.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AgreementLineItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AGL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>set_risk_lst_carrier_id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Init_AGL_Request</name>
        <label>Init AGL (Request)</label>
        <locationX>1304</locationX>
        <locationY>2927</locationY>
        <assignmentItems>
            <assignToReference>AGL.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Record_Type_Request_AGL.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AGL.Request__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RequestToUseInAgreement</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AGL.Apttus__AgreementId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AGL.BillingCountry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>each_Request.RiskCarrier__r.BillingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AGL.BillingState__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>each_Request.RiskCarrier__r.BillingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AGL.BillingStreet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>each_Request.RiskCarrier__r.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AGL.BillingPostalCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>each_Request.RiskCarrier__r.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AGL.RequestLEICodeRiskCarrier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>each_Request.RiskCarrier__r.LEICode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AGL.RequestSignedShare__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>each_Request.SignedShare__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AGL.Layer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>each_Request.TECH_Layer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AGL.BrokerName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>each_Request.Broker__r.LongName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AGL.TreatyRef__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>each_Request.Treaty__r.TreatyReference__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AGL.RiskCarrierName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>each_Request.RiskCarrier__r.LongName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AGL.Treaty__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>each_Request.Treaty__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AGL.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AGL.Deduction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>each_Request.Deductions__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AGL.LossDepositMode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LossDepositModeCALC</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AGL.BillingCity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>each_Request.RiskCarrier__r.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AGL.RiskCarrierId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>each_Request.RiskCarrier__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AgreementLineItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AGL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>reinit1_AGL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Init_AGL_Treaty</name>
        <label>Init AGL (Treaty)</label>
        <locationX>1304</locationX>
        <locationY>3143</locationY>
        <assignmentItems>
            <assignToReference>AGL</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AGL.Treaty__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>each_Request.Treaty__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AGL.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RT_Treaty.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AGL.Apttus__AgreementId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AGL.TreatyRef__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>each_Request.Treaty__r.TreatyReference__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AGL.TreatyType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>each_Request.Treaty__r.TypeofTreaty__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AGL.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AGL.SignedShare__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>each_Request.SignedShare__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AGL.Layer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>each_Request.TECH_Layer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TypeOfTreaty</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>each_Request.Treaty__r.TypeofTreaty__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AGL.RequestSignedShare__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>each_Request.SignedShare__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AGL.Request__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RequestToUseInAgreement</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AgreementLineItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AGL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ReInit_AGL3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Init_Agreement_line_Item</name>
        <label>Init. Agreement line Item</label>
        <locationX>138</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>AGL.Treaty__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eachTreaty.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AGL.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_recordtype_of_treaty.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AGL.Apttus__AgreementId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AGL.TreatyRef__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eachTreaty.TreatyReference__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AGL.TreatyType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eachTreaty.TypeofTreaty__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AGL.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AGL.Layer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eachTreaty.Layer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AGL.treatyName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eachTreaty.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>incrementOrder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Init_CCC</name>
        <label>Init CCC</label>
        <locationX>138</locationX>
        <locationY>2219</locationY>
        <assignmentItems>
            <assignToReference>AGL.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Record_Type_Covered_Ceding_Companies.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AGL.Apttus__AgreementId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AGL.Covered_Ceding_Company__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_New_CCC.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CCC_Add_to_list_to_insert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>INItAGLSECTION</name>
        <label>Init AGL (Section)</label>
        <locationX>182</locationX>
        <locationY>3527</locationY>
        <assignmentItems>
            <assignToReference>AGL.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Record_Type_Section.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AGL.Covered_Ceding_Company__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_New_CCC.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AGL.Apttus__AgreementId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AGL.Retention__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_sections.Retention__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AGL.Limit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_sections.fieldLimit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AGL.Capacity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_sections.Capacity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AGL.RetentionAmount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_sections.RetentionAmount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AGL.CededLines__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_sections.CededLines__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AGL.CessionAmount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_sections.CessionAmount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AGL.Section__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_sections.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AGL.TreatyType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_sections.TECH_TypeofTreaty__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sections_Add_to_list_to_insert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>initAgreementLineItem</name>
        <label>Reset AGL</label>
        <locationX>50</locationX>
        <locationY>2003</locationY>
        <assignmentItems>
            <assignToReference>AGL</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Loop_New_CCC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>reinit1_AGL</name>
        <label>reinit AGL</label>
        <locationX>1304</locationX>
        <locationY>3035</locationY>
        <assignmentItems>
            <assignToReference>AGL</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Init_AGL_Treaty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ReInit_AGL</name>
        <label>ReInit AGL</label>
        <locationX>1084</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>AGL</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Order</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_Record_Type_Request_AGL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ReInit_AGL3</name>
        <label>ReInit AGL</label>
        <locationX>1304</locationX>
        <locationY>3251</locationY>
        <assignmentItems>
            <assignToReference>AGL</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>increment_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ReInit_AGL4</name>
        <label>ReInit AGL</label>
        <locationX>1084</locationX>
        <locationY>2111</locationY>
        <assignmentItems>
            <assignToReference>AGL</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Order</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>each_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>resetLossDeposit</name>
        <label>resetLossDeposit</label>
        <locationX>1084</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>LossDeposit</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Signing_request_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sections_Add_to_list_to_insert</name>
        <label>Add to list to insert</label>
        <locationX>182</locationX>
        <locationY>3635</locationY>
        <assignmentItems>
            <assignToReference>AgreementLineItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AGL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Any_records_to_Insert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Original_Request</name>
        <label>Set Original Request</label>
        <locationX>1172</locationX>
        <locationY>2735</locationY>
        <assignmentItems>
            <assignToReference>RequestToUseInAgreement</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>each_Request.OriginalRequest__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Init_AGL_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>use to identify duplicate Leader</description>
        <name>set_risk_lst_carrier_id</name>
        <label>set risk lst carrier id</label>
        <locationX>1348</locationX>
        <locationY>1727</locationY>
        <assignmentItems>
            <assignToReference>lstRiskCarrierId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>each_Signing_request_lead.RiskCarrier__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>increment_orderLead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetLossDeposit</name>
        <label>SetLossDeposit</label>
        <locationX>1172</locationX>
        <locationY>2435</locationY>
        <assignmentItems>
            <assignToReference>LossDeposit</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>2</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ContainsOriginalRequest</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetTypeOfTreaty</name>
        <label>TreatyType and Loss Deposit</label>
        <locationX>138</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>TypeOfTreaty</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eachTreaty.TypeofTreaty__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LossDeposit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eachTreaty.LossDeposit__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddToListToInsert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Use_Id_Of_Request</name>
        <label>Use Id Of Request</label>
        <locationX>1436</locationX>
        <locationY>2735</locationY>
        <assignmentItems>
            <assignToReference>RequestToUseInAgreement</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>each_Request.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Init_AGL_Request</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Already_create_record_for_risk_carrier</name>
        <label>Already create record for risk carrier ?</label>
        <locationX>1260</locationX>
        <locationY>1511</locationY>
        <defaultConnector>
            <targetReference>Init_AGL_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yesriskcarrierDone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>lstRiskCarrierId</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>each_Signing_request_lead.RiskCarrier__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>each_Signing_request_lead</targetReference>
            </connector>
            <label>yesriskcarrierDone</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_records_to_Insert</name>
        <label>Any records to Insert ?</label>
        <locationX>853</locationX>
        <locationY>3827</locationY>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YESAny_records_to_Insert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AgreementLineItems</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insert_AGLs</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Agreement_RT</name>
        <label>Check Agreement RT</label>
        <locationX>853</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Any_records_to_Insert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Acceptation_Group_Cover</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Acceptation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GroupCover</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GlobalBroker</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ProgramTreaties</targetReference>
            </connector>
            <label>Acceptation/Group Cover/GB</label>
        </rules>
        <rules>
            <name>Cesssio_Retro</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Retrocession</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cession</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GlobalBrokerCession</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Signing_Request</targetReference>
            </connector>
            <label>Cesssio/Retro/GB Cession</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckLossDeposit</name>
        <label>CheckLossDeposit</label>
        <locationX>1304</locationX>
        <locationY>2327</locationY>
        <defaultConnector>
            <targetReference>ContainsOriginalRequest</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Has loss deposit</defaultConnectorLabel>
        <rules>
            <name>No_Loss_deposit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>each_Request.LossDepositMode__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetLossDeposit</targetReference>
            </connector>
            <label>No Loss deposit</label>
        </rules>
    </decisions>
    <decisions>
        <name>ContainsOriginalRequest</name>
        <label>ContainsOriginalRequest</label>
        <locationX>1304</locationX>
        <locationY>2627</locationY>
        <defaultConnector>
            <targetReference>Use_Id_Of_Request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesContains</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>each_Request.OriginalRequest__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Original_Request</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_New_CCC</name>
        <label>Found New CCC</label>
        <locationX>182</locationX>
        <locationY>1787</locationY>
        <defaultConnector>
            <targetReference>Get_sections</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Found_CCCNew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_CCC</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Record_Type_Covered_Ceding_Companies</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_records</name>
        <label>Found sections ?</label>
        <locationX>182</locationX>
        <locationY>2711</locationY>
        <defaultConnector>
            <targetReference>Get_First_Section</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_FoundSections</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_sections</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Record_Type_Section</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_requests</name>
        <label>Found requests?</label>
        <locationX>1216</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Any_records_to_Insert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YESrequ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Signing_Request</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ReInit_AGL</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Section</name>
        <label>Found Section ?</label>
        <locationX>336</locationX>
        <locationY>2927</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Any_records_to_Insert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_FoundSection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_First_Section</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignSection</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>FoundProgramTreaties</name>
        <label>Found Treaties ?</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Get_CCC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_FoundProgramTreaties</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProgramTreaties</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_recordtype_of_treaty</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Program_is_set</name>
        <label>Program is set ?</label>
        <locationX>1276</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Program__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Agreement_RT</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <description>On agreement insert, Insert Agreement line items for program&apos;s treaty, section and covered ceding company</description>
    <environments>Default</environments>
    <formulas>
        <name>LossDepositModeCALC</name>
        <dataType>String</dataType>
        <expression>CASE(TEXT({!each_Request.LossDepositMode__c}),
    &quot;1&quot;, &quot;Cash&quot;,
    &quot;3&quot;, &quot;Letter of Credit&quot;,
    &quot;2&quot;, &quot;Security&quot;,
    &quot;4&quot;, &quot;Trust account&quot;,
    /* Default label if no match found */
    &quot;NIL&quot;
)</expression>
    </formulas>
    <interviewLabel>Agreement - Upsert Agreement (Treaty) Line Items {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CLM - Agreement - Insert Agreement Line Items</label>
    <loops>
        <name>each_Request</name>
        <label>each Request</label>
        <locationX>1084</locationX>
        <locationY>2219</locationY>
        <collectionReference>Get_Signing_Request</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CheckLossDeposit</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Any_records_to_Insert</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>each_Signing_request_lead</name>
        <label>each Signing request lead</label>
        <locationX>1084</locationX>
        <locationY>1403</locationY>
        <collectionReference>Get_Signing_request_Lead</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Already_create_record_for_risk_carrier</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ReInit_AGL4</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>eachTreaty</name>
        <label>For each treaty</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <collectionReference>ProgramTreaties</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Init_Agreement_line_Item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_CCC</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_New_CCC</name>
        <label>Loop New CCC</label>
        <locationX>50</locationX>
        <locationY>2111</locationY>
        <collectionReference>Get_CCC</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Init_CCC</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_sections</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_AGLs</name>
        <label>Insert AGLs</label>
        <locationX>721</locationX>
        <locationY>3935</locationY>
        <connector>
            <targetReference>UpdateTreatyTypeAgreement</targetReference>
        </connector>
        <inputReference>AgreementLineItems</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_CCC</name>
        <label>Get CCC</label>
        <locationX>182</locationX>
        <locationY>1679</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_New_CCC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Program__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProgramIsSelected__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CoveredCedingCompany__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_First_Section</name>
        <label>Get First Section</label>
        <locationX>336</locationX>
        <locationY>2819</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Section</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SectionNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>1.1</stringValue>
            </value>
        </filters>
        <filters>
            <field>Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Program__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Section__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Record_Type_Covered_Ceding_Companies</name>
        <label>get Record Type CC (AGL)</label>
        <locationX>50</locationX>
        <locationY>1895</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>initAgreementLineItem</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Apttus__AgreementLineItem__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CoveredCedingCompanies</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Record_Type_Request_AGL</name>
        <label>get Record Type Request(AGL)</label>
        <locationX>1084</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_RT_Treaty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Apttus__AgreementLineItem__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Request</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Record_Type_Section</name>
        <label>get Record Type Section (AGL)</label>
        <locationX>182</locationX>
        <locationY>3311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Reset_AGL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Apttus__AgreementLineItem__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Section</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_recordtype_of_treaty</name>
        <label>Get recordtype of treaty (AGL)</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>eachTreaty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Treaty</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Apttus__AgreementLineItem__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RT_lead</name>
        <label>Get RT lead</label>
        <locationX>1084</locationX>
        <locationY>1079</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>resetLossDeposit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Leader</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RT_Treaty</name>
        <label>Get RT Treaty</label>
        <locationX>1084</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_RT_lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Treaty</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Apttus__AgreementLineItem__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_sections</name>
        <label>Get sections (retained)</label>
        <locationX>182</locationX>
        <locationY>2603</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Program__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Retained_to_lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Section__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Signing_Request</name>
        <label>Get Signing Request</label>
        <locationX>1216</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_requests</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TECH_RecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Signing</stringValue>
            </value>
        </filters>
        <filters>
            <field>Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Program__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>TECH_UWyear__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Program__r.UwYear__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastVersionAnswered__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RiskCarrier__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RiskCarrier__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RiskCarrier__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Request__c</object>
        <sortField>CLM_TreatySort__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Signing_request_Lead</name>
        <label>Get Signing request Lead</label>
        <locationX>1084</locationX>
        <locationY>1295</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>each_Signing_request_lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TECH_RecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Signing</stringValue>
            </value>
        </filters>
        <filters>
            <field>Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Program__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>TECH_UWyear__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Program__r.UwYear__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastVersionAnswered__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TECH_Recovery_RelatedLeadPlacementReq__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Request__c</object>
        <sortField>CLM_TreatySort__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ProgramTreaties</name>
        <label>Get Treaties of Program</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FoundProgramTreaties</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Program__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>2</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Treaty__c</object>
        <sortField>CLM_TreatySort__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateTreatyTypeAgreement</name>
        <label>Update Treaty Type Agreement</label>
        <locationX>721</locationX>
        <locationY>4043</locationY>
        <inputAssignments>
            <field>LossDeposit__c</field>
            <value>
                <elementReference>LossDeposit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TypeOfTreaty__c</field>
            <value>
                <elementReference>TypeOfTreaty</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1150</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Program_is_set</targetReference>
        </connector>
        <object>Apttus__APTS_Agreement__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AGL</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__AgreementLineItem__c</objectType>
    </variables>
    <variables>
        <name>AGLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__AgreementLineItem__c</objectType>
    </variables>
    <variables>
        <name>AgreementLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__AgreementLineItem__c</objectType>
    </variables>
    <variables>
        <name>LossDeposit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lstRiskCarrierId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lstTreatyRef</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Order</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>RequestToUseInAgreement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>retrocessionHasLead</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>riskCarrierId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>treatyIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TypeOfTreaty</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
