force-app/main/default/flows/ANG_UpdTreatIDAndCounter.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>techTreatyId_don_t_Exists</name>
        <label>techTreatyId don&apos;t Exists</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>techTreatyIdDecValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TECH_IDDecValue__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>techTreatyrenewalCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Treaty_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>techTreatyId_Exists</name>
        <label>techTreatyId Exists</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>techTreatyIdDecValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TECH_RenewedFromTreaty__r.TECH_TreatyId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>techTreatyrenewalCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>incTechRenewalCounter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Treaty_Id</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>TECH_RenewedFromTreaty_c_is_Null</name>
        <label>TECH_RenewedFromTreaty__c  is Null?</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>techTreatyId_Exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TECH_RenewedFromTreaty__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>techTreatyId_don_t_Exists</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Enable storage of the initial treaty ID on consecutive renewals and to count how many renewals happenned</description>
    <environments>Default</environments>
    <formulas>
        <name>currentUser</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$User.Id})</expression>
    </formulas>
    <formulas>
        <name>incTechRenewalCounter</name>
        <dataType>Number</dataType>
        <expression>{!$Record.TECH_RenewedFromTreaty__r.TECH_RenewalCounter__c} + 1</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>ANG_UpdTreatIDAndCounter {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ANG_UpdTreatIDAndCounter</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Treaty_Id</name>
        <label>Update Treaty Id</label>
        <locationX>182</locationX>
        <locationY>623</locationY>
        <inputAssignments>
            <field>TECH_RenewalCounter__c</field>
            <value>
                <elementReference>techTreatyrenewalCounter</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_TreatyId__c</field>
            <value>
                <elementReference>techTreatyIdDecValue</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>TECH_RenewedFromTreaty_c_is_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TECH_Actor2Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CurrentUser__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>005</stringValue>
            </value>
        </filters>
        <filters>
            <field>CurrentUserBypassWF__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Treaty__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>techTreatyIdDecValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>techTreatyrenewalCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
