force-app/main/default/flows/ANG_WorkSortPriorityOrder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Empty_Priority_Order</name>
        <label>Empty Priority Order</label>
        <locationX>754</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>Loop_in_Unordered_Works.Priority_Order__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListWorkToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_in_Unordered_Works</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_in_Unordered_Works</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Priority_boolean_to_false</name>
        <label>Set Priority boolean to false</label>
        <locationX>754</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>priorityFilled</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_in_all_works</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Work_Values</name>
        <label>Set Work Values</label>
        <locationX>754</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>Loop_in_Ordered_Works.Priority_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PriorityCount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListWorkToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_in_Ordered_Works</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PriorityCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_in_Ordered_Works</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_List_to_Update_not_Empty</name>
        <label>Check if List to Update not Empty</label>
        <locationX>666</locationX>
        <locationY>1550</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>List_Filled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ListWorkToUpdate</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Work</targetReference>
            </connector>
            <label>List Filled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_priority_missing</name>
        <label>Check if priority missing</label>
        <locationX>886</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Loop_in_all_works</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Priority_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_in_all_works.Priority_Order__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Priority_boolean_to_false</targetReference>
            </connector>
            <label>Priority Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_records_empty</name>
        <label>Check if records empty</label>
        <locationX>358</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Get_Works</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_records_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ids</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EmptyRecords</targetReference>
            </connector>
            <label>No records selected</label>
        </rules>
    </decisions>
    <description>W-2196: WORKS - Simplify Works ordering</description>
    <environments>Default</environments>
    <interviewLabel>ANG Work Sort Priority Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ANG Work Sort Priority Order</label>
    <loops>
        <name>Loop_in_all_works</name>
        <label>Loop in all works</label>
        <locationX>666</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_Works</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_priority_missing</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Sort_Work</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_in_Ordered_Works</name>
        <label>Loop in Ordered Works</label>
        <locationX>666</locationX>
        <locationY>950</locationY>
        <collectionReference>WorkSorting.orderedList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Work_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_in_Unordered_Works</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_in_Unordered_Works</name>
        <label>Loop in Unordered Works</label>
        <locationX>666</locationX>
        <locationY>1250</locationY>
        <collectionReference>WorkSorting.unOrderedList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Empty_Priority_Order</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_if_List_to_Update_not_Empty</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Works</name>
        <label>Get Works</label>
        <locationX>666</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_in_all_works</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Work__c</object>
        <sortField>Priority_Order__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Work</name>
        <label>Update Work</label>
        <locationX>402</locationX>
        <locationY>1658</locationY>
        <faultConnector>
            <targetReference>HandleError</targetReference>
        </faultConnector>
        <inputReference>ListWorkToUpdate</inputReference>
    </recordUpdates>
    <screens>
        <name>EmptyRecords</name>
        <label>EmptyRecords Warning Message</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>textSelectRecords</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 22px; color: rgb(153, 11, 11);&quot;&gt;Cannot perform action&lt;/strong&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt; : Please select at least one record from the list view to be able to perform sorting. ⛔&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Exit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>HandleError</name>
        <label>HandleError</label>
        <locationX>666</locationX>
        <locationY>1766</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(128, 22, 22);&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Sort_Work</name>
        <label>Sort Work</label>
        <locationX>666</locationX>
        <locationY>842</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_in_Ordered_Works</targetReference>
        </connector>
        <fields>
            <name>DisplayTitle</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Use &lt;/strong&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(5, 137, 73); background-color: rgb(255, 255, 255);&quot;&gt;Up &lt;/strong&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;and &lt;/strong&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(169, 8, 46); background-color: rgb(255, 255, 255);&quot;&gt;Down &lt;/strong&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;arrows to set your Work order&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>WorkSorting</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Work__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:lwc66WorkListViewSorting</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordList</name>
                <value>
                    <elementReference>Get_Works</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDebug</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allPriorityFilled</name>
                <value>
                    <elementReference>priorityFilled</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Save Changes</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>232</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_records_empty</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListWorkToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Work__c</objectType>
    </variables>
    <variables>
        <name>PriorityCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>priorityFilled</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
</Flow>
