force-app/main/default/flows/ANG_Password_Expiration_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Expiration_in_0_days</name>
        <label>Email Expiration in 0 days</label>
        <locationX>441</locationX>
        <locationY>871</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Loop_Users</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody_PassExpiration_0days</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Loop_Users.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>noreply.actornewgen@axa.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>DefaultWorkflowUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Actor New Gen: Your password is expired !</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_Expiration_in_14_days</name>
        <label>Email Expiration in 14 days</label>
        <locationX>433</locationX>
        <locationY>411</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Loop_Users</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody_PassExpiration_14days</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Loop_Users.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>noreply.actornewgen@axa.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>DefaultWorkflowUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Actor New Gen: Your password expires in 14 days</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_Expiration_in_2_days</name>
        <label>Email Expiration in 2 days</label>
        <locationX>440</locationX>
        <locationY>735</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Loop_Users</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody_PassExpiration_2days</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Loop_Users.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>noreply.actornewgen@axa.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>DefaultWorkflowUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Actor New Gen: Your password expires in 2 days</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_Expiration_in_7_days</name>
        <label>Email Expiration in 7 days</label>
        <locationX>440</locationX>
        <locationY>563</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Loop_Users</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody_PassExpiration_7days</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Loop_Users.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>noreply.actornewgen@axa.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>DefaultWorkflowUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Actor New Gen: Your password expires in 7 days</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_User_Values</name>
        <label>Assign User Values</label>
        <locationX>1022</locationX>
        <locationY>501</locationY>
        <assignmentItems>
            <assignToReference>UserLastPasswordUpdateDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Users.LastPasswordChangeDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Password_Last_updated_in_Days</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Password expires after 60 days. Decision if there is 14,7, or less than 2 days remaining before password expiration.</description>
        <name>Password_Last_updated_in_Days</name>
        <label>Password Last updated in Days</label>
        <locationX>1016</locationX>
        <locationY>794</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Last_46_days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>forNdaysfromPasswordChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>46.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Expiration_in_14_days</targetReference>
            </connector>
            <label>Last 46 days</label>
        </rules>
        <rules>
            <name>Last_53_days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>forNdaysfromPasswordChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>53.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Expiration_in_7_days</targetReference>
            </connector>
            <label>Last 53 days</label>
        </rules>
        <rules>
            <name>Last_58_days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>forNdaysfromPasswordChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>58.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Expiration_in_2_days</targetReference>
            </connector>
            <label>Last 58 days</label>
        </rules>
        <rules>
            <name>Last_60_days_or_more</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>forNdaysfromPasswordChanged</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>60.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Expiration_in_0_days</targetReference>
            </connector>
            <label>Last 60 days or more</label>
        </rules>
    </decisions>
    <description>Send email notifications to interface users when the password will soon expires. 
Expires in 14,7,2 days based on 60 days password policy.</description>
    <formulas>
        <description>Calculates how many days since password was changed</description>
        <name>forNdaysfromPasswordChanged</name>
        <dataType>Number</dataType>
        <expression>Today()-({!UserLastPasswordUpdateDate})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>ANG - Password Expiration Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ANG - Password Expiration Notification</label>
    <loops>
        <description>Loop through the users</description>
        <name>Loop_Users</name>
        <label>Loop Users</label>
        <locationX>862</locationX>
        <locationY>502</locationY>
        <collectionReference>Get_Users</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_User_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_User_Values</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Gets the user email adresses</description>
        <name>Get_Users</name>
        <label>Get Users</label>
        <locationX>857</locationX>
        <locationY>303</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Users</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3) AND 4</filterLogic>
        <filters>
            <field>Username</field>
            <operator>Contains</operator>
            <value>
                <stringValue>integration.themis</stringValue>
            </value>
        </filters>
        <filters>
            <field>Username</field>
            <operator>Contains</operator>
            <value>
                <stringValue>integration.informatica</stringValue>
            </value>
        </filters>
        <filters>
            <field>Username</field>
            <operator>Contains</operator>
            <value>
                <stringValue>tableau.cotation</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>729</locationX>
        <locationY>90</locationY>
        <connector>
            <targetReference>Get_Users</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-11-23</startDate>
            <startTime>08:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>EmailBody_PassExpiration_0days</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear &lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!Loop_Users.FirstName},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60);&quot;&gt;Your Actor New Gen password is&lt;/span&gt;&lt;b style=&quot;color: rgb(62, 62, 60);&quot;&gt; &lt;/b&gt;&lt;b style=&quot;color: rgb(228, 56, 56);&quot;&gt;expired&lt;/b&gt;&lt;span style=&quot;color: rgb(228, 56, 56);&quot;&gt; &lt;/span&gt;&lt;span style=&quot;color: rgb(62, 62, 60);&quot;&gt;! Please change your password.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Username&lt;/b&gt; : {!Loop_Users.Username}&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;Thank you.&amp;nbsp;&lt;/p&gt;&lt;p&gt;{!$Organization.Name}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailBody_PassExpiration_14days</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!Loop_Users.FirstName},&lt;/p&gt;&lt;p&gt;Your Actor New Gen password expires in &lt;b&gt;14 days&lt;/b&gt; . Please change your password.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Username&lt;/b&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt; &lt;/span&gt;: {!Loop_Users.Username}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank you.&amp;nbsp;&lt;/p&gt;&lt;p&gt;{!$Organization.Name}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailBody_PassExpiration_2days</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!Loop_Users.FirstName},&lt;/p&gt;&lt;p&gt;Your Actor New Gen password expires in &lt;b style=&quot;color: rgb(255, 5, 5);&quot;&gt;2 days&lt;/b&gt; . Please change your password.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Username&lt;/b&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt; &lt;/span&gt;: {!Loop_Users.Username}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank you.&amp;nbsp;&lt;/p&gt;&lt;p&gt;{!$Organization.Name}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailBody_PassExpiration_7days</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!Loop_Users.FirstName},&lt;/p&gt;&lt;p&gt;Your Actor New Gen password expires in &lt;b style=&quot;color: rgb(221, 150, 28);&quot;&gt;7 days&lt;/b&gt; . Please change your password.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Username&lt;/b&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt; &lt;/span&gt;: {!Loop_Users.Username}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank you.&amp;nbsp;&lt;/p&gt;&lt;p&gt;{!$Organization.Name}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>UserLastPasswordUpdateDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
