force-app/main/default/flows/CLM_Agreement.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>init_Agreementids</name>
        <label>init Agreementids</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>idAgreements</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CLM_Subflow_update_fields_on_Agreement_by_fields_on_AGL</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>CLM - Agreement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CLM - Agreement - Sync AGL on Agreement</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>srceenrefresh</name>
        <label>srceenrefresh</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>lwcrefresh</name>
            <extensionName>c:lwcRefreshView</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>init_Agreementids</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>CLM_Subflow_update_fields_on_Agreement_by_fields_on_AGL</name>
        <label>CLM - Subflow update fields on Agreement by fields on AGL</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>srceenrefresh</targetReference>
        </connector>
        <flowName>CLM_Subflow_update_fields_on_Agreement_by_fields_on_AGL</flowName>
        <inputAssignments>
            <name>AgreementIdList</name>
            <value>
                <elementReference>idAgreements</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>idAgreements</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
