force-app/main/default/flows/CLM_DocumentVersionDetails_DocumentCheckinEvent.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Re_count_documents_on_Agreement</name>
        <label>Re count documents on Agreement</label>
        <locationX>182</locationX>
        <locationY>623</locationY>
        <actionName>FLW03_CLM_CountDocumentsInAgreement</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>AgreementId</name>
            <value>
                <elementReference>$Record.TECH_AgreementId__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FLW03_CLM_CountDocumentsInAgreement</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Is_Action_check_in</name>
        <label>Is Action check in ?</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Re_count_documents_on_Agreement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_In_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Apttus__Action2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Check In</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreatePlatformEvent</targetReference>
            </connector>
            <label>Check In True</label>
        </rules>
    </decisions>
    <description>Fires up a platform event handled in LWC component to refresh lightning page
BBH 08.08.2024 - W-2099 - Count total document version details attached to agreement</description>
    <environments>Default</environments>
    <interviewLabel>CLM - Document Version Details - Document Checkin Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CLM - Document Version Details - Document Checkin Event</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Generates a platform event when a document is checkedin</description>
        <name>CreatePlatformEvent</name>
        <label>CreatePlatformEvent</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Re_count_documents_on_Agreement</targetReference>
        </connector>
        <inputAssignments>
            <field>AgreementId__c</field>
            <value>
                <elementReference>$Record.TECH_AgreementId__c</elementReference>
            </value>
        </inputAssignments>
        <object>AgreementCheckIn__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Action_check_in</targetReference>
        </connector>
        <object>Apttus__DocumentVersionDetail__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CountDocs</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
