force-app/main/default/flows/CLM_Request_SyncAGLonDelete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>setRequestId</name>
        <label>setRequestId</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>RequestId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OriginalRequest__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>is_null_request_id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setRequestIdNew</name>
        <label>setRequestIdNew</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>RequestId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>is_null_request_id</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>containsOriginalRequest</name>
        <label>containsOriginalRequest?</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>setRequestIdNew</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OriginalRequest__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setRequestId</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_null_agreement_line_item</name>
        <label>is null agreement line item ?</label>
        <locationX>380</locationX>
        <locationY>803</locationY>
        <defaultConnector>
            <targetReference>DeleteRequests</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YESAGLNULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_agreement_line_item</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_null_request_id</name>
        <label>is null request id ?</label>
        <locationX>182</locationX>
        <locationY>587</locationY>
        <defaultConnector>
            <targetReference>get_agreement_line_item</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YESrequestidnull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RequestId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>YES</label>
        </rules>
    </decisions>
    <description>Syncs Agreement line items when a request is deleted</description>
    <environments>Default</environments>
    <interviewLabel>CLM - request - Sync AGL on Delete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CLM - Request - Sync AGL on Delete</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>DeleteRequests</name>
        <label>DeleteRequests</label>
        <locationX>512</locationX>
        <locationY>911</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RequestId</elementReference>
            </value>
        </filters>
        <object>Apttus__AgreementLineItem__c</object>
    </recordDeletes>
    <recordLookups>
        <name>get_agreement_line_item</name>
        <label>get agreement line item</label>
        <locationX>380</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_null_agreement_line_item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RequestId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Apttus__AgreementLineItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>containsOriginalRequest</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TECH_RecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Signing</stringValue>
            </value>
        </filters>
        <filters>
            <field>LastVersionAnswered__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Request__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>RequestId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
