force-app/main/default/flows/CLM_AgreementLineItems_SyncSections.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Sync_record_fields</name>
        <label>Sync record fields</label>
        <locationX>138</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>IterateAgreementLineItems.Retention__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Retention__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IterateAgreementLineItems.Limit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.fieldLimit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IterateAgreementLineItems.Capacity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Capacity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IterateAgreementLineItems.RetentionAmount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.RetentionAmount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IterateAgreementLineItems.CededLines__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CededLines__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IterateAgreementLineItems.CessionAmount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CessionAmount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IterateAgreementLineItems</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateAgreementLineItems</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Value_Changed</name>
        <label>Value Changed?</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>No values changed</defaultConnectorLabel>
        <rules>
            <name>ValueChanged</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Retention__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Retention__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LimitPercent__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.LimitPercent__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Capacity__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Capacity__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RetentionAmount__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.RetentionAmount__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CededLines__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.CededLines__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CessionAmount__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.CessionAmount__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Agreement_Line_Items</targetReference>
            </connector>
            <label>Value changed</label>
        </rules>
    </decisions>
    <description>Sync section data with agreement line items concerned</description>
    <environments>Default</environments>
    <interviewLabel>CLM - Agreement Line Items - Sync Sections {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CLM - Agreement Line Items - Sync Sections</label>
    <loops>
        <name>IterateAgreementLineItems</name>
        <label>IterateAgreementLineItems</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <collectionReference>AGLRetrieved</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Sync_record_fields</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Agreements</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Agreement_Line_Items</name>
        <label>Get Agreement Line Items</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IterateAgreementLineItems</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Section__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Apttus__AgreementLineItem__c</object>
        <outputReference>AGLRetrieved</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Retention__c</queriedFields>
        <queriedFields>RetentionAmount__c</queriedFields>
        <queriedFields>Limit__c</queriedFields>
        <queriedFields>Capacity__c</queriedFields>
        <queriedFields>CededLines__c</queriedFields>
        <queriedFields>CessionAmount__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Agreements</name>
        <label>Update Agreements</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <inputReference>ListToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Value_Changed</targetReference>
        </connector>
        <object>Section__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AGLRetrieved</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__AgreementLineItem__c</objectType>
    </variables>
    <variables>
        <name>ListToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__AgreementLineItem__c</objectType>
    </variables>
</Flow>
