force-app/main/default/flows/CLM_Create_Ceding_Agreement.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CloneContentVersion</name>
        <label>Clone content version</label>
        <locationX>1040</locationX>
        <locationY>2588</locationY>
        <actionName>CLM_CloneContentVersion</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_clone_success</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>contentVersionId</name>
            <value>
                <elementReference>getVersionDetails.Apttus__ContentVersionId__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CLM_CloneContentVersion</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Comply_imported_documents_on_documentVersionDetails</name>
        <label>Comply imported documents on documentVersionDetails</label>
        <locationX>446</locationX>
        <locationY>3020</locationY>
        <actionName>CLM_ComplyImportedDocs</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Comply_success</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>agreementId</name>
            <value>
                <elementReference>newAgreement.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CLM_ComplyImportedDocs</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>createDocumentVersionDetails</name>
        <label>Create DocumentVersionDetails</label>
        <locationX>1469</locationX>
        <locationY>2372</locationY>
        <actionName>CLM_CreateDocumentVersionDetails</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_createDocumentVersionDetails_success</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>agreementId</name>
            <value>
                <elementReference>newAgreement.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <stringValue>None</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <elementReference>getVersionDetails.TECH_TemplateId__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CLM_CreateDocumentVersionDetails</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AddToPicklist</name>
        <label>AddToPicklist</label>
        <locationX>1152</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>AccountIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopRequests.Reinsurer__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopRequests</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignAgreementExisting</name>
        <label>AssignAgreementExisting</label>
        <locationX>1152</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>AgreementFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FindExistingAgreement</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AgreementFoundBool</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>AgreementFoundInLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Set_ErrMsg</name>
        <label>Set ErrMsg</label>
        <locationX>1898</locationX>
        <locationY>2588</locationY>
        <assignmentItems>
            <assignToReference>errMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>createDocumentVersionDetails.errorMsg</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>prepare agreement record (new)</description>
        <name>PrepareAgreement</name>
        <label>PrepareAgreement</label>
        <locationX>1469</locationX>
        <locationY>2156</locationY>
        <assignmentItems>
            <assignToReference>newAgreement.Program__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>programId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAgreement.Reinsurer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReinsurerSelected.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAgreement.InitialAgreement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getVersionDetails.TECH_AgreementId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAgreement.Apttus__Status_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Authoring</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAgreement.Apttus__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Author Contract</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAgreement.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Acceptation_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createNewAgreement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ErrMsg</name>
        <label>Set ErrMsg</label>
        <locationX>578</locationX>
        <locationY>3236</locationY>
        <assignmentItems>
            <assignToReference>errMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comply_imported_documents_on_documentVersionDetails.errorMsg</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ROllback</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ErrMsg_CloneContentVersion</name>
        <label>Set ErrMsg</label>
        <locationX>1634</locationX>
        <locationY>2804</locationY>
        <assignmentItems>
            <assignToReference>errMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CloneContentVersion.errorMsg</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ROllback</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_Error_Message</name>
        <label>set Error Message</label>
        <locationX>2690</locationX>
        <locationY>2048</locationY>
        <assignmentItems>
            <assignToReference>errMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Content Document Version detail not found for {!versionDetailId}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetOutputId</name>
        <label>SetOutputId</label>
        <locationX>50</locationX>
        <locationY>1832</locationY>
        <assignmentItems>
            <assignToReference>OutputId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AgreementFound.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Redirection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReinsurerSelected</name>
        <label>SetReinsurerSelected</label>
        <locationX>1152</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>ReinsurerSelected</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopSelection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopSelection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AgreementFoundInLoop</name>
        <label>AgreementFound?</label>
        <locationX>1064</locationX>
        <locationY>1724</locationY>
        <defaultConnector>
            <targetReference>getVersionDetails</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New Agreement</defaultConnectorLabel>
        <rules>
            <name>AgreementAlreadyExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AgreementFoundBool</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetOutputId</targetReference>
            </connector>
            <label>AgreementExists</label>
        </rules>
    </decisions>
    <decisions>
        <name>AgreementMatches</name>
        <label>AgreementMatches</label>
        <locationX>1284</locationX>
        <locationY>1274</locationY>
        <defaultConnector>
            <targetReference>FindExistingAgreement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Match</defaultConnectorLabel>
        <rules>
            <name>MatchFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FindExistingAgreement.Reinsurer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ReinsurerSelected.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignAgreementExisting</targetReference>
            </connector>
            <label>Match Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_DocumentVersionDetail</name>
        <label>Found DocumentVersionDetail ?</label>
        <locationX>2079</locationX>
        <locationY>1940</locationY>
        <defaultConnector>
            <targetReference>set_Error_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getVersionDetails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Acceptation_Record_Type</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_clone_success</name>
        <label>Is clone  success ?</label>
        <locationX>1040</locationX>
        <locationY>2696</locationY>
        <defaultConnector>
            <targetReference>Set_ErrMsg_CloneContentVersion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YESIs_clone_success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CloneContentVersion.isSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_ContentDocumentLink_with_DocVersionDetail</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Comply_success</name>
        <label>Is comply success ?</label>
        <locationX>446</locationX>
        <locationY>3128</locationY>
        <defaultConnector>
            <targetReference>Set_ErrMsg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_IsComplySuccess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Comply_imported_documents_on_documentVersionDetails.isSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Redirection2</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_createDocumentVersionDetails_success</name>
        <label>Is create success ?</label>
        <locationX>1469</locationX>
        <locationY>2480</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Set_ErrMsg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_Is_createDocumentVersionDetails_success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>createDocumentVersionDetails.isSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CloneContentVersion</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <description>1. From an acceptation agreement
2. Create a ceding agreement</description>
    <environments>Default</environments>
    <interviewLabel>CLM - Create Ceding Agreement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[TO DELETE] CLM - Create Ceding Agreements</label>
    <loops>
        <name>FindExistingAgreement</name>
        <label>FindExistingAgreement</label>
        <locationX>1064</locationX>
        <locationY>1166</locationY>
        <collectionReference>GetExistingAgreements</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AgreementMatches</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>AgreementFoundInLoop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopRequests</name>
        <label>LoopRequests</label>
        <locationX>1064</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_Requests</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddToPicklist</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>getAccountRecords</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopSelection</name>
        <label>LoopSelection</label>
        <locationX>1064</locationX>
        <locationY>866</locationY>
        <collectionReference>DisplayReinsurers.selectionList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SetReinsurerSelected</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>FindExistingAgreement</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_ContentDocumentLink_with_DocVersionDetail</name>
        <label>Create ContentDocumentLink with DocVersionDetail</label>
        <locationX>446</locationX>
        <locationY>2804</locationY>
        <connector>
            <targetReference>Update_DocVersionDetails_values</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ContentDocumentId</field>
            <value>
                <elementReference>CloneContentVersion.clonedContentDocId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedEntityId</field>
            <value>
                <elementReference>createDocumentVersionDetails.contentDocumentVersionDetail.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>createNewAgreement</name>
        <label>Create 🆕 agreement</label>
        <locationX>1469</locationX>
        <locationY>2264</locationY>
        <connector>
            <targetReference>createDocumentVersionDetails</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <inputReference>newAgreement</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Acceptation_Record_Type</name>
        <label>Get Acceptation Record Type</label>
        <locationX>1469</locationX>
        <locationY>2048</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PrepareAgreement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Acceptation</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Apttus__APTS_Agreement__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Requests</name>
        <label>Get Requests</label>
        <locationX>1064</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopRequests</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>programId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getAccountRecords</name>
        <label>getAccountRecords</label>
        <locationX>1064</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetExistingAgreements</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>AccountIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetExistingAgreements</name>
        <label>GetExistingAgreements</label>
        <locationX>1064</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ReinsurerSelection</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Reinsurer__c</field>
            <operator>In</operator>
            <value>
                <elementReference>AccountIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>programId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Apttus__APTS_Agreement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getVersionDetails</name>
        <label>Get DocVersionDetail</label>
        <locationX>2079</locationX>
        <locationY>1832</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_DocumentVersionDetail</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>versionDetailId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Apttus__ContentVersionId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Apttus__DocumentVersionDetail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>ROllback</name>
        <label>ROllback</label>
        <locationX>1040</locationX>
        <locationY>3620</locationY>
        <connector>
            <targetReference>ErrorScreen</targetReference>
        </connector>
    </recordRollbacks>
    <recordUpdates>
        <name>Update_DocVersionDetails_values</name>
        <label>Update DocVersionDetails values</label>
        <locationX>446</locationX>
        <locationY>2912</locationY>
        <connector>
            <targetReference>Comply_imported_documents_on_documentVersionDetails</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>createDocumentVersionDetails.contentDocumentVersionDetail.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Apttus__ContentId__c</field>
            <value>
                <elementReference>CloneContentVersion.clonedContentDocId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Apttus__ContentVersionId__c</field>
            <value>
                <elementReference>CloneContentVersion.clonedContentVersionId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Apttus__FileType__c</field>
            <value>
                <stringValue>ContentDocument</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Apttus__IsTransient__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Apttus__DocumentVersionDetail__c</object>
    </recordUpdates>
    <screens>
        <name>ErrorScreen</name>
        <label>Error screen</label>
        <locationX>1040</locationX>
        <locationY>3728</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_Redirectsuccess</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Oops.. an error occurred 😟&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(251, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(251, 0, 0);&quot;&gt;{!errMsg}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;Try to click on the Refresh button or try again in a few minutes.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;If the error persist please contact your administrator &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Redirection</name>
        <label>Redirection</label>
        <locationX>50</locationX>
        <locationY>1940</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Redirecting</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Agreement already exists for reinsurer. Redirecting...&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;﻿&lt;/span&gt;&lt;img src=&quot;https://www.anavcloudsoftwares.com/wp-content/themes/responsive-childtheme-master/assets-new/images/loader.gif&quot; alt=&quot;Converting Visitors Into Leads with Salesforce Web-to-Lead -&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>redirectToExistingAgreement</name>
            <extensionName>c:flowRedirectionCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>AgreementFound.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Redirection2</name>
        <label>Redirection</label>
        <locationX>314</locationX>
        <locationY>3236</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Redirectsuccess</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Agreement Copied Successfully ✅&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Redirecting&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;﻿&lt;/span&gt;&lt;img src=&quot;https://www.anavcloudsoftwares.com/wp-content/themes/responsive-childtheme-master/assets-new/images/loader.gif&quot; alt=&quot;Converting Visitors Into Leads with Salesforce Web-to-Lead -&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AgreementRedirection</name>
            <extensionName>c:flowRedirectionCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>newAgreement.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ReinsurerSelection</name>
        <label>Reinsurer Selection</label>
        <locationX>1064</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>LoopSelection</targetReference>
        </connector>
        <fields>
            <name>progId</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Please select the reinsurer for which you wish to generate a copy of the agreement:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayReinsurers</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>c:sfpegListMultiSelectorFlw</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordList</name>
                <value>
                    <elementReference>getAccountRecords</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cardIcon</name>
                <value>
                    <stringValue>standard:account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cardTitle</name>
                <value>
                    <stringValue>Select Reinsurer</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>defaultSortedBy</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldSetName</name>
                <value>
                    <stringValue>Account.CLM_Reinsurers_List_Selection</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>tiles</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideSelectAllBtn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tileSize</name>
                <value>
                    <numberValue>3.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>938</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Requests</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>AccountIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AgreementExists</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>AgreementFound</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__APTS_Agreement__c</objectType>
    </variables>
    <variables>
        <name>AgreementFoundBool</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>clonedContentVersion</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentVersion</objectType>
    </variables>
    <variables>
        <name>contentVersionListToMerge</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>errMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isFlowSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ListReinsurers</name>
        <dataType>Picklist</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newAgreement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__APTS_Agreement__c</objectType>
    </variables>
    <variables>
        <name>OutputId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>programId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ReinsurersCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ReinsurerSelected</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>versionDetailId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
