force-app/main/default/flows/CLM_SyncTreaty.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>get_label_loss_attachement</name>
        <label>get label loss attachement</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>CLM_PicklistUtility</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>LoopAGL</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>apiname</name>
            <value>
                <elementReference>Treaty.LossAttachment__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fieldApiname</name>
            <value>
                <stringValue>LossAttachment__c</stringValue>
            </value>
        </inputParameters>
        <nameSegment>CLM_PicklistUtility</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Sync</name>
        <label>Sync</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>LoopAGL.TreatyRef__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Treaty.TreatyReference__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopAGL.PlacementShare__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Treaty.PlacementShare_Perc__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopAGL.TreatyType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Treaty.TypeofTreaty__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopAGL.LossAttachment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_label_loss_attachement.label</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LineItemOutputs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopAGL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopAGL</targetReference>
        </connector>
    </assignments>
    <description>Sync treaty with AGL</description>
    <environments>Default</environments>
    <interviewLabel>CLM - Sync Treaty {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CLM - Sync Treaty</label>
    <loops>
        <name>LoopAGL</name>
        <label>LoopAGL</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>LineItemsInput</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Sync</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_label_loss_attachement</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>LineItemOutputs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Apttus__AgreementLineItem__c</objectType>
    </variables>
    <variables>
        <name>LineItemsInput</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__AgreementLineItem__c</objectType>
    </variables>
    <variables>
        <name>Treaty</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Treaty__c</objectType>
    </variables>
</Flow>
