force-app/main/default/flows/CLM_Agreement_Check_field_Related_to_program.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assign_loss_deposit_mode</name>
        <label>assign loss deposit mode</label>
        <locationX>281</locationX>
        <locationY>1595</locationY>
        <assignmentItems>
            <assignToReference>$Record.LossDepositMode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NIL</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Contract_will_not_be_signed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_status</name>
        <label>Assign status</label>
        <locationX>182</locationX>
        <locationY>2003</locationY>
        <assignmentItems>
            <assignToReference>$Record.Apttus__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Will not be signed</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_status1</name>
        <label>Assign status</label>
        <locationX>710</locationX>
        <locationY>2111</locationY>
        <assignmentItems>
            <assignToReference>$Record.Apttus__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Other Party Signatures</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>assign_Wording_name_1</name>
        <label>assign Wording name 1</label>
        <locationX>281</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Wording1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>-</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Wording_name_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Wording_name_2</name>
        <label>assign Wording name 2</label>
        <locationX>281</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>$Record.Wording2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>-</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Wording_name_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Wording_name_3</name>
        <label>assign Wording name 3</label>
        <locationX>281</locationX>
        <locationY>995</locationY>
        <assignmentItems>
            <assignToReference>$Record.Wording3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>-</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Wording_name_4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Wording_name_4</name>
        <label>assign Wording name 4</label>
        <locationX>281</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>$Record.Wording4__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>-</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_loss_deposit_mode</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_loss_deposit_mode</name>
        <label>check loss deposit mode</label>
        <locationX>413</locationX>
        <locationY>1487</locationY>
        <defaultConnector>
            <targetReference>Is_Contract_will_not_be_signed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>emptylossdepositmode</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LossDepositMode__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>assign_loss_deposit_mode</targetReference>
            </connector>
            <label>empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Wording_name_1</name>
        <label>Check Wording name 1</label>
        <locationX>413</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Check_Wording_name_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Wording1__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>assign_Wording_name_1</targetReference>
            </connector>
            <label>Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Wording_name_2</name>
        <label>Check Wording name 2</label>
        <locationX>413</locationX>
        <locationY>587</locationY>
        <defaultConnector>
            <targetReference>Check_Wording_name_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Empty2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Wording2__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>assign_Wording_name_2</targetReference>
            </connector>
            <label>Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Wording_name_3</name>
        <label>Check Wording name 3</label>
        <locationX>413</locationX>
        <locationY>887</locationY>
        <defaultConnector>
            <targetReference>Check_Wording_name_4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Empty3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Wording3__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>assign_Wording_name_3</targetReference>
            </connector>
            <label>Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Wording_name_4</name>
        <label>Check Wording name 4</label>
        <locationX>413</locationX>
        <locationY>1187</locationY>
        <defaultConnector>
            <targetReference>check_loss_deposit_mode</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Empty4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Wording4__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>assign_Wording_name_4</targetReference>
            </connector>
            <label>Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Changed_fieldContract_will_not_be_signed</name>
        <label>is Changed fieldContract will not be signed ?</label>
        <locationX>776</locationX>
        <locationY>1895</locationY>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContractWillBeSigned__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.ContractWillBeSigned__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>is_Renewal1</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Contract_will_not_be_signed</name>
        <label>Is Contract will not be signed ?</label>
        <locationX>413</locationX>
        <locationY>1787</locationY>
        <defaultConnector>
            <targetReference>is_Changed_fieldContract_will_not_be_signed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_Contract_will_not_be_signed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContractWillBeSigned__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>is_Renewal</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Renewal</name>
        <label>is Renewal?</label>
        <locationX>50</locationX>
        <locationY>1895</locationY>
        <defaultConnector>
            <targetReference>Assign_status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yesRenewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Apttus__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Renewal</stringValue>
                </rightValue>
            </conditions>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Renewal1</name>
        <label>is Renewal?</label>
        <locationX>578</locationX>
        <locationY>2003</locationY>
        <defaultConnector>
            <targetReference>Assign_status1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yesRenewal1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Apttus__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Renewal</stringValue>
                </rightValue>
            </conditions>
            <label>yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CLM -Agreement Check field Related to program {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CLM -Agreement Check field Related to program</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>287</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Wording_name_1</targetReference>
        </connector>
        <object>Apttus__APTS_Agreement__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>agreementtoupdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__APTS_Agreement__c</objectType>
    </variables>
    <variables>
        <name>updateAgreement</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
