force-app/main/default/flows/CLM_Retrocession_Create_related_agreement_relation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>add_to_collection</name>
        <label>add to collection</label>
        <locationX>798</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>lstRelatedAgreements</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>relatedAgreementRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>eachInitialAgre</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Init_related_agreement_record</name>
        <label>Init related agreement record</label>
        <locationX>798</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>relatedAgreementRec.Apttus__APTS_Contract_From__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eachInitialAgre.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>relatedAgreementRec.Apttus__APTS_Contract_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eachAmendedAgre.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>relatedAgreementRec.Apttus__Relationship_From_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Is Amendment For</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>relatedAgreementRec.Apttus__Relationship_To_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Is Amended By</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>relatedAgreementRec.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Current Agreement</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_errMsg</name>
        <label>Set errMsg</label>
        <locationX>314</locationX>
        <locationY>1400</locationY>
        <assignmentItems>
            <assignToReference>errMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_isSuccess</name>
        <label>Set isSuccess</label>
        <locationX>314</locationX>
        <locationY>1724</locationY>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Allset</name>
        <label>AmendedAgreements &amp; InitialAgreements set ?</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>is_collection_set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YESAllset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>amendedAgreements</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>initialAgreements</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>eachInitialAgre</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_collection_set</name>
        <label>is collection set ?</label>
        <locationX>314</locationX>
        <locationY>1184</locationY>
        <defaultConnector>
            <targetReference>Set_isSuccess</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YESis_collection_set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>lstRelatedAgreements</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insert_related_agreeements</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_same_risk_carrier</name>
        <label>Is same risk carrier ?</label>
        <locationX>930</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>eachAmendedAgre</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YESIs_same_risk_carrier</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>eachAmendedAgre.RiskCarrier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>eachInitialAgre.RiskCarrier__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Init_related_agreement_record</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CLM - Retrocession - Create related agreement relation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CLM - Retrocession - Create related agreement relation</label>
    <loops>
        <name>eachAmendedAgre</name>
        <label>eachAmendedAgre</label>
        <locationX>710</locationX>
        <locationY>350</locationY>
        <collectionReference>amendedAgreements</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_same_risk_carrier</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>eachInitialAgre</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>eachInitialAgre</name>
        <label>eachInitialAgre</label>
        <locationX>270</locationX>
        <locationY>242</locationY>
        <collectionReference>initialAgreements</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>eachAmendedAgre</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>is_collection_set</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_related_agreeements</name>
        <label>Insert related agreeements</label>
        <locationX>50</locationX>
        <locationY>1292</locationY>
        <connector>
            <targetReference>Set_isSuccess</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_errMsg</targetReference>
        </faultConnector>
        <inputReference>lstRelatedAgreements</inputReference>
    </recordCreates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Allset</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>amendedAgreements</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__APTS_Agreement__c</objectType>
    </variables>
    <variables>
        <name>errMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>initialAgreements</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__APTS_Agreement__c</objectType>
    </variables>
    <variables>
        <name>isSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>lstRelatedAgreements</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__APTS_Related_Agreement__c</objectType>
    </variables>
    <variables>
        <name>relatedAgreementRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__APTS_Related_Agreement__c</objectType>
    </variables>
</Flow>
