force-app/main/default/flows/CLM_Agreements_SyncProgram.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Value_Change</name>
        <label>Check Value Change</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>updateAgreements</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No value change</defaultConnectorLabel>
        <rules>
            <name>ValueChange</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WordingName__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.WordingName__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WordingName2__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.WordingName2__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WordingName3__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.WordingName3__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WordingName4__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.WordingName4__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.InceptionDate__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.InceptionDate__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Expirydate__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Expirydate__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.UwYear__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.UwYear__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PrincipalCedingCompany__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.PrincipalCedingCompany__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetAgreementsImpacted</targetReference>
            </connector>
            <label>ValueChange</label>
        </rules>
    </decisions>
    <description>Sync program and agreement records</description>
    <environments>Default</environments>
    <interviewLabel>CLM - Agreements - Sync Program {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CLM - Agreements - Sync Program</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Retrieves list of agreement records impacted</description>
        <name>GetAgreementsImpacted</name>
        <label>GetAgreementsImpacted</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SyncPrograms</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Apttus__APTS_Agreement__c</object>
        <outputReference>listAgmts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Wording1__c</queriedFields>
        <queriedFields>Wording2__c</queriedFields>
        <queriedFields>Wording3__c</queriedFields>
        <queriedFields>Wording4__c</queriedFields>
        <queriedFields>AccountLegalName__c</queriedFields>
        <queriedFields>ExpiryDate__c</queriedFields>
        <queriedFields>InceptionDate__c</queriedFields>
        <queriedFields>UnderwritingYear__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>updateAgreements</name>
        <label>updateAgreements</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <inputReference>SyncPrograms.agreementListToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Value_Change</targetReference>
        </connector>
        <object>Program__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>SyncPrograms</name>
        <label>SyncPrograms</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>updateAgreements</targetReference>
        </connector>
        <flowName>CLM_SyncProgramSubflow</flowName>
        <inputAssignments>
            <name>agreementList</name>
            <value>
                <elementReference>listAgmts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Program</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>AgreementsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__APTS_Agreement__c</objectType>
    </variables>
    <variables>
        <name>listAgmts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__APTS_Agreement__c</objectType>
    </variables>
</Flow>
