force-app/main/default/flows/CLM_Subflow_get_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>init_list_ids_Accounts</name>
        <label>init list ids Accounts</label>
        <locationX>970</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>ListIdsAccounts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>each_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>each_Account</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>CLM - Subflow get Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CLM - Subflow get Account</label>
    <loops>
        <name>each_Account</name>
        <label>each Account</label>
        <locationX>882</locationX>
        <locationY>290</locationY>
        <collectionReference>Get_Account</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>init_list_ids_Accounts</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>882</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>each_Account</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>TECH_ReferentialId__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>C_1827</stringValue>
            </value>
        </filters>
        <filters>
            <field>TECH_ReferentialId__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>C_1</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>756</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ListIdsAccounts</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
