force-app/main/default/flows/CLM_Update_Child_Agrrement_on_parent_change.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assign_field_on_child_agreement</name>
        <label>assign field on child agreement</label>
        <locationX>270</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>agreementtoupdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_child_agreement.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>agreementtoupdate.Business_Line__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Business_Line__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>listAgreementToupdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>agreementtoupdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Each_child_agreement</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>agreement_child_not_null</name>
        <label>agreement child not null ?</label>
        <locationX>380</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YESHASCHILD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_child_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Each_child_agreement</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Field_Agrrement_parent_Change</name>
        <label>Field Agrrement parent Change ?</label>
        <locationX>611</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Line__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Business_Line__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Apttus__Parent_Agreement__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_child_Records</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>has_record_to_update</name>
        <label>has record to update ?</label>
        <locationX>182</locationX>
        <locationY>947</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YESRECTOUPDATE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>listAgreementToupdate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UPDATE_CHILD_AGREEMENT</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CLM - Update Child Agrrement on parent change {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CLM - Update Child Agrrement on parent change</label>
    <loops>
        <name>Each_child_agreement</name>
        <label>Each child agreement</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <collectionReference>get_child_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_field_on_child_agreement</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>has_record_to_update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_child_Records</name>
        <label>get child Records</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>agreement_child_not_null</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Apttus__Parent_Agreement__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>InitialAgreement__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Apttus__APTS_Agreement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UPDATE_CHILD_AGREEMENT</name>
        <label>UPDATE CHILD AGREEMENT</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <inputReference>listAgreementToupdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Field_Agrrement_parent_Change</targetReference>
        </connector>
        <object>Apttus__APTS_Agreement__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>agreementtoupdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__APTS_Agreement__c</objectType>
    </variables>
    <variables>
        <name>listAgreementToupdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__APTS_Agreement__c</objectType>
    </variables>
</Flow>
