force-app/main/default/flows/CLM_Retrocession_Subflow_Auto_set_template.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Copy_1_of_Set_template_name</name>
        <label>Set template name</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>templateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Retrocession template - Life Non propor-Proportional Retroc with deposit</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>eachTemplate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Set_template_selection</name>
        <label>Set template name</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>templateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Retrocession Template - Group Cover</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>eachTemplate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Set_template_name</name>
        <label>Set template name</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>templateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Retrocession template - P&amp;C Non propor Retro with deposit</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>eachTemplate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Set_template_name</name>
        <label>Set template name</label>
        <locationX>1106</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>templateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Retrocession template - P&amp;C Non propor Retro without deposit</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>eachTemplate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_4_of_Set_template_name</name>
        <label>Set template name</label>
        <locationX>1370</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>templateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Retrocession template - P&amp;C Propor Retro with deposit</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>eachTemplate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_5_of_Set_template_name</name>
        <label>Set template name</label>
        <locationX>1634</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>templateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Retrocession template - P&amp;C Propor Retro without deposit</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>eachTemplate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_template_Name_not_found</name>
        <label>Set template Name not found</label>
        <locationX>311</locationX>
        <locationY>2186</locationY>
        <assignmentItems>
            <assignToReference>templateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>templatenotfound_calc</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_template_selection</name>
        <label>Set template name</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>templateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>3 Retrocession Addendum EN</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>eachTemplate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_templateId</name>
        <label>Set templateId</label>
        <locationX>399</locationX>
        <locationY>1802</locationY>
        <assignmentItems>
            <assignToReference>templateId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eachTemplate.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Copy_1_of_Eligible_P_C_Non_proportional_retrocession_without_deposit</name>
        <label>Eligible &quot;P&amp;C Non Proportional retrocession without deposit &quot; ?</label>
        <locationX>1337</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Eligible_P_C_Non_Proportional_retrocession_without_deposit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>treaty.TypeofTreaty__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>treaty.TypeofTreaty__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SigningRequest.LossDeposit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Set_template_name</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Eligible_P_C_proportional_retrocession_with_deposit</name>
        <label>Eligible &quot;P&amp;C proportional retrocession without deposit&quot; ?</label>
        <locationX>1766</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>eachTemplate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YESCopy_1_of_Eligible_P_C_proportional_retrocession_with_deposit</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>treaty.TypeofTreaty__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>treaty.TypeofTreaty__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SigningRequest.LossDeposit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_5_of_Set_template_name</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_Eligible_P_C_Non_Proportional_retrocession_without_deposit</name>
        <label>Eligible &quot;P&amp;C proportional retrocession with deposit&quot; ?</label>
        <locationX>1568</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Eligible_P_C_proportional_retrocession_with_deposit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YESCopy_2_of_Eligible_P_C_Non_Proportional_retrocession_without_deposit</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>treaty.TypeofTreaty__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>treaty.TypeofTreaty__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SigningRequest.LossDeposit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_Set_template_name</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Eligible_PC_1</name>
        <label>Eligible &quot;P&amp;C Non proportional retrocession with deposit&quot; ?</label>
        <locationX>1089</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Eligible_P_C_Non_proportional_retrocession_without_deposit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YESEligible_PC_1</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>treaty.TypeofTreaty__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>treaty.TypeofTreaty__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SigningRequest.LossDeposit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Set_template_name</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>templateName_template</name>
        <label>templateName = template ?</label>
        <locationX>531</locationX>
        <locationY>1694</locationY>
        <defaultConnector>
            <targetReference>eachTemplate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YEStemplateName_template</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>eachTemplate.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>templateName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_templateId</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>X0_Check_if_amended</name>
        <label>#0 Check if amended ?</label>
        <locationX>311</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>X1_Check_if_Group_cover</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YESX0_Check_if_amended</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>agreement.isAmended__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_template_selection</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>X1_Check_if_Group_cover</name>
        <label>#1: Check if Group cover</label>
        <locationX>573</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>X2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YESX1_Check_if_Group_cover</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>agreement.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GroupCover</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Set_template_selection</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>X2</name>
        <label>#2 Check Nature = Life</label>
        <locationX>833</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Eligible_PC_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_X2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>agreement.Program__r.Nature__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>23002</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Set_template_name</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <description>Based on different criterias, set the retrocession template</description>
    <environments>Default</environments>
    <formulas>
        <name>templatenotfound_calc</name>
        <dataType>String</dataType>
        <expression>{!templateName} &amp; &quot; NOT FOUND ⛔️&quot;</expression>
    </formulas>
    <interviewLabel>CLM - Retrocession - Subflow - Auto-set template {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CLM - Retrocession - Subflow - Auto-set template</label>
    <loops>
        <name>eachTemplate</name>
        <label>eachTemplate</label>
        <locationX>311</locationX>
        <locationY>1586</locationY>
        <collectionReference>templates</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>templateName_template</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_template_Name_not_found</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>185</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>X0_Check_if_amended</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>agreement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__APTS_Agreement__c</objectType>
    </variables>
    <variables>
        <name>SigningRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Request__c</objectType>
    </variables>
    <variables>
        <name>templateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>templateName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>templates</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__APTS_Template__c</objectType>
    </variables>
    <variables>
        <name>treaty</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Treaty__c</objectType>
    </variables>
</Flow>
