force-app/main/default/flows/CLM_ActivateAgreement.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ActivateAgreement</name>
        <label>ActivateAgreement</label>
        <locationX>1216</locationX>
        <locationY>3276</locationY>
        <actionName>CLM_ActivateAgreement</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>Show_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>activateDocIds</name>
            <value>
                <elementReference>ContentDocumentIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agreementId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>remDocIds</name>
            <value>
                <elementReference>ContentDocumentIds</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CLM_ActivateAgreement</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_List_Id_contenDcument</name>
        <label>Assign List Id contenDcument</label>
        <locationX>1042</locationX>
        <locationY>816</locationY>
        <assignmentItems>
            <assignToReference>listContentDocumentIdInAgreement</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>each_CDL_Agreement.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>each_CDL_Agreement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CurrentDocumentResetLink</name>
        <label>CurrentDocumentLinkReset</label>
        <locationX>1414</locationX>
        <locationY>1608</locationY>
        <assignmentItems>
            <assignToReference>CurrentDocumentLink</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>HasCDL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GetListIDDVD</name>
        <label>Get List ID DVD</label>
        <locationX>1150</locationX>
        <locationY>1200</locationY>
        <assignmentItems>
            <assignToReference>lstIdDVD</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopDocumentVersionDetails.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopDocumentVersionDetails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Agreement_Content_Documents</name>
        <label>Set Agreement Content Documents</label>
        <locationX>1196</locationX>
        <locationY>3000</locationY>
        <assignmentItems>
            <assignToReference>ContentDocumentIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Agreement_Documents.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Agreement_Documents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetContentIds</name>
        <label>SetContentIds</label>
        <locationX>1326</locationX>
        <locationY>1932</locationY>
        <assignmentItems>
            <assignToReference>CurrentDocumentLink.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentDocumentLink.ShareType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>V</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentDocumentLink.Visibility</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AllUsers</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentDocumentLink.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopDVD.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListContentDocumentLinksToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentDocumentLink</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopDVD</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Show_Error</name>
        <label>Show Error</label>
        <locationX>1546</locationX>
        <locationY>3384</locationY>
        <customErrorMessages>
            <errorMessage>{!ActivateAgreement.errorMsg}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Check_CDL_Agreement</name>
        <label>Check CDL Agreement</label>
        <locationX>1062</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <targetReference>LoopDocumentVersionDetails</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_CDL_Agreement</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>each_CDL_Agreement</targetReference>
            </connector>
            <label>Not null ?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_ContentDocument_Already_linked_Agreement</name>
        <label>Check if ContentDocument Already linked to Agreement ?</label>
        <locationX>1238</locationX>
        <locationY>1824</locationY>
        <defaultConnector>
            <targetReference>SetContentIds</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>Copy_3_of_YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>listContentDocumentIdInAgreement</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>LoopDVD.ContentDocumentId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopDVD</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckValueChange</name>
        <label>CheckValueChange</label>
        <locationX>50</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>No change</defaultConnectorLabel>
        <rules>
            <name>StatusChnged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Apttus__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Apttus__Status__c</elementReference>
                </rightValue>
            </conditions>
            <label>Status Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>ContainsDocVersionDetails</name>
        <label>ContainsDocVersionDetails</label>
        <locationX>1216</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>GetContentDocumentLinksAgreement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Contains</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Document_Version_Details</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CDL_Agreement</targetReference>
            </connector>
            <label>Yes Contains</label>
        </rules>
    </decisions>
    <decisions>
        <name>ContentDcumentLinksFound</name>
        <label>ContentDcumentLinksFound</label>
        <locationX>1216</locationX>
        <locationY>2784</locationY>
        <defaultConnector>
            <targetReference>ActivateAgreement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesContentFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetContentDocumentLinksAgreement</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_Agreement_Documents</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>HasCDL</name>
        <label>Has CDL</label>
        <locationX>1414</locationX>
        <locationY>1716</locationY>
        <defaultConnector>
            <targetReference>LoopDVD</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Link</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopDVD.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_ContentDocument_Already_linked_Agreement</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>HasContentDocumentLinks</name>
        <label>HasContentDocumentLinks</label>
        <locationX>1062</locationX>
        <locationY>2292</locationY>
        <defaultConnector>
            <targetReference>GetContentDocumentLinksAgreement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No cdl</defaultConnectorLabel>
        <rules>
            <name>YeshAs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ListContentDocumentLinksToInsert</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>insert_Content_Document</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>W-2281 : CLM - Status is not updated when signed =&gt; Correction Too many SOQL 201</description>
    <environments>Default</environments>
    <interviewLabel>CLM - Activate Agreement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CLM - Activate Agreement</label>
    <loops>
        <name>each_CDL_Agreement</name>
        <label>each CDL Agreement</label>
        <locationX>954</locationX>
        <locationY>708</locationY>
        <collectionReference>Get_CDL_Agreement</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_List_Id_contenDcument</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>LoopDocumentVersionDetails</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Agreement_Documents</name>
        <label>Iterate Agreement Documents</label>
        <locationX>1108</locationX>
        <locationY>2892</locationY>
        <collectionReference>GetContentDocumentLinksAgreement</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Agreement_Content_Documents</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ActivateAgreement</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopDocumentVersionDetails</name>
        <label>LoopDocumentVersionDetails</label>
        <locationX>1062</locationX>
        <locationY>1092</locationY>
        <collectionReference>Get_Document_Version_Details</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GetListIDDVD</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GettDocumentLinksDVD</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopDVD</name>
        <label>Loop On ContentDocLink DVD</label>
        <locationX>1062</locationX>
        <locationY>1500</locationY>
        <collectionReference>GettDocumentLinksDVD</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CurrentDocumentResetLink</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>HasContentDocumentLinks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>insert_Content_Document</name>
        <label>insert Content Document Link</label>
        <locationX>930</locationX>
        <locationY>2400</locationY>
        <connector>
            <targetReference>GetContentDocumentLinksAgreement</targetReference>
        </connector>
        <inputReference>ListContentDocumentLinksToInsert</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_CDL_Agreement</name>
        <label>Get CDL Agreement</label>
        <locationX>1062</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_CDL_Agreement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Document_Version_Details</name>
        <label>Get Document Version Details</label>
        <locationX>1216</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ContainsDocVersionDetails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TECH_AgreementId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Apttus__DocumentVersionDetail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetContentDocumentLinksAgreement</name>
        <label>GetContentDocumentLinksAgreement</label>
        <locationX>1216</locationX>
        <locationY>2676</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ContentDcumentLinksFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GettDocumentLinksDVD</name>
        <label>Get ContentDocumentLink From DVD</label>
        <locationX>1062</locationX>
        <locationY>1392</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopDVD</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>In</operator>
            <value>
                <elementReference>lstIdDVD</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>507</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CheckValueChange</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Apttus__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fully Signed</stringValue>
            </value>
        </filters>
        <object>Apttus__APTS_Agreement__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>Async_Path</name>
            <connector>
                <targetReference>Get_Document_Version_Details</targetReference>
            </connector>
            <label>Async Path</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ContentDocumentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentDocumentLink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>listContentDocumentIdInAgreement</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListContentDocumentLinksToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>lstIdDVD</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
