force-app/main/default/flows/CLM_AgreementLineItems_SyncTreaties.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CLM_Concat_Field_AGL_On_Agreement</name>
        <label>[CLM] Concat Field AGL On Agreement</label>
        <locationX>336</locationX>
        <locationY>3155</locationY>
        <actionName>CLM_UpdateAgreementByAGL</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>AgreementIdList</name>
            <value>
                <elementReference>idAgreementList</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CLM_UpdateAgreementByAGL</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Id_Agreement</name>
        <label>Assign Id Agreement</label>
        <locationX>721</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>idAgreementList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopAgls.Apttus__AgreementId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopAgls</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentDelete</name>
        <label>AssignmentDelete</label>
        <locationX>589</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>toDeleteList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopAgls</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_id_Agl_to_delete</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>reset_order</name>
        <label>reset order</label>
        <locationX>270</locationX>
        <locationY>2387</locationY>
        <assignmentItems>
            <assignToReference>order</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AgreementName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>each_agl_to_order.Apttus__AgreementId__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>set_order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_id_Agl_to_delete</name>
        <label>Set id Agl to delete</label>
        <locationX>589</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>AglIdTodelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopAgls.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Id_Agreement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_order</name>
        <label>set order</label>
        <locationX>402</locationX>
        <locationY>2579</locationY>
        <assignmentItems>
            <assignToReference>each_agl_to_order.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>order</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>order</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateAglOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>each_agl_to_order</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>each_agl_to_order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sync</name>
        <label>Sync</label>
        <locationX>853</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>LoopAgls.PlacementShare__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PlacementShare_Perc__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopAgls.TreatyRef__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TreatyReference__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopAgls.LossAttachment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lossAttachmentCALC</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopAgls.Layer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Layer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopAgls.treatyName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>toUpdateList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopAgls</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Id_Agreement</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_Treaty_sort</name>
        <label>check Treaty sort</label>
        <locationX>402</locationX>
        <locationY>2279</locationY>
        <defaultConnector>
            <targetReference>set_order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Change</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>AgreementName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>each_agl_to_order.Apttus__AgreementId__r.Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>reset_order</targetReference>
            </connector>
            <label>Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_update_list</name>
        <label>check update list</label>
        <locationX>501</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>CheckDeleteList</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>toUpdateList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateRecords</targetReference>
            </connector>
            <label>not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Value_Change</name>
        <label>Check Value Change</label>
        <locationX>715</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>No Value Change</defaultConnectorLabel>
        <rules>
            <name>Value_Changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TreatyReference__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.TreatyReference__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PlacementShare_Perc__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.PlacementShare_Perc__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LossAttachment__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.LossAttachment__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Layer__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Layer__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Agreement_Line_Items</targetReference>
            </connector>
            <label>Value Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckDeleteList</name>
        <label>CheckDeleteList</label>
        <locationX>501</locationX>
        <locationY>1547</locationY>
        <defaultConnector>
            <targetReference>List_Agreement_not_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No records to delete</defaultConnectorLabel>
        <rules>
            <name>Has_records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>toDeleteList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_AGLs</targetReference>
            </connector>
            <label>Has records</label>
        </rules>
    </decisions>
    <decisions>
        <name>Layer_and_Name_Change</name>
        <label>Layer and Name Change ?</label>
        <locationX>336</locationX>
        <locationY>1955</locationY>
        <defaultConnector>
            <targetReference>CLM_Concat_Field_AGL_On_Agreement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YESChangeLayerName</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Layer__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Layer__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Agl</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>List_Agreement_not_null</name>
        <label>List Agreement not null ?</label>
        <locationX>501</locationX>
        <locationY>1847</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YESNOTNULLAGRID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>idAgreementList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Layer_and_Name_Change</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Treaty_Cancelled</name>
        <label>Treaty Cancelled</label>
        <locationX>721</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Sync</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignmentDelete</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Agl_order_Exist</name>
        <label>Update Agl order Exist ?</label>
        <locationX>182</locationX>
        <locationY>2771</locationY>
        <defaultConnector>
            <targetReference>CLM_Concat_Field_AGL_On_Agreement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YESaglorderupdate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>updateAglOrder</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_All_related_Agl_order</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>lossAttachmentCALC</name>
        <dataType>String</dataType>
        <expression>CASE(TEXT({!$Record.LossAttachment__c}), 
    &quot;1&quot;, &quot;Risk Attaching&quot;, 
    &quot;2&quot;, &quot;Loss Occuring&quot;, 
    &quot;3&quot;, &quot;Claims Made&quot;,
    &quot;4&quot;, &quot;Risk Attaching + Loss Occurring&quot;,
    &quot;5&quot;, &quot;Risk Attaching + Claims Made&quot;,
    &quot;6&quot;, &quot;Loss Occurring + Claims Made&quot;,
    &quot;7&quot;, &quot;Risk Attaching + Loss Occurring + Claims Made&quot;,
    &quot;&quot;
)</expression>
    </formulas>
    <interviewLabel>CLM - Agreement Line Items - Sync Treaties {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CLM - Agreement Line Items - Sync Treaties</label>
    <loops>
        <name>each_agl_to_order</name>
        <label>each agl to order</label>
        <locationX>182</locationX>
        <locationY>2171</locationY>
        <collectionReference>Get_Related_Agl</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>check_Treaty_sort</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Agl_order_Exist</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopAgls</name>
        <label>LoopAgls</label>
        <locationX>501</locationX>
        <locationY>539</locationY>
        <collectionReference>AGLRetrieved</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Treaty_Cancelled</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>check_update_list</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_AGLs</name>
        <label>Delete AGLs</label>
        <locationX>369</locationX>
        <locationY>1655</locationY>
        <connector>
            <targetReference>List_Agreement_not_null</targetReference>
        </connector>
        <inputReference>toDeleteList</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Agreement_Line_Items</name>
        <label>Get Agreement Line Items</label>
        <locationX>501</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopAgls</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Treaty__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Apttus__AgreementLineItem__c</object>
        <outputReference>AGLRetrieved</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>PlacementShare__c</queriedFields>
        <queriedFields>TreatyRef__c</queriedFields>
        <queriedFields>LossAttachment__c</queriedFields>
        <queriedFields>Apttus__AgreementId__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Agl</name>
        <label>Get Related Agl</label>
        <locationX>182</locationX>
        <locationY>2063</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>each_agl_to_order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Apttus__AgreementId__c</field>
            <operator>In</operator>
            <value>
                <elementReference>idAgreementList</elementReference>
            </value>
        </filters>
        <filters>
            <field>TECH_RecordTypeDevName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Treaty</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>AglIdTodelete</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Apttus__AgreementLineItem__c</object>
        <sortField>Tech_treatySort__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_All_related_Agl_order</name>
        <label>Update All related Agl order</label>
        <locationX>50</locationX>
        <locationY>2879</locationY>
        <connector>
            <targetReference>CLM_Concat_Field_AGL_On_Agreement</targetReference>
        </connector>
        <inputReference>updateAglOrder</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateRecords</name>
        <label>updateRecords</label>
        <locationX>369</locationX>
        <locationY>1355</locationY>
        <connector>
            <targetReference>CheckDeleteList</targetReference>
        </connector>
        <inputReference>toUpdateList</inputReference>
    </recordUpdates>
    <start>
        <locationX>589</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Value_Change</targetReference>
        </connector>
        <object>Treaty__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AglIdTodelete</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>AGL retrieved for the treaties</description>
        <name>AGLRetrieved</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__AgreementLineItem__c</objectType>
    </variables>
    <variables>
        <name>AgreementName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>idAgreementList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>order</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>toDeleteList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__AgreementLineItem__c</objectType>
    </variables>
    <variables>
        <name>toUpdateList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__AgreementLineItem__c</objectType>
    </variables>
    <variables>
        <name>updateAglOrder</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__AgreementLineItem__c</objectType>
    </variables>
</Flow>
