force-app/main/default/flows/CLM_DocumentVersionDetail_Set_Stage.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assign_status_document_version_detail</name>
        <label>assign status document version detail</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>statusRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Apttus__DocumentVersionId__r.Apttus__AgreementId__r.TECH_ProgramStage__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_status_document_version_details</name>
        <label>assign status document version details</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>statusRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_document_extension_doc.Stage__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Value</name>
        <label>Assign Value</label>
        <locationX>248</locationX>
        <locationY>923</locationY>
        <assignmentItems>
            <assignToReference>$Record.Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>statusRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>insertion</name>
        <label>insertion</label>
        <locationX>446</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_status_document_version_detail</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_a_program_associated_to_the_agreement</name>
        <label>Is a program associated to the agreement ?</label>
        <locationX>545</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_ProgramAssociated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Apttus__DocumentVersionId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Apttus__DocumentVersionId__r.Apttus__AgreementId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Apttus__DocumentVersionId__r.Apttus__AgreementId__r.Program__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Apttus__DocumentVersionId__r.Apttus__AgreementId__r.Program__r.TECH_StageName__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>is_extension_pdf</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_extension_pdf</name>
        <label>is extension pdf ?</label>
        <locationX>248</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>insertion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_PDF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FileExtension__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>pdf</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_document_extension_doc</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>concatName</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!$Record.Apttus__Title__c},{!$Record.FileExtension__c}, &apos;&apos;) + &apos;_&apos; + TEXT({!$Record.Stage__c})+&apos;.&apos;+{!$Record.FileExtension__c}</expression>
    </formulas>
    <formulas>
        <name>Name_Calc</name>
        <dataType>String</dataType>
        <expression>{!$Record.Name} &amp; &apos;_&apos; &amp; TEXT({!$Record.Apttus__DocumentVersionId__r.Apttus__AgreementId__r.Program__r.TECH_StageName__c})</expression>
    </formulas>
    <formulas>
        <name>namedocwithoutextensionpdf</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!$Record.Name}, &quot;-pdf&quot;, &quot;&quot;)</expression>
    </formulas>
    <interviewLabel>CLM - Document Version Detail - Set Stage {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CLM - Document Version Detail - Set Stage/Title</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_document_extension_doc</name>
        <label>get document extension doc</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_status_document_version_details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Tech_AgreementName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Tech_AgreementName__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>namedocwithoutextensionpdf</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Apttus__DocumentVersionDetail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update</name>
        <label>Update</label>
        <locationX>248</locationX>
        <locationY>1031</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>419</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_a_program_associated_to_the_agreement</targetReference>
        </connector>
        <object>Apttus__DocumentVersionDetail__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>statusRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
