force-app/main/default/flows/CLM_Agreements_RenameAmendmentsSubflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_To_Update_List</name>
        <label>Add To Update List</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>AgreementsTpUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AgreementCurrent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopRelatedAgreements</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_SetCurrentAgreement</name>
        <label>SetCurrentAgreement Custom</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>AgreementCurrent.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopRelatedAgreements.Apttus__APTS_Contract_To__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AgreementCurrent.InitialAgreement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopRelatedAgreements.Apttus__APTS_Contract_From__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AgreementCurrent.FullName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopRelatedAgreements.Apttus__APTS_Contract_To__r.FullName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AgreementCurrent.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopRelatedAgreements.Apttus__APTS_Contract_To__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Add_To_Update_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Add_To_Update_List</name>
        <label>Add To Update Custom List</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>AgreementsTpUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AgreementCurrent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopRelatedAgreements</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCurrentAgreement</name>
        <label>SetCurrentAgreement</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>AgreementCurrent.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopRelatedAgreements.Apttus__APTS_Contract_To__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AgreementCurrent.FullName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormattedFullName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AgreementCurrent.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormattednameTrimmed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AgreementCurrent.InitialAgreement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopRelatedAgreements.Apttus__APTS_Contract_From__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AgreementCurrent.AmendmentNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormattedAmendmentNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Update_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckAgreementsToUpdate</name>
        <label>CheckAgreementsToUpdate</label>
        <locationX>224</locationX>
        <locationY>1226</locationY>
        <defaultConnectorLabel>false</defaultConnectorLabel>
        <rules>
            <name>CheckTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AgreementsTpUpdate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateAgreements</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>ContainsAmendments</name>
        <label>ContainsAmendments</label>
        <locationX>224</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>CheckAgreementsToUpdate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesContains</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RetrieveAmendments</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopRelatedAgreements</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Amendment_Custom</name>
        <label>Is Amendment Custom ?</label>
        <locationX>446</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>SetCurrentAgreement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Custom</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopRelatedAgreements.Apttus__APTS_Contract_To__r.FullName__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Amended A</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_SetCurrentAgreement</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Deleted</name>
        <label>is Deleted</label>
        <locationX>292</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Is_Amendment_Custom</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Deleted</defaultConnectorLabel>
        <rules>
            <name>Is_Deletede</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopRelatedAgreements.Apttus__APTS_Contract_To__r.IsDeleted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopRelatedAgreements</targetReference>
            </connector>
            <label>Is Deleted</label>
        </rules>
    </decisions>
    <description>W-2082 - CLM - Amendments numbers text wording[BBH 16.07.2024]
W-2243 - CLM - Amendment A button to be created for Acceptation contract only 26.12.24</description>
    <environments>Default</environments>
    <formulas>
        <name>FormattedAmendmentNumber</name>
        <dataType>String</dataType>
        <expression>TEXT({!Counter})</expression>
    </formulas>
    <formulas>
        <name>FormattedFullName</name>
        <dataType>String</dataType>
        <expression>{!LoopRelatedAgreements.Apttus__APTS_Contract_From__r.FullName__c} + &apos; Amended  &apos; + TEXT({!Counter})</expression>
    </formulas>
    <formulas>
        <name>FormattednameTrimmed</name>
        <dataType>String</dataType>
        <expression>LEFT({!FormattedFullName},80)</expression>
    </formulas>
    <interviewLabel>CLM - Agreements - Rename Amendments Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CLM - Agreements - Rename Amendments Subflow</label>
    <loops>
        <name>LoopRelatedAgreements</name>
        <label>LoopRelatedAgreements</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <collectionReference>RetrieveAmendments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>is_Deleted</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CheckAgreementsToUpdate</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>RetrieveAmendments</name>
        <label>RetrieveAmendments</label>
        <locationX>224</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ContainsAmendments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Apttus__APTS_Contract_From__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AgreementInitial.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Apttus__Relationship_From_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Is Amendment For</stringValue>
            </value>
        </filters>
        <filters>
            <field>Apttus__APTS_Contract_To__c</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>AgreementsToExcludeDeleted</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Apttus__APTS_Related_Agreement__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateAgreements</name>
        <label>UpdateAgreements</label>
        <locationX>92</locationX>
        <locationY>1334</locationY>
        <inputReference>AgreementsTpUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>98</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>RetrieveAmendments</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AgreementCurrent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__APTS_Agreement__c</objectType>
    </variables>
    <variables>
        <name>AgreementInitial</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__APTS_Agreement__c</objectType>
    </variables>
    <variables>
        <name>AgreementsToExcludeDeleted</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AgreementsTpUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__APTS_Agreement__c</objectType>
    </variables>
    <variables>
        <name>Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
</Flow>
