force-app/main/default/flows/CLM_Agreement_Amendment_A.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>AmmendAgreement</name>
        <label>Amend Agreement</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <actionName>CLM_AmmendAgreement</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Generate_Document</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ROllback</targetReference>
        </faultConnector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>agreementId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customSuffix</name>
            <value>
                <stringValue>Amended A</stringValue>
            </value>
        </inputParameters>
        <nameSegment>CLM_AmmendAgreement</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Comply_imported_documents_on_documentVersionDetails</name>
        <label>Comply imported documents on documentVersionDetails</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <actionName>CLM_ComplyImportedDocs</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Ammend_Successful</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ROllback</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>agreementId</name>
            <value>
                <elementReference>AmmendAgreement.agreementGenerated.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CLM_ComplyImportedDocs</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Create_Document_Version_Details</name>
        <label>Create Document Version Details</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <actionName>CLM_CreateDocumentVersionDetails</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Content_Document_Link_with_DVD</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ROllback</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>agreementId</name>
            <value>
                <elementReference>AmmendAgreement.agreementGenerated.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <stringValue>Amendment A</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <elementReference>Generate_Document.templateId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CLM_CreateDocumentVersionDetails</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Generate_Document</name>
        <label>Generate Document</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <actionName>CLM_GenerateAgreement</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Document_Version_Details</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ROllback</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>agreementId</name>
            <value>
                <elementReference>AmmendAgreement.agreementGenerated.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateName</name>
            <value>
                <stringValue>Addendum A</stringValue>
            </value>
        </inputParameters>
        <nameSegment>CLM_GenerateAgreement</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Recount_documents_on_agreement</name>
        <label>Recount documents on agreement</label>
        <locationX>50</locationX>
        <locationY>1322</locationY>
        <actionName>FLW03_CLM_CountDocumentsInAgreement</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>RedirectToRecordAmmended</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ROllback</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>AgreementId</name>
            <value>
                <elementReference>Agreementamendedtoupdate.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FLW03_CLM_CountDocumentsInAgreement</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_error_message</name>
        <label>Set error message</label>
        <locationX>1106</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>errMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AmmendAgreement.errorMsg</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>ROllback</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_value_Agreement</name>
        <label>Set value Agreement</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Agreementamendedtoupdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AmmendAgreement.agreementGenerated</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Agreementamendedtoupdate.isAmended__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Agreementamendedtoupdate.Apttus__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Other Party Signatures</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Agreementamendedtoupdate.Apttus__Status_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Signatures</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_is_Amended_checkbox_on_Agreement</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Ammend_Successful</name>
        <label>Amend Successful</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Set_error_message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Failure</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AmmendAgreement.isSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_value_Agreement</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <description>W-2243 : CLM - Amendment A button to be created for Acceptation contract only</description>
    <environments>Default</environments>
    <interviewLabel>CLM - Agreement - Amendment A {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CLM - Agreement - Amendment A</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Content_Document_Link_with_DVD</name>
        <label>Create Content Document Link with DVD</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Update_Records_2</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ROllback</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ContentDocumentId</field>
            <value>
                <elementReference>Generate_Document.docId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedEntityId</field>
            <value>
                <elementReference>Create_Document_Version_Details.contentDocumentVersionDetail.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_related_agreement_record</name>
        <label>Create related agreement record</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Recount_documents_on_agreement</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ROllback</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Apttus__APTS_Contract_From__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Apttus__APTS_Contract_To__c</field>
            <value>
                <elementReference>AmmendAgreement.agreementGenerated.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Apttus__Relationship_From_Type__c</field>
            <value>
                <stringValue>Is Amendment For</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Apttus__Relationship_To_Type__c</field>
            <value>
                <stringValue>Is Amended By</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Current Agreement</stringValue>
            </value>
        </inputAssignments>
        <object>Apttus__APTS_Related_Agreement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordRollbacks>
        <name>ROllback</name>
        <label>ROllback</label>
        <locationX>578</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>ErrorScreen</targetReference>
        </connector>
    </recordRollbacks>
    <recordUpdates>
        <name>Update_is_Amended_checkbox_on_Agreement</name>
        <label>Update is Amended checkbox on Agreement</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>Create_related_agreement_record</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ROllback</targetReference>
        </faultConnector>
        <inputReference>Agreementamendedtoupdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Records_2</name>
        <label>Update DvD values</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Comply_imported_documents_on_documentVersionDetails</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ROllback</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Document_Version_Details.contentDocumentVersionDetail.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Apttus__ContentId__c</field>
            <value>
                <elementReference>Generate_Document.docId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Apttus__ContentVersionId__c</field>
            <value>
                <elementReference>Generate_Document.contentVersionId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Apttus__FileType__c</field>
            <value>
                <stringValue>ContentDocument</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Apttus__IsTransient__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Apttus__DocumentVersionDetail__c</object>
    </recordUpdates>
    <screens>
        <name>Ammend_record</name>
        <label>Ammend record</label>
        <locationX>578</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AmmendAgreement</targetReference>
        </connector>
        <fields>
            <name>Want</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Confirm &apos;&lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Amendment A&apos;&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; of this agreement ?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Yes, let&apos;s go</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrorScreen</name>
        <label>ErrorScreen</label>
        <locationX>578</locationX>
        <locationY>1430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errmsgdisplay</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;You have unfortunately reached the error screen 😭:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;{!$Flow.FaultMessage}{!errMsg}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;please contact your administrator  for assistance if you believe this is a technical error&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>RedirectToRecordAmmended</name>
        <label>RedirectToRecordAmmended</label>
        <locationX>50</locationX>
        <locationY>1430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p&gt;Ammendment creation completed successfully, redirecting to record ✅&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RedirectToRecord</name>
            <extensionName>c:flowRedirectionCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>AmmendAgreement.agreementGenerated.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Ammend_record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Agreementamendedtoupdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__APTS_Agreement__c</objectType>
    </variables>
    <variables>
        <name>errMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
