force-app/main/default/flows/CLM_Retrocession_Set_AoF_Clause_Name.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_AoF_ClauseName</name>
        <label>Get AoF ClauseName</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <actionName>CLM_getAOFClauseName</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Found_template_name</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Custom_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>CoveredCedingCompanyNames</name>
            <value>
                <elementReference>CCNames</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>MacroLob</name>
            <value>
                <elementReference>$Record.Program__r.Macro_L_O_B__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>reinsurer</name>
            <value>
                <elementReference>ReinsurerTrimmedName_CALC</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CLM_getAOFClauseName</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_list_CCs</name>
        <label>Add to list CCs</label>
        <locationX>446</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>CCNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_each_CC.Account__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_each_CC</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Custom_Error</name>
        <label>Custom Error</label>
        <locationX>578</locationX>
        <locationY>1139</locationY>
        <customErrorMessages>
            <errorMessage>Error in flow &quot;CLM - Retrocession - Set AoF Clause Name&quot; : {!$Flow.FaultMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Found_records</name>
        <label>Found records?</label>
        <locationX>512</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YESFound_records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_CedingCompanies</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>For_each_CC</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_template_name</name>
        <label>Found template name ?</label>
        <locationX>182</locationX>
        <locationY>1139</locationY>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_AoF_ClauseName.templateName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_AoF_Clause_Name</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>List_already_contains_CC</name>
        <label>List already contains CC ?</label>
        <locationX>358</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Add_to_list_CCs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YESList_already_contains_CC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CCNames</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>For_each_CC.Account__r.Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>For_each_CC</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ReinsurerTrimmedName_CALC</name>
        <dataType>String</dataType>
        <expression>TRIM(SUBSTITUTE(SUBSTITUTE({!$Record.Reinsurer__r.Name}, &apos;(R)&apos;, &apos;&apos;), &apos;(C)&apos;, &apos;&apos;))</expression>
    </formulas>
    <interviewLabel>CLM - Retrocession - Set AoF Clause Name {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CLM - Retrocession - Set AoF Clause Name</label>
    <loops>
        <name>For_each_CC</name>
        <label>For each CC</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_CedingCompanies</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>List_already_contains_CC</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_AoF_ClauseName</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_CedingCompanies</name>
        <label>Get CedingCompanies</label>
        <locationX>512</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Program__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CoveredCedingCompany__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_AoF_Clause_Name</name>
        <label>Set AoF Clause Name</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <inputAssignments>
            <field>AOF_ClauseName__c</field>
            <value>
                <elementReference>Get_AoF_ClauseName.templateName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_CedingCompanies</targetReference>
        </connector>
        <object>Apttus__APTS_Agreement__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CCNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
