force-app/main/default/flows/CLM_Agreement_Line_Items_Sync_Requests.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AssignReferenceRequest</name>
        <label>AssignReferenceRequest</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>RequestId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OriginalRequest__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Agreement_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_AssignReferenceRequest</name>
        <label>Assign current requestId</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>RequestId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Agreement_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sync</name>
        <label>Sync</label>
        <locationX>138</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>LoopAgls.BillingCountry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.RiskCarrier__r.BillingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopAgls.BillingState__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.RiskCarrier__r.BillingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopAgls.BillingStreet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.RiskCarrier__r.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopAgls.BillingPostalCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.RiskCarrier__r.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopAgls.RequestLEICodeRiskCarrier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.RiskCarrier__r.LEICode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopAgls.RequestSignedShare__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SignedShare__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopAgls.Layer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TECH_Layer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopAgls.BrokerName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Broker__r.LongName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopAgls.TreatyRef__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Treaty__r.TreatyReference__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopAgls.RiskCarrierName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.RiskCarrier__r.LongName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopAgls.LossDepositMode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LossDeposit_CALC</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopAgls.Deduction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Deductions__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopAgls.LossAttachment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LossAttachmentCalc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopAgls.Request__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RequestId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopAgls.BillingCity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.RiskCarrier__r.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopAgls.RiskCarrierId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.RiskCarrier__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>toUpdateList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopAgls</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopAgls</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_value_Trigger</name>
        <label>Check value Trigger</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Value_changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RiskCarrier__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.RiskCarrier__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LossDepositMode__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.LossDepositMode__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TECH_Layer__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.TECH_Layer__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SignedShare__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.SignedShare__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Broker__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Broker__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reinsurer__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Reinsurer__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Treaty__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Treaty__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Deductions__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Deductions__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contains_Original_request</targetReference>
            </connector>
            <label>Value changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contains_Original_request</name>
        <label>Contains Original request</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_AssignReferenceRequest</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OriginalRequest__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignReferenceRequest</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_any_AGLs</name>
        <label>Found any AGLs ?</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YESFound_any_AGLs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AGLRetrieved</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopAgls</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>LossAttachmentCalc</name>
        <dataType>String</dataType>
        <expression>CASE(TEXT({!$Record.Treaty__r.LossAttachment__c}),
    &quot;1&quot;, &quot;Risk attaching&quot;,
    &quot;2&quot;, &quot;Loss Occurring&quot;,
    &quot;3&quot;, &quot;Claims Made&quot;,
    &quot;4&quot;, &quot;Risk Attaching + Loss Occurring&quot;,
    &quot;5&quot;, &quot;Risk Attaching + Claims Made&quot;,
    &quot;6&quot;, &quot;Loss Occurring + Claims Made&quot;,
    &quot;7&quot;, &quot;Risk Attaching + Loss Occurring + Claims Made&quot;,
    /* Default label if no match found */
    &quot;DefaultLabel&quot;
)</expression>
    </formulas>
    <formulas>
        <name>LossDeposit_CALC</name>
        <dataType>String</dataType>
        <expression>CASE(TEXT({!$Record.LossDepositMode__c}),
    &quot;1&quot;, &quot;Cash&quot;,
    &quot;3&quot;, &quot;Letter of Credit&quot;,
    &quot;2&quot;, &quot;Security&quot;,
    &quot;4&quot;, &quot;Trust account&quot;,
    /* Default label if no match found */
    &quot;NIL&quot;
)</expression>
    </formulas>
    <interviewLabel>CLM - Agreement Line Items - Sync Requests {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CLM - Agreement Line Items - Sync Requests</label>
    <loops>
        <name>LoopAgls</name>
        <label>LoopAgls</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <collectionReference>AGLRetrieved</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Sync</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateRecords</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Agreement_Line_Items</name>
        <label>Get Agreement Line Items</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_any_AGLs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RequestId</elementReference>
            </value>
        </filters>
        <object>Apttus__AgreementLineItem__c</object>
        <outputReference>AGLRetrieved</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>PlacementShare__c</queriedFields>
        <queriedFields>TreatyRef__c</queriedFields>
        <queriedFields>LossAttachment__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>updateRecords</name>
        <label>updateRecords</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <inputReference>toUpdateList</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_value_Trigger</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TECH_RecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Signing</stringValue>
            </value>
        </filters>
        <filters>
            <field>LastVersionAnswered__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Request__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>AGL retrieved for the treaties</description>
        <name>AGLRetrieved</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__AgreementLineItem__c</objectType>
    </variables>
    <variables>
        <name>RequestId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>toUpdateList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__AgreementLineItem__c</objectType>
    </variables>
</Flow>
