force-app/main/default/flows/CLM_SyncAGLONCreation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>update_AGL1</name>
        <label>update AGL</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Retention__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Section.Retention__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Limit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Section.fieldLimit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Capacity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Section.Capacity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.RetentionAmount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Section.RetentionAmount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CededLines__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Section.CededLines__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CessionAmount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Section.CessionAmount__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>update_AGL2</name>
        <label>update AGL</label>
        <locationX>314</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.TreatyRef__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Treaty.TreatyReference__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.PlacementShare__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Treaty.PlacementShare_Perc__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.TreatyType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Treaty.TypeofTreaty__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.LossAttachment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lossAttachmentCALC</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>update_AGL3</name>
        <label>update AGL</label>
        <locationX>578</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.BillingCountry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_CCC.Account__r.BillingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingPostalCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_CCC.Account__r.ShippingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingState__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_CCC.Account__r.BillingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingStreet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_CCC.Account__r.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingCity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_CCC.Account__r.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CedingAccountName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_CCC.Account__r.LongName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.concat_reinsured_Adresse__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConcatAgresseCCC</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_CCC.Account__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Type_Of_AGL</name>
        <label>Check Type Of AGL</label>
        <locationX>446</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Section</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Section</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Section</targetReference>
            </connector>
            <label>Section</label>
        </rules>
        <rules>
            <name>Treaty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Treaty</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Treaty</targetReference>
            </connector>
            <label>Treaty</label>
        </rules>
        <rules>
            <name>CCC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CoveredCedingCompanies</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_CCC</targetReference>
            </connector>
            <label>CCC</label>
        </rules>
    </decisions>
    <description>Syncs AGL data on creation</description>
    <environments>Default</environments>
    <formulas>
        <name>ConcatAgresseCCC</name>
        <dataType>String</dataType>
        <expression>&apos;- &apos; + {!get_CCC.Account__r.LongName__c} &amp; BR() &amp;
&apos;Whose head office is at, &apos;&amp; BR() &amp;
IF((ISNULL({!get_CCC.Account__r.BillingStreet}) || ISBLANK({!get_CCC.Account__r.BillingStreet})), &apos;&apos;, {!get_CCC.Account__r.BillingStreet} &amp; (&apos;, &apos;)) &amp; 
IF((ISNULL({!get_CCC.Account__r.BillingCity}) || ISBLANK({!get_CCC.Account__r.BillingCity})), &apos;&apos;, {!get_CCC.Account__r.BillingCity}&amp; (&apos;, &apos;)) &amp; 
IF((ISNULL({!get_CCC.Account__r.BillingState}) || ISBLANK({!get_CCC.Account__r.BillingState})), &apos;&apos;, {!get_CCC.Account__r.BillingState}&amp; (&apos;, &apos;)) &amp; 
IF((ISNULL({!get_CCC.Account__r.BillingPostalCode}) || ISBLANK({!get_CCC.Account__r.BillingPostalCode})), &apos;&apos;, {!get_CCC.Account__r.BillingPostalCode}&amp; (&apos;, &apos;)) &amp; 
IF((ISNULL({!get_CCC.Account__r.BillingCountry}) || ISBLANK({!get_CCC.Account__r.BillingCountry})), &apos;&apos;, {!get_CCC.Account__r.BillingCountry})</expression>
    </formulas>
    <formulas>
        <name>lossAttachmentCALC</name>
        <dataType>String</dataType>
        <expression>CASE(TEXT({!get_Treaty.LossAttachment__c}), 
    &quot;1&quot;, &quot;Risk Attaching&quot;, 
    &quot;2&quot;, &quot;Loss Occuring&quot;, 
    &quot;3&quot;, &quot;Claims Made&quot;,
    &quot;4&quot;, &quot;Risk Attaching + Loss Occurring&quot;,
    &quot;5&quot;, &quot;Risk Attaching + Claims Made&quot;,
    &quot;6&quot;, &quot;Loss Occurring + Claims Made&quot;,
    &quot;7&quot;, &quot;Risk Attaching + Loss Occurring + Claims Made&quot;,
    &quot;&quot;
)</expression>
    </formulas>
    <interviewLabel>CLM - Sync AGL ON Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CLM - Sync AGL ON Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_CCC</name>
        <label>get CCC</label>
        <locationX>578</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update_AGL3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Covered_Ceding_Company__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CoveredCedingCompany__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Section</name>
        <label>Get Section</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update_AGL1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Section__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Section__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Treaty</name>
        <label>get Treaty</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update_AGL2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Treaty__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Treaty__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Type_Of_AGL</targetReference>
        </connector>
        <object>Apttus__AgreementLineItem__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>300</triggerOrder>
    <variables>
        <name>CoveredCedingCompaniesInput</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CoveredCedingCompany__c</objectType>
    </variables>
    <variables>
        <name>listAgreementLineItemsInput</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__AgreementLineItem__c</objectType>
    </variables>
</Flow>
