force-app/main/default/flows/CLM_SyncSectionData.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Sync_AGL</name>
        <label>Sync AGL</label>
        <locationX>264</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>IterateAGL.Retention__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sectionInput.Retention__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IterateAGL.Limit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sectionInput.fieldLimit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IterateAGL.Capacity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sectionInput.Capacity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IterateAGL.RetentionAmount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sectionInput.RetentionAmount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IterateAGL.CededLines__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sectionInput.CededLines__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IterateAGL.CessionAmount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sectionInput.CessionAmount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AGLOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IterateAGL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateAGL</targetReference>
        </connector>
    </assignments>
    <description>Subflow to sync section data and AGL</description>
    <environments>Default</environments>
    <interviewLabel>CLM - Sync Section Data {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CLM - Sync Section Data</label>
    <loops>
        <description>Iterate AGL</description>
        <name>IterateAGL</name>
        <label>Iterate AGL</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <collectionReference>AGLIterate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Sync_AGL</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IterateAGL</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AGLIterate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__AgreementLineItem__c</objectType>
    </variables>
    <variables>
        <name>AGLOutput</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Apttus__AgreementLineItem__c</objectType>
    </variables>
    <variables>
        <name>AGLToIterate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__AgreementLineItem__c</objectType>
    </variables>
    <variables>
        <name>sectionInput</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Section__c</objectType>
    </variables>
</Flow>
