force-app/main/default/flows/CLM_Agreement_SetRenewalProgram.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Update_Record_Program</name>
        <label>Update Record Program</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Program__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Retrieve_Renewed_Program.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AgreementToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AgreementToUpdate.Program__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Retrieve_Renewed_Program.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateAgreement</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_Been_Renewed</name>
        <label>Has Been Renewed</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Retrieve_Renewed_Program</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Record_Program</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Automatically sets the renewed program when a program is renewed</description>
    <environments>Default</environments>
    <interviewLabel>CLM - Agreement - Set Renewal Program {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CLM - Agreement - Set Renewal Program</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Retrieve_Renewed_Program</name>
        <label>Retrieve Renewed Program</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Been_Renewed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RenewedFromProgram__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Program__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Program__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateAgreement</name>
        <label>UpdateAgreement</label>
        <locationX>50</locationX>
        <locationY>611</locationY>
        <inputAssignments>
            <field>Program__c</field>
            <value>
                <elementReference>Retrieve_Renewed_Program.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Retrieve_Renewed_Program</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Apttus__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Renewal</stringValue>
            </value>
        </filters>
        <filters>
            <field>Apttus__Status_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Request</stringValue>
            </value>
        </filters>
        <filters>
            <field>Program__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Apttus__APTS_Agreement__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>500</triggerOrder>
    <variables>
        <name>AgreementToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__APTS_Agreement__c</objectType>
    </variables>
</Flow>
