force-app/main/default/flows/CLM_Retrocession_Subflow_Amendment_process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Clone_agreement</name>
        <label>Clone agreement</label>
        <locationX>402</locationX>
        <locationY>458</locationY>
        <actionName>CLM_CloneAgreementSF</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_success_Clone_retro</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__agreement</typeName>
            <typeValue>Apttus__APTS_Agreement__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>agreement</name>
            <value>
                <elementReference>EachInitialRetro</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CLM_CloneAgreementSF</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_list</name>
        <label>Add to list</label>
        <locationX>270</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>amendedRetrocessions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>amendedRetroAgreement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EachInitialRetro</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Set_ErrMsg_Fault</name>
        <label>Copy 1 of Set ErrMsg Fault</label>
        <locationX>578</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>errMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Init_agreement_for_update</name>
        <label>Init agreement for insert</label>
        <locationX>270</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>amendedRetroAgreement</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Clone_agreement.agreementGenerated</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>amendedRetroAgreement.Apttus__Parent_Agreement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>amendedAgreementId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>amendedRetroAgreement.isAmended__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>amendedRetroAgreement.RetrocessionDocGenerated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>amendedRetroAgreement.RetroGeneratedDocId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>amendedRetroAgreement.RetroMergeDocId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>amendedRetroAgreement.IsMassAmended__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>amendedRetroAgreement.Apttus__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Amendment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>amendedRetroAgreement.Apttus__Status_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Request</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>amendedRetroAgreement.RetrocessionTemplate__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ErrMsg</name>
        <label>Set ErrMsg</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>errMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>initialRetrocessionsToClone.errMsg</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_errMsg_cloneRetro</name>
        <label>Set errMsg</label>
        <locationX>534</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>errMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Clone_agreement.errorMsg</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_ErrMsg_CreateRelationsErr</name>
        <label>Set ErrMsg</label>
        <locationX>314</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>errMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_related_agreement_relation.errMsg</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_issuccess</name>
        <label>Set issuccess</label>
        <locationX>50</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Is_success_Clone_retro</name>
        <label>Is success ?</label>
        <locationX>402</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Set_errMsg_cloneRetro</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YESIs_success_Clone_retro</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Clone_agreement.isSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Init_agreement_for_update</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_success_getInitialRetro</name>
        <label>Is success ?</label>
        <locationX>512</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Set_ErrMsg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YESIs_success_getInitialRetro</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>initialRetrocessionsToClone.isSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EachInitialRetro</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_successCreate_related_agreement_relation</name>
        <label>Is success ?</label>
        <locationX>182</locationX>
        <locationY>1274</locationY>
        <defaultConnector>
            <targetReference>Set_ErrMsg_CreateRelationsErr</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YESIs_successCreate_related_agreement_relation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_related_agreement_relation.isSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_issuccess</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CLM - Retrocession - Subflow - Amendment process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CLM - Retrocession - Subflow - Amendment process</label>
    <loops>
        <name>EachInitialRetro</name>
        <label>Each Initial Retro</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <collectionReference>initialRetrocessionsToClone.retrocessions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Clone_agreement</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_Amended_retrocessions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_Amended_retrocessions</name>
        <label>Insert Amended retrocessions</label>
        <locationX>182</locationX>
        <locationY>1058</locationY>
        <connector>
            <targetReference>Create_related_agreement_relation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_1_of_Set_ErrMsg_Fault</targetReference>
        </faultConnector>
        <inputReference>amendedRetrocessions</inputReference>
    </recordCreates>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>initialRetrocessionsToClone</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_related_agreement_relation</name>
        <label>Create related agreement relation</label>
        <locationX>182</locationX>
        <locationY>1166</locationY>
        <connector>
            <targetReference>Is_successCreate_related_agreement_relation</targetReference>
        </connector>
        <flowName>CLM_Retrocession_Create_related_agreement_relation</flowName>
        <inputAssignments>
            <name>amendedAgreements</name>
            <value>
                <elementReference>amendedRetrocessions</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>initialAgreements</name>
            <value>
                <elementReference>initialRetrocessionsToClone.retrocessions</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>initialRetrocessionsToClone</name>
        <label>Get Initial Retrocessions to clone</label>
        <locationX>512</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Is_success_getInitialRetro</targetReference>
        </connector>
        <flowName>CLM_Retrocession_Subflow_Get_amended_agreements</flowName>
        <inputAssignments>
            <name>listRiskCarrierForCessionToCreate</name>
            <value>
                <elementReference>listRiskCarrierForCessionToCreate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>amendedAgreementId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>amendedAgreementId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>amendedRetroAgreement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__APTS_Agreement__c</objectType>
    </variables>
    <variables>
        <name>amendedRetrocessions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__APTS_Agreement__c</objectType>
    </variables>
    <variables>
        <name>errMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>isSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>listRiskCarrierForCessionToCreate</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
