force-app/main/default/flows/CLM_Send_Clause_for_Approval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Submit_Clause_Approval</name>
        <label>Submit Clause Approval</label>
        <locationX>446</locationX>
        <locationY>1190</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <faultConnector>
            <targetReference>Assign_Error_Message</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <elementReference>CommentForApproval</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>nextApproverIds</name>
            <value>
                <elementReference>approverId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>CLM_Approve_Clause</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Active_Clause_Error_Message</name>
        <label>Assign Active Clause Error Message</label>
        <locationX>842</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>This Clause is already Active, no need to send it for approval.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>No_data_message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_approver</name>
        <label>Assign approver</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>approverId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>approverChoice.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Submit_Clause_Approval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Deadline_Value</name>
        <label>Assign Deadline Value</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Get_Template_Details.ApprovalDeadline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ApprovalDeadlineDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Upddate_Template</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Delegate</name>
        <label>Assign Delegate</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>approverId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Clause_Approvers_Group.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Submit_Clause_Approval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Error_Message</name>
        <label>Assign Error Message</label>
        <locationX>974</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_Clause_Active</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Error_Message</name>
        <label>Set Error Message</label>
        <locationX>1370</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>This Clause is already being set in approval. Please Approve or Reject it before sending again</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>No_data_message</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>If_Clause_Active</name>
        <label>If Clause Active</label>
        <locationX>974</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>No_data_message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.FaultMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>No applicable approval process was found.</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Active_Clause_Error_Message</targetReference>
            </connector>
            <label>YES Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Record_Locked</name>
        <label>If Record Locked</label>
        <locationX>1502</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>No_data_message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES_Locked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.FaultMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>LOCKED</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Error_Message</targetReference>
            </connector>
            <label>YES Locked</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_User_Out_of_Office</name>
        <label>If User Out of Office</label>
        <locationX>446</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Assign_approver</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not OOO</defaultConnectorLabel>
        <rules>
            <name>Yes_OOO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Delegate_Approver</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Clause_Approvers_Group</targetReference>
            </connector>
            <label>Yes OOO</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_Macrolob_OR_No_Ceding_Companies</name>
        <label>No Macrolob OR No Ceding Companies</label>
        <locationX>248</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>ApprovalComment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>YES DATA</defaultConnectorLabel>
        <rules>
            <name>NO_Data</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Template_Details.CedingCompanies__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Template_Details.Macro_LOB__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_data_message</targetReference>
            </connector>
            <label>NO Data</label>
        </rules>
    </decisions>
    <description>Flow to manage how clauses are sent to approval</description>
    <environments>Default</environments>
    <interviewLabel>CLM - Send Clause for Approval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CLM - Template - Send Clause for Approval</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Clause_Approvers_Group</name>
        <label>Get Clause Approvers Group</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Delegate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ClauseApprovers</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Delegate_Approver</name>
        <label>Get Delegate Approver</label>
        <locationX>446</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_User_Out_of_Office</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CurrentUser__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>approverChoice.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DelegateApprover__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Template_Details</name>
        <label>Get Template Details</label>
        <locationX>248</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_Macrolob_OR_No_Ceding_Companies</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Apttus__APTS_Template__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Upddate_Template</name>
        <label>Upddate Template</label>
        <locationX>446</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Get_Delegate_Approver</targetReference>
        </connector>
        <faultConnector>
            <targetReference>If_Record_Locked</targetReference>
        </faultConnector>
        <inputReference>Get_Template_Details</inputReference>
    </recordUpdates>
    <screens>
        <name>ApprovalComment</name>
        <label>Approval Comment</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Deadline_Value</targetReference>
        </connector>
        <fields>
            <name>ApprovalComment_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ApprovalComment_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>approverChoice</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Apttus__APTS_Template__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Select an Approver</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>CreatedById</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ApprovalComment_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ApprovalDeadlineDate</name>
                    <dataType>Date</dataType>
                    <fieldText>Approval Deadline Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>CommentForApproval</name>
            <fieldText>Comment For Approval</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Send</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_data_message</name>
        <label>No data message</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>nodatamessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(255, 2, 2);&quot;&gt;{!errorMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <helpText>&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(255, 0, 0);&quot;&gt;Warning&lt;/span&gt;&lt;/p&gt;</helpText>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Template_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>approverId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>commentSendApproval</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Please make sure that the fields &quot;Ceding Companies&quot; and &quot;Macro LOB&quot; are filled before sending the clause to approval</stringValue>
        </value>
    </variables>
    <variables>
        <name>lenDelegate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
