force-app/main/default/flows/CLM_ConvertPDF.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AssignFalse</name>
        <label>AssignFalse</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>GeneratePdfResult</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignTrue</name>
        <label>AssignTrue</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>GeneratePdfResult</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateRecord</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_extension</name>
        <label>Check extension</label>
        <locationX>281</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>getDocumentversionDetailPdf</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>pdf</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetDocumentVersionDetails.FileExtension__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>pdf</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>noConvertpdf</targetReference>
            </connector>
            <label>pdf</label>
        </rules>
    </decisions>
    <decisions>
        <name>Document_already_converted_to_pdf</name>
        <label>Document already converted to pdf</label>
        <locationX>512</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>isGenerated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yesAlreadyConvertedToPdf</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getDocumentversionDetailPdf</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>noConvertpdf</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>isGenerated</name>
        <label>isGenerated</label>
        <locationX>710</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>AssignTrue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>false</defaultConnectorLabel>
        <rules>
            <name>true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetDocumentVersionDetails.Generate_Pdf__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignFalse</targetReference>
            </connector>
            <label>true</label>
        </rules>
    </decisions>
    <description>added timer</description>
    <environments>Default</environments>
    <interviewLabel>CLM - Convert PDF {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CLM - Convert PDF</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>platform_event</name>
        <label>platform event</label>
        <locationX>710</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>Convert_to_PDF</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AgreementId__c</field>
            <value>
                <elementReference>GetDocumentVersionDetails.TECH_AgreementId__c</elementReference>
            </value>
        </inputAssignments>
        <object>AgreementCheckIn__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getDocumentversionDetailPdf</name>
        <label>getDocumentversionDetailPdf</label>
        <locationX>512</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Document_already_converted_to_pdf</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Apttus__DocumentVersionId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetDocumentVersionDetails.Apttus__DocumentVersionId__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>TECH_AgreementId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetDocumentVersionDetails.TECH_AgreementId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>GetDocumentVersionDetails.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>FileExtension__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>pdf</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Apttus__DocumentVersionDetail__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetDocumentVersionDetails</name>
        <label>GetDocumentVersionDetails</label>
        <locationX>281</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_extension</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>documentVersionDetailId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Apttus__DocumentVersionDetail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateRecord</name>
        <label>updateDocumentVersionDetail</label>
        <locationX>710</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>Loading</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>documentVersionDetailId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Generate_Pdf__c</field>
            <value>
                <elementReference>GeneratePdfResult</elementReference>
            </value>
        </inputAssignments>
        <object>Apttus__DocumentVersionDetail__c</object>
    </recordUpdates>
    <screens>
        <name>Close_tab</name>
        <label>Close tab</label>
        <locationX>281</locationX>
        <locationY>1466</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>closetab</name>
            <extensionName>c:lwcCloseTab</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>GetDocumentVersionDetails.TECH_AgreementId__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Convert_to_PDF</name>
        <label>Convert to PDF</label>
        <locationX>710</locationX>
        <locationY>1190</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Close_tab</targetReference>
        </connector>
        <fields>
            <name>e</name>
            <fieldText>&lt;h1 style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;The selected document has been converted to PDF&lt;/strong&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;✅.&lt;/span&gt;&lt;/h1&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>1370</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;Unfortunately an error occured: &lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Loading</name>
        <label>Loading</label>
        <locationX>710</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>platform_event</targetReference>
        </connector>
        <fields>
            <name>LoadSpinnerLWC</name>
            <extensionName>c:lwcLoadSpinnerTimer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>noConvertpdf</name>
        <label>noConvertpdf</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Close_tab</targetReference>
        </connector>
        <fields>
            <name>errorMessageConvertPdf</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(231, 10, 10); font-size: 22px;&quot;&gt;Unable to convert the document already in PDF ﻿format to PDF⚠️&lt;/span&gt;&lt;strong style=&quot;color: rgb(231, 10, 10); font-size: 22px;&quot;&gt;.&lt;/strong&gt;&lt;strong style=&quot;color: rgb(199, 4, 46); font-size: 22px;&quot;&gt;﻿&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GetDocumentVersionDetails.FileExtension__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>pdf</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>alreadyCoverted</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(250, 19, 19); font-size: 22px;&quot;&gt;This Document has already been converted to PDF&lt;/span&gt;&lt;span style=&quot;color: rgb(250, 19, 19); font-size: 22px; background-color: rgb(255, 255, 255);&quot;&gt;⚠️&lt;/span&gt;&lt;strong style=&quot;color: rgb(250, 19, 19); font-size: 22px; background-color: rgb(255, 255, 255);&quot;&gt;.﻿&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GetDocumentVersionDetails.FileExtension__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>pdf</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>155</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetDocumentVersionDetails</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>documentVersionDetailId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GeneratePdfResult</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
