force-app/main/default/flows/CLM_SyncProgramSubflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>sync</name>
        <label>sync</label>
        <locationX>264</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>agreementListIterate.Wording1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Program.WordingName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>agreementListIterate.Wording2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Program.WordingName2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>agreementListIterate.Wording3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Program.WordingName3__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>agreementListIterate.Wording4__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Program.WordingName4__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>agreementListIterate.InceptionDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Program.InceptionDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>agreementListIterate.ExpiryDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Program.Expirydate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>agreementListIterate.UnderwritingYear__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Program.UwYear__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>agreementListIterate.AccountLegalName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Program.PrincipalCedingCompany__r.LongName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>agreementListIterate.TECH_progNameChange__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>agreementListIterate.TECH_InceptionDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InceptionDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>agreementListIterate.TECH_ExpiryDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExpiryDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>agreementListIterate.PrincipalCedingCompany__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Program.PrincipalCedingCompany__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>agreementListToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>agreementListIterate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>agreementListIterate</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <description>Format Expiry Date</description>
        <name>ExpiryDate</name>
        <dataType>String</dataType>
        <expression>LPAD(TEXT(DAY({!Program.Expirydate__c})), 2, &quot;0&quot;) &amp; &quot;/&quot; &amp; LPAD(TEXT(MONTH({!Program.Expirydate__c})), 2, &quot;0&quot;) &amp; &quot;/&quot; &amp; TEXT(YEAR({!Program.Expirydate__c}))</expression>
    </formulas>
    <formulas>
        <description>Format Inception Date</description>
        <name>InceptionDate</name>
        <dataType>String</dataType>
        <expression>LPAD(TEXT(DAY({!Program.InceptionDate__c})), 2, &quot;0&quot;) &amp; &quot;/&quot; &amp; LPAD(TEXT(MONTH({!Program.InceptionDate__c})), 2, &quot;0&quot;) &amp; &quot;/&quot; &amp; TEXT(YEAR({!Program.InceptionDate__c}))</expression>
    </formulas>
    <interviewLabel>CLM - Sync Program Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CLM - Sync Program Subflow</label>
    <loops>
        <name>agreementListIterate</name>
        <label>agreementListIterate</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <collectionReference>agreementList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>sync</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>agreementListIterate</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>agreementList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Apttus__APTS_Agreement__c</objectType>
    </variables>
    <variables>
        <name>agreementListToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Apttus__APTS_Agreement__c</objectType>
    </variables>
    <variables>
        <name>Program</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Program__c</objectType>
    </variables>
</Flow>
