force-app/main/default/flows/CLM_Account_UpdateAgreementAddresses.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_adresses_AGL</name>
        <label>Assign adresses AGL</label>
        <locationX>754</locationX>
        <locationY>1487</locationY>
        <assignmentItems>
            <assignToReference>eachAGL.BillingCity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>eachAGL.BillingCountry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>eachAGL.BillingPostalCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>eachAGL.BillingState__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>eachAGL.BillingStreet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>eachAGL.RequestLEICodeRiskCarrier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LEICode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>eachAGL.RiskCarrierName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LongName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AglsToUpdateReinsurer</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>eachAGL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>eachAGL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_adresses_Agreement</name>
        <label>Assign adresses Agreement</label>
        <locationX>886</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>each_agreement.Concat_Field_on_Request__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>adresseRiskCarrier</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AgreementsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>each_agreement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>each_agreement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Id_Agreement</name>
        <label>assign Id Agreement</label>
        <locationX>886</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>idAgreements</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>each_agreement.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_adresses_Agreement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_adresses_Agreement</name>
        <label>Assign broker adresses Agreement</label>
        <locationX>1634</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Copy_1_of_each_agreement.BrokerAddress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BrokerAddressConcat</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Copy_1_of_each_agreement.BrokerName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LongName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AgreementsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Copy_1_of_each_agreement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_each_agreement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_AGL_field</name>
        <label>Set AGL field</label>
        <locationX>138</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>each_AGL_CCC.BillingCountry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>each_AGL_CCC.BillingPostalCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>each_AGL_CCC.BillingState__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>each_AGL_CCC.BillingStreet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>each_AGL_CCC.CedingAccountName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LongName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>each_AGL_CCC.BillingCity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>each_AGL_CCC.RequestLEICodeRiskCarrier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LEICode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>each_AGL_CCC.CedingAccountName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LongName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AGLsUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>each_AGL_CCC</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>each_AGL_CCC</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AGL_not_null</name>
        <label>AGL not null ?</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YESNOTNULLAGL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_AGLS</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>each_AGL_CCC</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>AGLs_not_null</name>
        <label>AGLs not null ?</label>
        <locationX>798</locationX>
        <locationY>1271</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YESNOTNULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Agreement_line_item</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>eachAGL</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Agreement_not_null</name>
        <label>Agreement not null ?</label>
        <locationX>996</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YESnotnullagreement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Agreement</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>each_agreement</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_changed</name>
        <label>Check if changed</label>
        <locationX>1697</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Address_Changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BillingAddress</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.BillingAddress</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingCity</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.BillingCity</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingCountry</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.BillingCountry</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingState</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.BillingState</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingPostalCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.BillingPostalCode</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingStreet</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.BillingStreet</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LEICode__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.LEICode__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LongName__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.LongName__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_RT_Company</targetReference>
            </connector>
            <label>Address Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_RT_Company</name>
        <label>Check RT Company</label>
        <locationX>1104</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Covered_Ceding_Company</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CoveredCedingCompany</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_AGLS</targetReference>
            </connector>
            <label>Covered Ceding Company</label>
        </rules>
        <rules>
            <name>Reinsurer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reinsurer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Agreement</targetReference>
            </connector>
            <label>Reinsurer</label>
        </rules>
        <rules>
            <name>Broker</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Broker</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Get_Agreement</targetReference>
            </connector>
            <label>Broker</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Agreement_not_null</name>
        <label>Agreement not null ?</label>
        <locationX>1654</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Get_Agreement</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_each_agreement</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>HasAgreementToUpdate</name>
        <label>HasAgreementToUpdate?</label>
        <locationX>1104</locationX>
        <locationY>2039</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YESHasAgreement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AgreementsToUpdate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Agreement</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>adresseRiskCarrier</name>
        <dataType>String</dataType>
        <expression>&apos;Whose head office is at, &apos;&amp; BR() &amp;
IF((ISNULL({!$Record.BillingStreet}) || ISBLANK({!$Record.BillingStreet})), &apos;&apos;, {!$Record.BillingStreet} &amp; (&apos;, &apos;) ) &amp;
IF((ISNULL({!$Record.BillingCity}) || ISBLANK({!$Record.BillingCity})), &apos;&apos;, {!$Record.BillingCity}&amp;(&apos;, &apos;)) &amp;
IF((ISNULL({!$Record.BillingState}) || ISBLANK({!$Record.BillingState})), &apos;&apos;, {!$Record.BillingState}&amp;(&apos;, &apos;)) &amp;
IF((ISNULL({!$Record.BillingPostalCode}) || ISBLANK({!$Record.BillingPostalCode})), &apos;&apos;, {!$Record.BillingPostalCode}&amp;(&apos;, &apos;) )&amp;
IF((ISNULL({!$Record.BillingCountry}) || ISBLANK({!$Record.BillingCountry})), &apos;&apos;, {!$Record.BillingCountry})</expression>
    </formulas>
    <formulas>
        <name>BrokerAddressConcat</name>
        <dataType>String</dataType>
        <expression>IF((ISNULL({!$Record.BillingStreet}) || ISBLANK({!$Record.BillingStreet})), &apos;&apos;, {!$Record.BillingStreet} &amp; (&apos;, &apos;) ) &amp;
IF((ISNULL({!$Record.BillingCity}) || ISBLANK({!$Record.BillingCity})), &apos;&apos;, {!$Record.BillingCity}&amp;(&apos;, &apos;)) &amp;
IF((ISNULL({!$Record.BillingState}) || ISBLANK({!$Record.BillingState})), &apos;&apos;, {!$Record.BillingState}&amp;(&apos;, &apos;)) &amp;
IF((ISNULL({!$Record.BillingPostalCode}) || ISBLANK({!$Record.BillingPostalCode})), &apos;&apos;, {!$Record.BillingPostalCode}&amp;(&apos;, &apos;) )&amp;
IF((ISNULL({!$Record.BillingCountry}) || ISBLANK({!$Record.BillingCountry})), &apos;&apos;, {!$Record.BillingCountry})</expression>
    </formulas>
    <interviewLabel>CLM - Account - Update Agreement Addresses {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CLM - Account - Update Agreement Addresses</label>
    <loops>
        <name>Copy_1_of_each_agreement</name>
        <label>each agreement</label>
        <locationX>1546</locationX>
        <locationY>755</locationY>
        <collectionReference>Copy_1_of_Get_Agreement</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Assign_adresses_Agreement</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>HasAgreementToUpdate</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>each_AGL_CCC</name>
        <label>each AGL CCC</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <collectionReference>get_AGLS</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_AGL_field</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>each_agreement</name>
        <label>each agreement</label>
        <locationX>798</locationX>
        <locationY>755</locationY>
        <collectionReference>Get_Agreement</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_Id_Agreement</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>get_Agreement_line_item</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>eachAGL</name>
        <label>each AGL</label>
        <locationX>666</locationX>
        <locationY>1379</locationY>
        <collectionReference>get_Agreement_line_item</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_adresses_AGL</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_agreement_line_item</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Copy_1_of_Get_Agreement</name>
        <label>Get Agreement with broker</label>
        <locationX>1654</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Agreement_not_null</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Broker__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Apttus__APTS_Agreement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_AGLS</name>
        <label>get AGLS</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AGL_not_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Apttus__AgreementLineItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Agreement</name>
        <label>Get Agreement</label>
        <locationX>996</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Agreement_not_null</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>RiskCarrier__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Apttus__APTS_Agreement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Agreement_line_item</name>
        <label>get Agreement line item</label>
        <locationX>798</locationX>
        <locationY>1163</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AGLs_not_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Apttus__AgreementId__c</field>
            <operator>In</operator>
            <value>
                <elementReference>idAgreements</elementReference>
            </value>
        </filters>
        <filters>
            <field>TECH_RecordTypeDevName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Request</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Apttus__AgreementLineItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Agreement</name>
        <label>Update Agreement</label>
        <locationX>972</locationX>
        <locationY>2147</locationY>
        <inputReference>AgreementsToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_agreement_line_item</name>
        <label>update agreement line item</label>
        <locationX>666</locationX>
        <locationY>1679</locationY>
        <connector>
            <targetReference>HasAgreementToUpdate</targetReference>
        </connector>
        <inputReference>AglsToUpdateReinsurer</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Record</name>
        <label>Update Record</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <inputReference>AGLsUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>1571</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_changed</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AglsToUpdateReinsurer</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__AgreementLineItem__c</objectType>
    </variables>
    <variables>
        <name>AGLsUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__AgreementLineItem__c</objectType>
    </variables>
    <variables>
        <name>AgreementsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__APTS_Agreement__c</objectType>
    </variables>
    <variables>
        <name>idAgreements</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
