force-app/main/default/flows/CLM_Set_Active_Inactive_After_Update_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Active_Value</name>
        <label>Set Active Value</label>
        <locationX>479</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Apttus__IsActive__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>is_clause_type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Inactive_Value</name>
        <label>Set Inactive Value</label>
        <locationX>743</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Apttus__IsActive__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>is_clause_type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_legal_comment</name>
        <label>Set legal comment</label>
        <locationX>50</locationX>
        <locationY>1235</locationY>
        <assignmentItems>
            <assignToReference>$Record.Legal_comment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_processInstanceStep.Comments</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Change_To_Active</name>
        <label>Change To Active</label>
        <locationX>611</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Set_Inactive_Value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Values</defaultConnectorLabel>
        <rules>
            <name>Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Active_Value</targetReference>
            </connector>
            <label>Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_process_instance</name>
        <label>Has process instance</label>
        <locationX>380</locationX>
        <locationY>911</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YeshasprocessInstance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_processInstance</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_processInstanceStep</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_process_Instance_step</name>
        <label>Has process Instance step</label>
        <locationX>182</locationX>
        <locationY>1127</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yeshasprocessinstacestep</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_processInstanceStep</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_legal_comment</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Status_Change</name>
        <label>If Status Change</label>
        <locationX>858</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IS_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_To_Active</targetReference>
            </connector>
            <label>IS Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_clause_type</name>
        <label>is clause type ?</label>
        <locationX>611</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yesclausetype</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Apttus__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Clause</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_processInstance</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Set field Isactive value depending on the Status value</description>
    <environments>Default</environments>
    <interviewLabel>CLM - Set Active/Inactive After Update Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CLM - Set Active/Inactive After Update Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_processInstance</name>
        <label>get processInstance</label>
        <locationX>380</locationX>
        <locationY>803</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_process_instance</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TargetObjectId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProcessInstance</object>
        <queriedFields>Id</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_processInstanceStep</name>
        <label>get processInstanceStep</label>
        <locationX>182</locationX>
        <locationY>1019</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_process_Instance_step</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>ProcessInstanceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_processInstance.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StepStatus</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>StepStatus</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProcessInstanceStep</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Comments</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>732</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>If_Status_Change</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Apttus__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Clause</stringValue>
            </value>
        </filters>
        <object>Apttus__APTS_Template__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
