force-app/main/default/flows/CLM_Retrocession_Generate_Documents.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_doc_from_template</name>
        <label>Create doc from template</label>
        <locationX>1458</locationX>
        <locationY>458</locationY>
        <actionName>CLM_generateDoc</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Fetch_GeneratedDoc_Screen</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Rollback</targetReference>
        </faultConnector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>agreementId</name>
            <value>
                <elementReference>Agreement.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>docFormat</name>
            <value>
                <stringValue>DOCX</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pLevel</name>
            <value>
                <stringValue>Full access</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>QueueableContext</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateName</name>
            <value>
                <elementReference>Agreement.RetrocessionTemplate__r.Name</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CLM_generateDoc</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Create_document_version_detail</name>
        <label>Create document version detail</label>
        <locationX>2118</locationX>
        <locationY>242</locationY>
        <actionName>CLM_CreateDocumentVersionDetails</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_success</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Rollback</targetReference>
        </faultConnector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>agreementId</name>
            <value>
                <elementReference>Agreement.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <stringValue>test comment</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <elementReference>Agreement.RetrocessionTemplate__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CLM_CreateDocumentVersionDetails</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Refresh_page</name>
        <label>Refresh page</label>
        <locationX>666</locationX>
        <locationY>2318</locationY>
        <actionName>c:RefreshViewFromFlow</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>c:RefreshViewFromFlow</nameSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Copy_1_of_Set_ErrMsg</name>
        <label>Set ErrMsg</label>
        <locationX>2250</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>ErrMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_doc_from_template.errMsg</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Rollback</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ErrMsg</name>
        <label>Set ErrMsg</label>
        <locationX>2778</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>ErrMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_document_version_detail.errorMsg</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Rollback</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Found_cloned_documents</name>
        <label>Found cloned documents ?</label>
        <locationX>666</locationX>
        <locationY>1754</locationY>
        <defaultConnector>
            <targetReference>Create_CDL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YESFound_cloned_documents</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_contentDocumentVersionDetails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_cloned_ones</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_ContentDoc</name>
        <label>Found ContentDoc ?</label>
        <locationX>666</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Get_contentDocumentVersionDetails</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YESFound_ContentDoc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContentversionGeneratedDoc</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_DocVersionDetails_values</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>FOund_records</name>
        <label>FOund records ?</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Get_contentDocumentVersionDetails</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YESFOund_records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_CDL_with_agreement</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_CDL_associated_to_agreement</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_success</name>
        <label>Is doc version details creation success ?</label>
        <locationX>2118</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Set_ErrMsg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_DocumentVersionDetailsCreationSuccess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_document_version_detail.isSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_doc_from_template</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsDocCreation_success</name>
        <label>Is doc. creation success ?</label>
        <locationX>1458</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Set_ErrMsg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>IsDocCreation_successYES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>lwc_fetchRetroDoc.isSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContentversionGeneratedDoc</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>UserSessionId</name>
        <dataType>String</dataType>
        <expression>GETSESSIONID()</expression>
    </formulas>
    <interviewLabel>CLM - Retrocession - Generate Documents {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CLM - Retrocession - Generate Documents</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_CDL</name>
        <label>Create CDL</label>
        <locationX>666</locationX>
        <locationY>2102</locationY>
        <connector>
            <targetReference>Update_checkbox_to_display_all_page_components</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Rollback</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ContentDocumentId</field>
            <value>
                <elementReference>ContentversionGeneratedDoc.ContentDocumentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedEntityId</field>
            <value>
                <elementReference>Create_document_version_detail.contentDocumentVersionDetail.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_CDL_associated_to_agreement</name>
        <label>Delete CDL associated to agreement</label>
        <locationX>50</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>Get_contentDocumentVersionDetails</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Rollback</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Agreement.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContentDocumentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContentversionGeneratedDoc.ContentDocumentId</elementReference>
            </value>
        </filters>
        <object>ContentDocumentLink</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_cloned_ones</name>
        <label>Delete cloned ones</label>
        <locationX>402</locationX>
        <locationY>1862</locationY>
        <connector>
            <targetReference>Create_CDL</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Rollback</targetReference>
        </faultConnector>
        <inputReference>Get_contentDocumentVersionDetails</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Agreement</name>
        <label>Get Agreement</label>
        <locationX>2118</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_document_version_detail</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Rollback</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Apttus__APTS_Agreement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ContentversionGeneratedDoc</name>
        <label>Get contentversion of generated doc</label>
        <locationX>666</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_ContentDoc</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Rollback</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContentDocumentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>lwc_fetchRetroDoc.docId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContentDocumentId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentVersion</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContentDocumentId</queriedFields>
        <queriedFields>PathOnClient</queriedFields>
        <queriedFields>Title</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CDL_with_agreement</name>
        <label>Get CDL with agreement</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FOund_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Agreement.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContentDocumentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContentversionGeneratedDoc.ContentDocumentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>If some people has opened the link of the page more than once at the same time, duplicate creation can be accidentally made</description>
        <name>Get_contentDocumentVersionDetails</name>
        <label>Get cloned DocVersionDetails</label>
        <locationX>666</locationX>
        <locationY>1646</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_cloned_documents</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Rollback</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Create_document_version_detail.contentDocumentVersionDetail.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>TECH_AgreementId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Apttus__DocumentVersionDetail__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>Rollback</name>
        <label>Rollback</label>
        <locationX>754</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>ErrorScreen</targetReference>
        </connector>
    </recordRollbacks>
    <recordUpdates>
        <name>Update_checkbox_to_display_all_page_components</name>
        <label>Update checkbox to display all page components</label>
        <locationX>666</locationX>
        <locationY>2210</locationY>
        <connector>
            <targetReference>Refresh_page</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Rollback</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RetrocessionDocGenerated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Apttus__APTS_Agreement__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_DocVersionDetails_values</name>
        <label>Update DocVersionDetails values</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Get_CDL_with_agreement</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Rollback</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_document_version_detail.contentDocumentVersionDetail.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Apttus__ContentId__c</field>
            <value>
                <elementReference>lwc_fetchRetroDoc.docId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Apttus__ContentVersionId__c</field>
            <value>
                <elementReference>ContentversionGeneratedDoc.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Apttus__FileType__c</field>
            <value>
                <stringValue>ContentDocument</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Apttus__IsTransient__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Apttus__DocumentVersionDetail__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>ErrorScreen</name>
        <label>ErrorScreen</label>
        <locationX>754</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrDisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Oops.. an error occurred 😟&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(251, 0, 0); font-size: 16px;&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(251, 0, 0);&quot;&gt;{!ErrMsg}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;Try to click on the Refresh button or try again in a few minutes.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;If the error persist please contact your administrator &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fetch_GeneratedDoc_Screen</name>
        <label>Fetch GeneratedDoc Screen</label>
        <locationX>1458</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>IsDocCreation_success</targetReference>
        </connector>
        <fields>
            <name>lwc_fetchRetroDoc</name>
            <extensionName>c:cLM_fetchRetroGeneratedDocId</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>agreementId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pollingProcessName</name>
                <value>
                    <stringValue>getRetroDocId</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1992</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Agreement</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ErrMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lstContentDocs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocument</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
