force-app/main/default/flows/CLM_DocumentVersionDetail_Link_Document_to_Program.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>init_content_document_link_insert</name>
        <label>init content document link insert</label>
        <locationX>182</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>ContentDocumentLinkToInsert.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Apttus__DocumentVersionId__r.Apttus__AgreementId__r.Program__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContentDocumentLinkToInsert.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Content_Document.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContentDocumentLinkToInsert.ShareType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>V</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContentDocumentLinkToInsert.Visibility</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AllUsers</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Content_Document_Link</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Content_Vesrion</name>
        <label>Set Content Vesrion</label>
        <locationX>182</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>setContentVersion.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Content_Version.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>setContentVersion.CLM_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Apttus__DocumentVersionId__r.Apttus__AgreementId__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>setContentVersion.GroupType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>setContentVersion.Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StageToApiname</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>setContentVersion.ProgramID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Apttus__DocumentVersionId__r.Apttus__AgreementId__r.Program__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Upload_Signed_Document</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_File_Name</name>
        <label>Set File Name</label>
        <locationX>50</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>setContentVersion.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>titleuploadsignedDoc</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_content_version</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>has_content_document</name>
        <label>has content document ?</label>
        <locationX>336</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_ContentDoc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Content_Document</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Content_Document.FileExtension</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>pdf</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>init_content_document_link_insert</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>has_content_version</name>
        <label>has content version ?</label>
        <locationX>545</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_ContentVersion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Content_Version</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Content_Document</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_extension_pdf</name>
        <label>is extension pdf ?</label>
        <locationX>781</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES_EXTENSIONPDF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Apttus__ContentVersionId__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Apttus__ContentVersionId__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Apttus__ContentVersionId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Content_Version</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Upload_Signed_Document</name>
        <label>Upload Signed Document ?</label>
        <locationX>182</locationX>
        <locationY>1187</locationY>
        <defaultConnector>
            <targetReference>Update_content_version</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Uploaded_Outside</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Apttus__Action2__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Upload Signed Document</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_File_Name</targetReference>
            </connector>
            <label>Uploaded Outside CLM</label>
        </rules>
    </decisions>
    <description>BBH 22.08.24 W-2107-CLM - Standard naming for Uploaded Signed Documents</description>
    <environments>Default</environments>
    <formulas>
        <name>StageToApiname</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record.Stage__c}, 
&apos;Conditions&apos;, &apos;6&apos;, 
&apos;Quote&apos;, &apos;1&apos;,
&apos;Lead&apos;, &apos;3&apos;,
&apos;Placement&apos;, &apos;2&apos;,
&apos;Signing&apos;, &apos;4&apos;
,&apos;5&apos;)</expression>
    </formulas>
    <formulas>
        <name>titleuploadsignedDoc</name>
        <dataType>String</dataType>
        <expression>&quot;Signed_&quot;+{!$Record.Tech_AgreementName__c}+&quot;_Final_&quot;+TEXT(TODAY())+&quot;_&quot;+{!$Record.Name}+&quot;_Signed outside CLM.pdf&quot;</expression>
    </formulas>
    <interviewLabel>CLM - DocumentVersionDetail - Link Document to Program {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CLM - DocumentVersionDetail - Link Document to Program</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>New_Content_Document_Link</name>
        <label>New Content Document Link</label>
        <locationX>182</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Set_Content_Vesrion</targetReference>
        </connector>
        <inputReference>ContentDocumentLinkToInsert</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Content_Document</name>
        <label>Get Content Document</label>
        <locationX>336</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>has_content_document</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Content_Version.ContentDocument.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocument</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Content_Version</name>
        <label>get Content Version</label>
        <locationX>545</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>has_content_version</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Apttus__ContentVersionId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentVersion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_content_version</name>
        <label>Update content version</label>
        <locationX>182</locationX>
        <locationY>1487</locationY>
        <inputReference>setContentVersion</inputReference>
    </recordUpdates>
    <start>
        <locationX>655</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>is_extension_pdf</targetReference>
        </connector>
        <object>Apttus__DocumentVersionDetail__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ContentDocumentLinkToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>setContentVersion</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentVersion</objectType>
    </variables>
</Flow>
