force-app/main/default/flows/CLM_Agreement_InitProgramDetails.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_AOF_Value</name>
        <label>Assign AOF Value</label>
        <locationX>138</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>AOFValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_AOF_Settings.AOF__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_On_AOF_Settings</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Reinsurer_Name</name>
        <label>Assign Reinsurer Name</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>ReinsurerName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formattedName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_AOF_Settings</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Retro_fields</name>
        <label>Assign Retro fields</label>
        <locationX>50</locationX>
        <locationY>1463</locationY>
        <assignmentItems>
            <assignToReference>$Record.RetroAOF__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AOFValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignAgreement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignAgreement</name>
        <label>AssignAgreement</label>
        <locationX>336</locationX>
        <locationY>1739</locationY>
        <assignmentItems>
            <assignToReference>agreementsListToSync</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SyncProgram</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Entry_Criteria</name>
        <label>Check Entry Criteria</label>
        <locationX>501</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Invalid agreement</defaultConnectorLabel>
        <rules>
            <name>Valid_Agreement</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Acceptation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Retrocession</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Group Cover</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cession</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Global Broker</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GlobalBrokerCession</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IF_Retrocession_only</targetReference>
            </connector>
            <label>Valid Agreement</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_AOF_Exist</name>
        <label>If AOF Exist</label>
        <locationX>182</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>AssignAgreement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_AOF_Settings</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_On_AOF_Settings</targetReference>
            </connector>
            <label>Yes Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_AOF_of_Reinsurer</name>
        <label>If AOF of Reinsurer</label>
        <locationX>270</locationX>
        <locationY>1079</locationY>
        <defaultConnector>
            <targetReference>Loop_On_AOF_Settings</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_AOF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_On_AOF_Settings.Reinsurers__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>ReinsurerName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_AOF_Value</targetReference>
            </connector>
            <label>Yes AOF</label>
        </rules>
    </decisions>
    <decisions>
        <name>IF_Retrocession_only</name>
        <label>IF Retrocession only</label>
        <locationX>336</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>AssignAgreement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Retrocession</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Retrocession</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cession</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GlobalBrokerCession</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Reinsurer_Name</targetReference>
            </connector>
            <label>Retrocession</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formattedName</name>
        <dataType>String</dataType>
        <expression>TRIM(SUBSTITUTE({!$Record.Apttus__Account__r.Name}, &apos;(R)&apos;, &apos;&apos;))</expression>
    </formulas>
    <interviewLabel>CLM - Agreement - Init Program Details {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CLM - Agreement - Init Program Details</label>
    <loops>
        <name>Loop_On_AOF_Settings</name>
        <label>Loop On AOF Settings</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <collectionReference>Get_AOF_Settings</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>If_AOF_of_Reinsurer</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Retro_fields</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_AOF_Settings</name>
        <label>Get AOF Settings</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_AOF_Exist</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CLM_AOF_Setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Program_record</name>
        <label>get Program record</label>
        <locationX>501</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Entry_Criteria</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Program__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Program__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateAgreements</name>
        <label>updateAgreements</label>
        <locationX>336</locationX>
        <locationY>1955</locationY>
        <inputReference>SyncProgram.agreementListToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>375</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Program_record</targetReference>
        </connector>
        <object>Apttus__APTS_Agreement__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>SyncProgram</name>
        <label>SyncProgram</label>
        <locationX>336</locationX>
        <locationY>1847</locationY>
        <connector>
            <targetReference>updateAgreements</targetReference>
        </connector>
        <flowName>CLM_SyncProgramSubflow</flowName>
        <inputAssignments>
            <name>agreementList</name>
            <value>
                <elementReference>agreementsListToSync</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Program</name>
            <value>
                <elementReference>get_Program_record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>agreementsListToSync</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__APTS_Agreement__c</objectType>
    </variables>
    <variables>
        <name>AOFValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReinsurerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
