force-app/main/default/flows/CLM_Global_Broker_create_agreements.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_list_Child_agreements</name>
        <label>Add to list Child agreements</label>
        <locationX>886</locationX>
        <locationY>2930</locationY>
        <assignmentItems>
            <assignToReference>lstChildAgreements</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>childAgreement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>eachSigningRequest</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_list_of_Existing_Risk_Carriers</name>
        <label>Add to list of Existing Risk Carriers</label>
        <locationX>1353</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>lstExistingRetroRiskCarrier</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Each_existing_GB.RiskCarrier__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Each_existing_GB</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_request_id</name>
        <label>Assign request id</label>
        <locationX>754</locationX>
        <locationY>2630</locationY>
        <assignmentItems>
            <assignToReference>requestId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eachSigningRequest.OriginalRequest__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Init_child_agreement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_request_id1</name>
        <label>Assign request id</label>
        <locationX>1018</locationX>
        <locationY>2630</locationY>
        <assignmentItems>
            <assignToReference>requestId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eachSigningRequest.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Init_child_agreement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_risk_carrier_list_Id</name>
        <label>assign risk carrier list Id</label>
        <locationX>798</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>lstIdRiskCarrier</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>eachSigningReq.RiskCarrier__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>init_list_signing_request_with_filters</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_4_of_Set_Err_Msg</name>
        <label>Set Err Msg</label>
        <locationX>1656</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>ErrMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No answered Signing requests (with risk carriers) found for the agreement&apos;s program</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>rollback</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Init_child_agreement</name>
        <label>Init child agreement</label>
        <locationX>886</locationX>
        <locationY>2822</locationY>
        <assignmentItems>
            <assignToReference>childAgreement.Apttus__Parent_Agreement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>agreement.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>childAgreement.Program__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>agreement.Program__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>childAgreement.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>childAgreement_Name_TRIM_Calc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>childAgreement.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_agreement_GB_cession_recordtype.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>childAgreement.Apttus__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Request</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>childAgreement.isAmended__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>agreement.isAmended__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>childAgreement.Reinsurer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eachSigningRequest.Reinsurer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>childAgreement.RiskCarrier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eachSigningRequest.RiskCarrier__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>childAgreement.Request__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>requestId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>childAgreement.FullName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>childAgreement_Name_Calc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>childAgreement.Apttus__Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>agreement.Apttus__Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>childAgreement.Wording1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>agreement.Wording1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>childAgreement.Wording2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>agreement.Wording2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>childAgreement.Wording3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>agreement.Wording3__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>childAgreement.Wording4__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>agreement.Wording4__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>childAgreement.AccountLegalName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>agreement.AccountLegalName__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_list_Child_agreements</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>init_list_signing_request_with_filters</name>
        <label>init list signing request with filters</label>
        <locationX>798</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>lstSigningRequestwithUniqueRiskCareer</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>eachSigningReq</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>eachSigningReq</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>lstSigningRequestwithUniqueRiskCareerCount</name>
        <label>Count lstSigningRequestwithUniqueRiskCareer</label>
        <locationX>358</locationX>
        <locationY>2198</locationY>
        <assignmentItems>
            <assignToReference>countLstRiskCarrierToCreateGB</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>lstSigningRequestwithUniqueRiskCareer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_GB_already_created</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Err_Msg</name>
        <label>Set Err Msg</label>
        <locationX>1392</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>ErrMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Retrocession template(s) found</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>rollback</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ErrMsg</name>
        <label>Set ErrMsg</label>
        <locationX>600</locationX>
        <locationY>3554</locationY>
        <assignmentItems>
            <assignToReference>ErrMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Amendment_Process.errMsg</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>rollback</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>All_GB_already_created</name>
        <label>All GB already created ?</label>
        <locationX>358</locationX>
        <locationY>2306</locationY>
        <defaultConnector>
            <targetReference>eachSigningRequest</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YESAll_GB_already_created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>countLstRiskCarrierToCreateGB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_existing_GB_on_agreement</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Screen1</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_if_has_original_requestid</name>
        <label>check if has original requestid</label>
        <locationX>886</locationX>
        <locationY>2522</locationY>
        <defaultConnector>
            <targetReference>Assign_request_id1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YESORIGINALREQUESTID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>eachSigningRequest.OriginalRequest__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_request_id</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_signing_reqs</name>
        <label>Found signing reqs ?</label>
        <locationX>1265</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Copy_4_of_Set_Err_Msg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_Found_signing_reqs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Signing_requests</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Found_templates</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_templates</name>
        <label>Found templates ?</label>
        <locationX>875</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>Set_Err_Msg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YESFound_templates</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_GB_templates</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>eachSigningReq</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_amended_agreement</name>
        <label>Is amended agreement ?</label>
        <locationX>666</locationX>
        <locationY>3230</locationY>
        <defaultConnector>
            <targetReference>Insert_retrocession_agreements</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YESIs_amended_agreement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>agreement.isAmended__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Amendment_Process</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_success_Amendment_process</name>
        <label>Is success ?</label>
        <locationX>468</locationX>
        <locationY>3446</locationY>
        <defaultConnector>
            <targetReference>Set_ErrMsg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YESIs_successAmendmentProcess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Amendment_Process.isSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>one_risk_carrier_already_exist</name>
        <label>one risk carrier already exist ?</label>
        <locationX>578</locationX>
        <locationY>1514</locationY>
        <defaultConnector>
            <targetReference>Risk_carrier_exist_in_existing_GB</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>lstIdRiskCarrier</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>eachSigningReq.RiskCarrier__r.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>eachSigningReq</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Risk_carrier_exist_in_existing_GB</name>
        <label>Risk carrier exist in existing GB ?</label>
        <locationX>710</locationX>
        <locationY>1622</locationY>
        <defaultConnector>
            <targetReference>assign_risk_carrier_list_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YESRisk_carrier_exist_in_existing_GB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>lstExistingRetroRiskCarrier</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>eachSigningReq.RiskCarrier__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>eachSigningReq</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>childAgreement_Name_Calc</name>
        <dataType>String</dataType>
        <expression>IF(NOT({!agreement.isAmended__c}),
&apos;B_&apos; &amp; TEXT({!agreement.Program__r.UwYear__c} ) + &apos;_&apos; &amp;{!agreement.Program__r.Name} &amp; &apos;_&apos; &amp; TRIM(SUBSTITUTE({!eachSigningRequest.RiskCarrier__r.Name}, &apos;(R)&apos;,&apos;&apos;)),
&apos;B_&apos; &amp; TEXT({!agreement.Program__r.UwYear__c} ) + &apos;_&apos; &amp;{!agreement.Program__r.Name} &amp; &apos;_&apos; &amp; TRIM(SUBSTITUTE({!eachSigningRequest.RiskCarrier__r.Name}, &apos;(R)&apos;,&apos;&apos;))+&apos; Amended &apos;+MID({!agreement.FullName__c},LEN({!agreement.FullName__c}),1 ))</expression>
    </formulas>
    <formulas>
        <name>childAgreement_Name_TRIM_Calc</name>
        <dataType>String</dataType>
        <expression>LEFT({!childAgreement_Name_Calc},80)</expression>
    </formulas>
    <interviewLabel>CLM - Global Broker - create agreements {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CLM - Global Broker - create agreements</label>
    <loops>
        <name>Each_existing_GB</name>
        <label>Each existing GB</label>
        <locationX>1265</locationX>
        <locationY>458</locationY>
        <collectionReference>Get_existing_GB_on_agreement</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_list_of_Existing_Risk_Carriers</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_GB_templates</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>eachSigningReq</name>
        <label>eachSigningReq</label>
        <locationX>358</locationX>
        <locationY>1406</locationY>
        <collectionReference>Get_Signing_requests</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>one_risk_carrier_already_exist</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>lstSigningRequestwithUniqueRiskCareerCount</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>eachSigningRequest</name>
        <label>For each Request</label>
        <locationX>666</locationX>
        <locationY>2414</locationY>
        <collectionReference>lstSigningRequestwithUniqueRiskCareer</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>check_if_has_original_requestid</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ReviewScreen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insert_retrocession_agreements</name>
        <label>Insert retrocession agreements</label>
        <locationX>864</locationX>
        <locationY>3338</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>rollback</targetReference>
        </faultConnector>
        <inputReference>lstChildAgreements</inputReference>
    </recordCreates>
    <recordLookups>
        <name>agreement</name>
        <label>Get agreement record</label>
        <locationX>1265</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_agreement_GB_cession_recordtype</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Apttus__APTS_Agreement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_agreement_GB_cession_recordtype</name>
        <label>Get agreement GB cession recordtype</label>
        <locationX>1265</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_existing_GB_on_agreement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GlobalBrokerCession</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Apttus__APTS_Agreement__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_existing_GB_on_agreement</name>
        <label>Get existing GB on agreement</label>
        <locationX>1265</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Each_existing_GB</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_agreement_GB_cession_recordtype.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Apttus__Parent_Agreement__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Apttus__APTS_Agreement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_GB_templates</name>
        <label>Get GB templates</label>
        <locationX>1265</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_to_be_exclude</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Apttus__Agreement_Types__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Global Broker Cession</stringValue>
            </value>
        </filters>
        <filters>
            <field>Apttus__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Agreement</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Apttus__APTS_Template__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Signing_requests</name>
        <label>Get Signing requests</label>
        <locationX>1265</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>treaty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>agreement.Program__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RiskCarrier__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>TECH_RecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Signing</stringValue>
            </value>
        </filters>
        <filters>
            <field>SignedShare__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>RiskCarrier__c</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>Account_to_be_exclude.ListIdsAccounts</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastVersionAnswered__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Request__c</object>
        <sortField>TECH_CLM_Riskcarriername__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>treaty</name>
        <label>Get Program&apos;s treaty</label>
        <locationX>1265</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_signing_reqs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>agreement.Program__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Treaty__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>rollback</name>
        <label>rollback</label>
        <locationX>1265</locationX>
        <locationY>4082</locationY>
        <connector>
            <targetReference>Error_Screen</targetReference>
        </connector>
    </recordRollbacks>
    <screens>
        <name>Error_Screen</name>
        <label>Error  Screen</label>
        <locationX>1265</locationX>
        <locationY>4190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrDisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Oops.. an error occurred 😟&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(251, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(251, 0, 0);&quot;&gt;{!ErrMsg}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;Try to click on the Refresh button or try again in a few minutes.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;If the error persist please contact your administrator &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen1</name>
        <label>Error  Screen</label>
        <locationX>50</locationX>
        <locationY>2414</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_ErrDisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(22, 110, 189); font-size: 16px;&quot;&gt;Global Broker&lt;/strong&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;have already been&lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt; &lt;/strong&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(22, 110, 189);&quot;&gt;generated&lt;/strong&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;for this &lt;/span&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(22, 110, 189);&quot;&gt;agreement&lt;/strong&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt; &lt;/strong&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;👀&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;You will find them in the &quot;🔂 Global Broker&quot; tab below&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ReviewScreen</name>
        <label>ReviewScreen</label>
        <locationX>666</locationX>
        <locationY>3122</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_amended_agreement</targetReference>
        </connector>
        <fields>
            <name>HelpTextScreen2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;💡Below is the Global Broker agreements that will be generated. &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;If everything seems right, click &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Next&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ChildAgreementsTableDIsplay</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Apttus__APTS_Agreement__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Global Broker agreements to be generated</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>lstChildAgreements</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;FullName__c&quot;,&quot;guid&quot;:&quot;column-b505&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Full Agreement Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Generate Global Broker agreements ✨</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1139</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>agreement</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Account_to_be_exclude</name>
        <label>Account to be exclude</label>
        <locationX>1265</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>Get_Signing_requests</targetReference>
        </connector>
        <flowName>CLM_Subflow_get_Account</flowName>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Amendment_Process</name>
        <label>Amendment Process</label>
        <locationX>468</locationX>
        <locationY>3338</locationY>
        <connector>
            <targetReference>Is_success_Amendment_process</targetReference>
        </connector>
        <flowName>CLM_Retrocession_Subflow_Amendment_process</flowName>
        <inputAssignments>
            <name>amendedAgreementId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>sheetRule</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-family: sans-serif;&quot;&gt;⏳&lt;/strong&gt;&lt;strong style=&quot;font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;In order of rule execution:&lt;/strong&gt;&lt;/p&gt;&lt;ol&gt;&lt;li&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 10pt; color: rgb(0, 0, 0);&quot;&gt;If agreement is an amendment ➡ &lt;/span&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;📄 &lt;/span&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 10pt; color: rgb(0, 0, 0);&quot;&gt;{to_be_completed}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 10pt; color: rgb(0, 0, 0);&quot;&gt;If agreement is of type &quot;Group cover&quot; &lt;/span&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 13.3333px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt; ➡ &lt;/span&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;📄 &lt;/span&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 10pt; color: rgb(0, 0, 0);&quot;&gt;Retrocession template group cover&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 10pt; color: rgb(0, 0, 0);&quot;&gt;If treaty type is XL or SL AND Loss Deposit (In Signing Request) = Yes &lt;/span&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 13.3333px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;➡ &lt;/span&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;📄 &lt;/span&gt;&lt;span style=&quot;font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;Retrocession template - Life Non propor-Proportional Retroc with deposit&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 10pt; font-family: sans-serif;&quot;&gt;If treaty type is XL or SL AND Loss Deposit (In Signing Request) = No &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 13.3333px; font-family: sans-serif; background-color: rgb(255, 255, 255);&quot;&gt;➡ &lt;/span&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;📄 &lt;/span&gt;&lt;span style=&quot;font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;Retrocession template - Life Non propor-Proportional Retroc without deposit&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 10pt; color: rgb(0, 0, 0);&quot;&gt;If treaty type is QS or Surplus AND Loss Deposit (In Signing Request) = Yes &lt;/span&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 13.3333px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;➡ &lt;/span&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;📄 &lt;/span&gt;&lt;span style=&quot;font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;Retrocession template - P&amp;amp;C Propor Retro with deposit&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 10pt; font-family: sans-serif;&quot;&gt;If treaty type is QS or Surplus AND Loss Deposit (In Signing Request) = Yes &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 13.3333px; font-family: sans-serif; background-color: rgb(255, 255, 255);&quot;&gt;➡&lt;/span&gt;📄 &lt;span style=&quot;font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;Retrocession template - P&amp;amp;C Propor Retro without deposit&lt;/span&gt;&lt;/li&gt;&lt;/ol&gt;</text>
    </textTemplates>
    <variables>
        <name>childAgreement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__APTS_Agreement__c</objectType>
    </variables>
    <variables>
        <name>countLstRiskCarrierToCreateGB</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Request__c</objectType>
    </variables>
    <variables>
        <name>ErrMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>listidsaccounttoexclude</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lstChildAgreements</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__APTS_Agreement__c</objectType>
    </variables>
    <variables>
        <name>lstExistingRetroRiskCarrier</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lstIdRiskCarrier</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lstSigningRequestwithUniqueRiskCareer</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Request__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>requestId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedTemplate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__APTS_Template__c</objectType>
    </variables>
    <variables>
        <name>Step1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Step2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>steps</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
