force-app/main/default/flows/CLM_Agreement_UnlockAgreementOnOwnerChange.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Unlock_Agreement</name>
        <label>Unlock Agreement</label>
        <locationX>182</locationX>
        <locationY>492</locationY>
        <actionName>CLM_UnlockAgreement</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>CheckUnlockWs</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>agreementId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CLM_UnlockAgreement</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customErrors>
        <name>Bypass_Error</name>
        <label>Bypass Error</label>
        <locationX>842</locationX>
        <locationY>384</locationY>
        <customErrorMessages>
            <errorMessage>Bypass Error</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Flag_Error</name>
        <label>Flag Error</label>
        <locationX>578</locationX>
        <locationY>492</locationY>
        <customErrorMessages>
            <errorMessage>Flag Error</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>WS_error</name>
        <label>WS error</label>
        <locationX>50</locationX>
        <locationY>708</locationY>
        <customErrorMessages>
            <errorMessage>Webservice error
{!Unlock_Agreement.errorMsg}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>CheckUnlockWs</name>
        <label>CheckUnlockWs</label>
        <locationX>182</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <targetReference>UpdateUnlock</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Success</defaultConnectorLabel>
        <rules>
            <name>Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Unlock_Agreement.isSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WS_error</targetReference>
            </connector>
            <label>Error</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_CheckBypass</name>
        <label>Copy 1 of CheckBypass</label>
        <locationX>611</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Bypass_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not allowed</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_isAllowed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.AgreementSettings__c.CanUnlockAgreementOnOwnerChange__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>isFlagged</targetReference>
            </connector>
            <label>Copy 1 of isAllowed</label>
        </rules>
    </decisions>
    <decisions>
        <name>isFlagged</name>
        <label>Is Flagged</label>
        <locationX>380</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>Flag_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ToUnlock__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unlock_Agreement</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <description>Unlocks agreement when owner is changed</description>
    <environments>Default</environments>
    <interviewLabel>CLM - Agreement - Unlock Agreement on Owner Chang {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CLM - Agreement - Unlock Agreement on Owner Chang</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdateUnlock</name>
        <label>UpdateUnlock</label>
        <locationX>314</locationX>
        <locationY>708</locationY>
        <inputAssignments>
            <field>ToUnlock__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>72</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ToUnlock__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Apttus__APTS_Agreement__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Copy_1_of_CheckBypass</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>1500</triggerOrder>
    <variables>
        <name>AgreementsToUpdateOwner</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__APTS_Agreement__c</objectType>
    </variables>
    <variables>
        <name>CurrentAgreementInLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__APTS_Agreement__c</objectType>
    </variables>
</Flow>
