force-app/main/default/flows/CLM_Agreement_CopySignedPdf.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Clone_Content_Version</name>
        <label>Clone Content Version</label>
        <locationX>572</locationX>
        <locationY>1116</locationY>
        <actionName>CLM_CloneContentVersion</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Content_Document_Link</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contentVersionId</name>
            <value>
                <elementReference>Copy_Contents.LatestPublishedVersionId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CLM_CloneContentVersion</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Content_Documents_Found</name>
        <label>Assign Content Documents Found</label>
        <locationX>572</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>ContentDocumentsFound</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_1.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Content_Document_Link</name>
        <label>Create Content Document Link</label>
        <locationX>572</locationX>
        <locationY>1224</locationY>
        <assignmentItems>
            <assignToReference>CurrentContentDocumentLink.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Clone_Content_Version.clonedContentDocId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentContentDocumentLink.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentContentDocumentLink.ShareType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>V</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentContentDocumentLink.Visibility</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AllUsers</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContentDocumentLinksToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentContentDocumentLink</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_Contents</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Contains_Content_Documents</name>
        <label>Contains Content Documents</label>
        <locationX>484</locationX>
        <locationY>1500</locationY>
        <defaultConnectorLabel>Is empty</defaultConnectorLabel>
        <rules>
            <name>yes_Contains</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContentDocumentLinksToInsert</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insert_Document_Links</targetReference>
            </connector>
            <label>yes Contains</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Signed_Doc</name>
        <label>Is Signed Doc</label>
        <locationX>704</locationX>
        <locationY>1008</locationY>
        <defaultConnector>
            <targetReference>Copy_Contents</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not signed</defaultConnectorLabel>
        <rules>
            <name>Signed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_Contents.Title</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Signed_</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clone_Content_Version</targetReference>
            </connector>
            <label>Signed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CLM - Agreement - Copy Signed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CLM - Agreement - Copy Signed PDF</label>
    <loops>
        <name>Copy_Contents</name>
        <label>Copy Contents</label>
        <locationX>484</locationX>
        <locationY>900</locationY>
        <collectionReference>Get_Content_Documents</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Signed_Doc</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Contains_Content_Documents</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_1</name>
        <label>Loop 1</label>
        <locationX>484</locationX>
        <locationY>492</locationY>
        <collectionReference>Retrieve_Content_Document_Links</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Content_Documents_Found</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Content_Documents</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_Document_Links</name>
        <label>Insert Document Links</label>
        <locationX>352</locationX>
        <locationY>1608</locationY>
        <inputReference>ContentDocumentLinksToInsert</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Agreement_Renewed_From</name>
        <label>Get Agreement Renewed From</label>
        <locationX>484</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Retrieve_Content_Document_Links</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Apttus__APTS_Contract_To__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Apttus__Relationship_To_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Is Renewal For</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Apttus__APTS_Related_Agreement__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Apttus__APTS_Contract_From__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Content_Documents</name>
        <label>Get Content Documents</label>
        <locationX>484</locationX>
        <locationY>792</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_Contents</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ContentDocumentsFound</elementReference>
            </value>
        </filters>
        <filters>
            <field>Title</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Signed_</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocument</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>LatestPublishedVersionId</queriedFields>
        <queriedFields>Title</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_Content_Document_Links</name>
        <label>Retrieve Content Document Links</label>
        <locationX>484</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Agreement_Renewed_From.Apttus__APTS_Contract_From__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Apttus__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Renewal</stringValue>
            </value>
        </filters>
        <filters>
            <field>Apttus__Status_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Request</stringValue>
            </value>
        </filters>
        <object>Apttus__APTS_Agreement__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_Agreement_Renewed_From</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ContentDocumentLinksToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>ContentDocumentsFound</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentContentDocLink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>CurrentContentDocumentLink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
</Flow>
