force-app/main/default/flows/CLM_update_Agreement_on_Agreement_line_item_change.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>update_AGL1</name>
        <label>update AGL</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.TreatyShareDetails__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>concatRequestTreatyRefLayer</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>update_AGL2</name>
        <label>update AGL</label>
        <locationX>314</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.concatRiskCarrierAdresseLEICode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>concatAdresseRiskCarriereName</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>update_AGL3</name>
        <label>update AGL</label>
        <locationX>578</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.concat_reinsured_Adresse__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>concatReinsuredAdresse</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>AGL_RT</name>
        <label>AGL RT ?</label>
        <locationX>446</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Treaty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Treaty</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_AGL1</targetReference>
            </connector>
            <label>Treaty</label>
        </rules>
        <rules>
            <name>Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_AGL2</targetReference>
            </connector>
            <label>Request</label>
        </rules>
        <rules>
            <name>CCC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CoveredCedingCompanies</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_AGL3</targetReference>
            </connector>
            <label>CCC</label>
        </rules>
    </decisions>
    <decisions>
        <name>Field_changes</name>
        <label>Field changes ?</label>
        <locationX>776</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YESFIELDCHANGE</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TreatyRef__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.TreatyRef__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RiskCarrierName__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.RiskCarrierName__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingCity__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.BillingCity__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingCountry__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.BillingCountry__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingPostalCode__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.BillingPostalCode__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingState__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.BillingState__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingStreet__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.BillingStreet__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RequestLEICodeRiskCarrier__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.RequestLEICodeRiskCarrier__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CedingAccountName__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.CedingAccountName__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SignedShare__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.RequestSignedShare__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Layer__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Layer__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Deduction__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Deduction__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LossDepositMode__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.LossDepositMode__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeaderName__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.LeaderName__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BrokerName__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.BrokerName__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PlacementShare__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.PlacementShare__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LossAttachment__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.LossAttachment__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AGL_RT</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>concatAdresseRiskCarriereName</name>
        <dataType>String</dataType>
        <expression>&apos;Whose head office is at, &apos;&amp; BR() &amp;
IF((ISNULL({!$Record.BillingStreet__c}) || ISBLANK({!$Record.BillingStreet__c})), &apos;&apos;, {!$Record.BillingStreet__c} &amp; (&apos;, &apos;) ) &amp;
IF((ISNULL({!$Record.BillingCity__c}) || ISBLANK({!$Record.BillingCity__c})), &apos;&apos;, {!$Record.BillingCity__c}&amp;(&apos;, &apos;)) &amp;
IF((ISNULL({!$Record.BillingState__c}) || ISBLANK({!$Record.BillingState__c})), &apos;&apos;, {!$Record.BillingState__c}&amp;(&apos;, &apos;)) &amp;
IF((ISNULL({!$Record.BillingPostalCode__c}) || ISBLANK({!$Record.BillingPostalCode__c})), &apos;&apos;, {!$Record.BillingPostalCode__c}&amp;(&apos;, &apos;) )&amp;
IF((ISNULL({!$Record.BillingCountry__c}) || ISBLANK({!$Record.BillingCountry__c})), &apos;&apos;, {!$Record.BillingCountry__c})</expression>
    </formulas>
    <formulas>
        <name>concatReinsuredAdresse</name>
        <dataType>String</dataType>
        <expression>&apos;- &apos; + {!$Record.CedingAccountName__c} &amp; BR() &amp;
&apos;Whose head office is at, &apos;&amp; BR() &amp;
IF((ISNULL({!$Record.BillingStreet__c}) || ISBLANK({!$Record.BillingStreet__c})), &apos;&apos;, {!$Record.BillingStreet__c} &amp; (&apos;, &apos;)) &amp; 
IF((ISNULL({!$Record.BillingCity__c}) || ISBLANK({!$Record.BillingCity__c})), &apos;&apos;, {!$Record.BillingCity__c}&amp; (&apos;, &apos;)) &amp; 
IF((ISNULL({!$Record.BillingState__c}) || ISBLANK({!$Record.BillingState__c})), &apos;&apos;, {!$Record.BillingState__c}&amp; (&apos;, &apos;)) &amp; 
IF((ISNULL({!$Record.BillingPostalCode__c}) || ISBLANK({!$Record.BillingPostalCode__c})), &apos;&apos;, {!$Record.BillingPostalCode__c}&amp; (&apos;, &apos;)) &amp; 
IF((ISNULL({!$Record.BillingCountry__c}) || ISBLANK({!$Record.BillingCountry__c})), &apos;&apos;, {!$Record.BillingCountry__c})</expression>
    </formulas>
    <formulas>
        <name>concatRequestTreatyRefLayer</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.RequestSignedShare__c})+&apos;% of layer &apos; + {!$Record.Layer__c}+&apos; Underlying Reinsurance Agreement n° &apos;+{!$Record.TreatyRef__c}</expression>
    </formulas>
    <interviewLabel>CLM - update Agreement on Agreement line item change {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CLM - update Agreement on Agreement line item change</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Field_changes</targetReference>
        </connector>
        <object>Apttus__AgreementLineItem__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AGLUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__AgreementLineItem__c</objectType>
    </variables>
</Flow>
