force-app/main/default/flows/CLM_SyncCoveredCedingCompaniesData.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>SyncItem</name>
        <label>SyncItem</label>
        <locationX>264</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Sync.BillingCountry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CoveredCedingCompany.Account__r.BillingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sync.BillingPostalCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CoveredCedingCompany.Account__r.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sync.BillingState__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CoveredCedingCompany.Account__r.BillingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sync.BillingStreet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CoveredCedingCompany.Account__r.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sync.CedingAccountName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CoveredCedingCompany.Account__r.LongName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sync.BillingCity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CoveredCedingCompany.Account__r.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sync.concat_reinsured_Adresse__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>adressereinsured</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AGLOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Sync</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sync</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>adressereinsured</name>
        <dataType>String</dataType>
        <expression>&apos;- &apos; + {!CoveredCedingCompany.Account__r.LongName__c} &amp; BR() &amp;
&apos;Whose head office is at, &apos;&amp; BR() &amp;
IF((ISNULL({!CoveredCedingCompany.Account__r.BillingStreet}) || ISBLANK({!CoveredCedingCompany.Account__r.BillingStreet})), &apos;&apos;, {!CoveredCedingCompany.Account__r.BillingStreet} &amp; (&apos;, &apos;)) &amp; 
IF((ISNULL({!CoveredCedingCompany.Account__r.BillingCity}) || ISBLANK({!CoveredCedingCompany.Account__r.BillingCity})), &apos;&apos;, {!CoveredCedingCompany.Account__r.BillingCity}&amp; (&apos;, &apos;)) &amp; 
IF((ISNULL({!CoveredCedingCompany.Account__r.BillingState}) || ISBLANK({!CoveredCedingCompany.Account__r.BillingState})), &apos;&apos;, {!CoveredCedingCompany.Account__r.BillingState}&amp; (&apos;, &apos;)) &amp; 
IF((ISNULL({!CoveredCedingCompany.Account__r.BillingPostalCode}) || ISBLANK({!CoveredCedingCompany.Account__r.BillingPostalCode})), &apos;&apos;, {!CoveredCedingCompany.Account__r.BillingPostalCode}&amp; (&apos;, &apos;)) &amp; 
IF((ISNULL({!CoveredCedingCompany.Account__r.BillingCountry}) || ISBLANK({!CoveredCedingCompany.Account__r.BillingCountry})), &apos;&apos;, {!CoveredCedingCompany.Account__r.BillingCountry})</expression>
    </formulas>
    <interviewLabel>CLM - Sync Covered Ceding Companies Data {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CLM - Sync Covered Ceding Companies Data</label>
    <loops>
        <name>Sync</name>
        <label>Sync</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <collectionReference>AGLInput</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SyncItem</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Sync</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AGLInput</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__AgreementLineItem__c</objectType>
    </variables>
    <variables>
        <name>AGLOutput</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Apttus__AgreementLineItem__c</objectType>
    </variables>
    <variables>
        <name>CoveredCedingCompany</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CoveredCedingCompany__c</objectType>
    </variables>
</Flow>
