force-app/main/default/flows/CLM_DocumentVersionDetail_FinalCheckIn.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>UpdateAgreementAssignment</name>
        <label>UpdateAgreementAssignment</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>GetAgreements.Apttus__Status_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Signatures</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetAgreements.Apttus__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Other Party Signatures</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateRecords</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckBypass</name>
        <label>CheckBypass</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>false</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.AgreementSettings__c.CanSetFinalVersion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetAgreements</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>has_Records</name>
        <label>has Records</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>false</defaultConnectorLabel>
        <rules>
            <name>TrueHasRecords</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetAgreements</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateAgreementAssignment</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <description>When document is checked in as final, updates status of the agreement records</description>
    <environments>Default</environments>
    <interviewLabel>CLM - Document Version Detail {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CLM - Document Version Detail - Final Check In</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetAgreements</name>
        <label>GetAgreements</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>has_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.TECH_AgreementId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SignatureMethod__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Other Electronic Signature</stringValue>
            </value>
        </filters>
        <filters>
            <field>Apttus__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>In Renewal</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Apttus__APTS_Agreement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateRecords</name>
        <label>UpdateRecords</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <inputReference>GetAgreements</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CheckBypass</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Apttus__DocumentInfo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Final</stringValue>
            </value>
        </filters>
        <object>Apttus__DocumentVersionDetail__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
