force-app/main/default/flows/CLM_SectionsSyncAGLOnUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>checkValueChange</name>
        <label>checkValueChange</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>update_AgreementLineItems</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Value Change</defaultConnectorLabel>
        <rules>
            <name>ValueChanged</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CededLines__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.CededLines__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Retention__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Retention__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Limit__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Limit__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Capacity__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Capacity__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RetentionAmount__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.RetentionAmount__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CessionAmount__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.CessionAmount__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_AgreementLine_Items</targetReference>
            </connector>
            <label>ValueChanged</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CLM - Sections - Sync on update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CLM - Sections - Sync AGL on update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_AgreementLine_Items</name>
        <label>get AgreementLine Items</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sync_Section</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Section__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Apttus__AgreementLineItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_AgreementLineItems</name>
        <label>update AgreementLineItems</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <inputReference>Sync_Section.AGLOutput</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>checkValueChange</targetReference>
        </connector>
        <object>Section__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Sync_Section</name>
        <label>Sync Section</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>update_AgreementLineItems</targetReference>
        </connector>
        <flowName>CLM_SyncSectionData</flowName>
        <inputAssignments>
            <name>AGLIterate</name>
            <value>
                <elementReference>get_AgreementLine_Items</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sectionInput</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
