force-app/main/default/flows/CLM_Retrocession_Get_FinalContentDoc_Of_ParentAgreement.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ConvertDocToContentVersion</name>
        <label>ConvertDocToContentVersion</label>
        <locationX>710</locationX>
        <locationY>1838</locationY>
        <actionName>universign_docToContentVersion</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_success_DocToContentVersion</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>documentId</name>
            <value>
                <elementReference>Get_document.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>universign_docToContentVersion</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_contentDocumentIds</name>
        <label>Add to contentDocumentIds</label>
        <locationX>3043</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>contentDocumentIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Each_CDL.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Each_CDL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_3_of_Set_Err</name>
        <label>Copy 1 of Copy 3 of Set Err</label>
        <locationX>3834</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>An error occured on the flow &quot;Universign - Retrocession - Subflow - Get Final ContentDoc of parent agreement&quot;</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_4_of_Set_Err</name>
        <label>Copy 1 of Copy 4 of Set Err</label>
        <locationX>1106</locationX>
        <locationY>2054</locationY>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConvertDocToContentVersion.errorMsg</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_1_of_Set_DocName</name>
        <label>Set DocName</label>
        <locationX>1040</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>docName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>retroDocNameCalc</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_document</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Set_Err</name>
        <label>Set Err</label>
        <locationX>2778</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ErrMsg_NoFinalDocument_Retrocession</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_2_of_Set_Err</name>
        <label>Copy 2 of Set Err</label>
        <locationX>4362</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>errMsg_NoSignaturePage_Cession</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_2_of_Set_output_variables</name>
        <label>Copy (success) output variables</label>
        <locationX>314</locationX>
        <locationY>2270</locationY>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>finalDocVersion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCreatedContentVersion</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_3_of_Set_Err</name>
        <label>Copy 3 of Set Err</label>
        <locationX>3570</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>errMsg_NoSignaturePage_Cession</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_4_of_Set_Err</name>
        <label>Copy 4 of Set Err</label>
        <locationX>578</locationX>
        <locationY>2270</locationY>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_DocName</name>
        <label>Set DocName</label>
        <locationX>2074</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>docName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SignedDocName_RemovingSigned_Calc</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_document</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Err</name>
        <label>Set Err</label>
        <locationX>1375</locationX>
        <locationY>2846</locationY>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ErrMsg_NoFinalDocument_Retrocession</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_output_variables</name>
        <label>Set output variables</label>
        <locationX>50</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>finalDocVersion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetContentVersion_FinalCheckIn</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>xSet_output_variables</name>
        <label>Set output variables</label>
        <locationX>3306</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>finalDocVersion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contentVersionUploadSigned</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Copy_1_of_Found_contentDocument</name>
        <label>Copy 1 of Found contentDocument ?</label>
        <locationX>545</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Set_DocName</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetContentVersion_FinalCheckIn</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_output_variables</targetReference>
            </connector>
            <label>Copy 1 of YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_contentDocument</name>
        <label>Found contentDocument ?</label>
        <locationX>1375</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>getSignedContentVersion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_contentversion_appt</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetContentVersion_FinalCheckIn</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>FOund_contentversion</name>
        <label>FOund contentversion ?</label>
        <locationX>3438</locationX>
        <locationY>1274</locationY>
        <defaultConnector>
            <targetReference>Copy_3_of_Set_Err</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YESFOund_contentversion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contentVersionUploadSigned</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>xSet_output_variables</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_document</name>
        <label>Found document ?</label>
        <locationX>1040</locationX>
        <locationY>1730</locationY>
        <defaultConnector>
            <targetReference>Set_Err</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_Found_document</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_document</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ConvertDocToContentVersion</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_docVersionDetail</name>
        <label>Found docVersionDetail ?</label>
        <locationX>3438</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>FOund_contentversion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_Found_docVersionDetail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getUploadSignDocVersionDetail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>contentVersionUploadSigned</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_records</name>
        <label>Found records ?</label>
        <locationX>2076</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Set_Err</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_Found_records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>finalDocVersionDetailID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_contentversion_appt</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_signed_doc</name>
        <label>Found signed doc ?</label>
        <locationX>2206</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>Set_Err</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YESFound_signed_doc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getSignedContentVersion</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_DocName</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_success_DocToContentVersion</name>
        <label>Is success ?</label>
        <locationX>710</locationX>
        <locationY>1946</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Copy_4_of_Set_Err</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YESIs_success_DocToContentVersion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConvertDocToContentVersion.isSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getCreatedContentVersion</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>ModelTypeCheck</name>
        <label>Get model type of agreement</label>
        <locationX>2955</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Copy_3_of_Set_Err</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Retrocession</name>
            <conditionLogic>(1 AND 2) OR 3 OR 4</conditionLogic>
            <conditions>
                <leftValueReference>templateNumber</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>templateNumber</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>templateNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>9.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>templateNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>finalDocVersionDetailID</targetReference>
            </connector>
            <label>1-6 and 9-10(Retrocession)</label>
        </rules>
        <rules>
            <name>Cession</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>templateNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>templateNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>8.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getUploadSignDocVersionDetail</targetReference>
            </connector>
            <label>7-8 (Cession)</label>
        </rules>
    </decisions>
    <decisions>
        <name>YESFound_records</name>
        <label>Found records ?</label>
        <locationX>3658</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Set_Err</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_FoudnContentDoucmentLinks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_contentDocumentLinks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Each_CDL</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>retroDocNameCalc</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE({!get_contentversion_appt.PathOnClient}, &quot;.docx&quot;, &quot;.pdf&quot;), &quot;.doc&quot;, &quot;.pdf&quot;)</expression>
    </formulas>
    <formulas>
        <name>SignedDocName_RemovingSigned_Calc</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!getSignedContentVersion.PathOnClient}, &quot;Signed_&quot;, &quot;&quot;)</expression>
    </formulas>
    <interviewLabel>CLM - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Universign - Retrocession - Subflow - Get Final ContentDoc of parent agreement</label>
    <loops>
        <name>Each_CDL</name>
        <label>Each CDL</label>
        <locationX>2955</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_contentDocumentLinks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_contentDocumentIds</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_templateNumber_on_parent_Agreement</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_contentDocumentLInk</name>
        <label>Create contentDocumentLInk</label>
        <locationX>314</locationX>
        <locationY>2162</locationY>
        <connector>
            <targetReference>Copy_2_of_Set_output_variables</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_4_of_Set_Err</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ContentDocumentId</field>
            <value>
                <elementReference>getCreatedContentVersion.ContentDocumentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedEntityId</field>
            <value>
                <elementReference>agreementId</elementReference>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>contentVersionUploadSigned</name>
        <label>Get contentversion (Upload signed doc)</label>
        <locationX>3306</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FOund_contentversion</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getUploadSignDocVersionDetail.Apttus__ContentVersionId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContentDocumentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getUploadSignDocVersionDetail.Apttus__ContentId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentVersion</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContentDocumentId</queriedFields>
        <queriedFields>Title</queriedFields>
        <queriedFields>PathOnClient</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>finalDocVersionDetailID</name>
        <label>Get Final DocumentVersionDetail</label>
        <locationX>2076</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_records</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Copy_4_of_Set_Err</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Apttus__DocumentInfo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Final</stringValue>
            </value>
        </filters>
        <filters>
            <field>TECH_AgreementId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>agreementId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Apttus__FileType__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>DOC</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Apttus__DocumentVersionDetail__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_contentDocumentLinks</name>
        <label>Get contentDocumentLinks in parentAgreement</label>
        <locationX>3658</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>YESFound_records</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Copy_4_of_Set_Err</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>agreementId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_contentversion_appt</name>
        <label>get contentversion</label>
        <locationX>1375</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_contentDocument</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Copy_4_of_Set_Err</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>finalDocVersionDetailID.Apttus__ContentVersionId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentVersion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_document</name>
        <label>Get pdf document</label>
        <locationX>1040</locationX>
        <locationY>1622</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_document</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Copy_4_of_Set_Err</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>docName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Document</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_templateNumber_on_parent_Agreement</name>
        <label>Get templateNumber on parent Agreement</label>
        <locationX>2955</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ModelTypeCheck</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Copy_4_of_Set_Err</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>agreement.Apttus__Parent_Agreement__c</elementReference>
            </value>
        </filters>
        <object>Apttus__APTS_Agreement__c</object>
        <outputAssignments>
            <assignToReference>templateNumber</assignToReference>
            <field>TECH_TemplateNumber__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetContentVersion_FinalCheckIn</name>
        <label>Get ContentVersion FinalCheckIn</label>
        <locationX>545</locationX>
        <locationY>1298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Found_contentDocument</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Copy_4_of_Set_Err</targetReference>
        </faultConnector>
        <filterLogic>1 AND 2 AND NOT(3)</filterLogic>
        <filters>
            <field>PathOnClient</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>retroDocNameCalc</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContentDocumentId</field>
            <operator>In</operator>
            <value>
                <elementReference>contentDocumentIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Title</field>
            <operator>Contains</operator>
            <value>
                <stringValue>SentForSignature_</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentVersion</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContentDocumentId</queriedFields>
        <queriedFields>PathOnClient</queriedFields>
        <queriedFields>Title</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCreatedContentVersion</name>
        <label>Get created ContentVersion</label>
        <locationX>314</locationX>
        <locationY>2054</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_contentDocumentLInk</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Copy_4_of_Set_Err</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ConvertDocToContentVersion.contentVersionId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentVersion</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContentDocumentId</queriedFields>
        <queriedFields>ContentLocation</queriedFields>
        <queriedFields>PathOnClient</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getSignedContentVersion</name>
        <label>Get Signed ContentVersion</label>
        <locationX>2206</locationX>
        <locationY>1298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_signed_doc</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>ContentDocumentId</field>
            <operator>In</operator>
            <value>
                <elementReference>contentDocumentIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>PathOnClient</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>Signed_</stringValue>
            </value>
        </filters>
        <filters>
            <field>Title</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>Signed_</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentVersion</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Title</queriedFields>
        <queriedFields>PathOnClient</queriedFields>
        <queriedFields>ContentDocumentId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getUploadSignDocVersionDetail</name>
        <label>Get DocumentVersionDetail (Upload Signed Doc)</label>
        <locationX>3438</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_docVersionDetail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Apttus__Action2__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Upload Signed Document</stringValue>
            </value>
        </filters>
        <filters>
            <field>TECH_AgreementId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>agreementId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Apttus__DocumentVersionDetail__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>3532</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_contentDocumentLinks</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ErrMsg_NoFinalDocument_Retrocession</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;ol&gt;&lt;li&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;No final (checked-in) document found on the parent agreement of this retrocession&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;You have to check in a document on the parent agreement as final version which generates a PDF file. This file will be attached to your retrocession file on sending as signature.&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Afterwards, you can come back to this flow to send your document for signature. &lt;/span&gt;&lt;/li&gt;&lt;/ol&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>errMsg_NoSignaturePage_Cession</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;ol&gt;&lt;li&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;No signed document was found attached on the parent agreement&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Please ensure that the signed document was uploaded  on the parent agreement via the &quot;Upload signed document&quot; button &lt;/span&gt;&lt;/li&gt;&lt;/ol&gt;</text>
    </textTemplates>
    <variables>
        <name>agreement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__APTS_Agreement__c</objectType>
    </variables>
    <variables>
        <name>agreementId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>childAgreementRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contentDocumentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>docName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>finalDocVersion</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentVersion</objectType>
    </variables>
    <variables>
        <name>isSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>templateNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
