force-app/main/default/flows/CLM_Request_Signing_Create_new_retrocession.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>add_id_risk_carrier_record_to_list_carrier_id</name>
        <label>add id risk carrier record to list carrier id</label>
        <locationX>1214</locationX>
        <locationY>2459</locationY>
        <assignmentItems>
            <assignToReference>lstIdcarrier</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.RiskCarrier__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_each_Agreement_Retrocession</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_id_risk_carrier_to_list_risk_carrier</name>
        <label>add id risk carrier to list risk carrier</label>
        <locationX>1038</locationX>
        <locationY>1727</locationY>
        <assignmentItems>
            <assignToReference>lstIdcarrier</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>each_agreement_retro.Apttus__Account__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>each_agreement_retro</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_list_Child_Agreements</name>
        <label>Add list Child Agreements</label>
        <locationX>1214</locationX>
        <locationY>2351</locationY>
        <assignmentItems>
            <assignToReference>ListChildAgreements</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ChildAgreement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_id_risk_carrier_record_to_list_carrier_id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>init_child_Agreement</name>
        <label>init child Agreement</label>
        <locationX>1214</locationX>
        <locationY>2243</locationY>
        <assignmentItems>
            <assignToReference>ChildAgreement.Apttus__Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.RiskCarrier__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildAgreement.Program__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Program__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildAgreement.RetrocessionTemplate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_template_by_rules.templateId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildAgreement.TECH_Retrocession_template_name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_template_by_rules.templateName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildAgreement.Apttus__Parent_Agreement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eachAgreement.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildAgreement.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>chilAgreement_Name_Trimmed_Calc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildAgreement.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_agreement_Retrocession_Recordtype.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildAgreement.Apttus__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Request</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildAgreement.isAmended__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eachAgreement.isAmended__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildAgreement.FullName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>childAgreement_Name_Calc</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_list_Child_Agreements</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Exclude_Account</name>
        <label>Exclude Account ?</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Get_Program</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_EXCLUDE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account_to_exclude.ListIdsAccounts</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.RiskCarrier__c</elementReference>
                </rightValue>
            </conditions>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exist_retro_for_signing_request</name>
        <label>Exist retro for signing request ?</label>
        <locationX>1126</locationX>
        <locationY>2027</locationY>
        <defaultConnector>
            <targetReference>get_template_by_rules</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>lstIdcarrier</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.RiskCarrier__r.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>For_each_Agreement_Retrocession</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_child_Agreement_Retrocession</name>
        <label>Found child Agreement Retrocession ?</label>
        <locationX>1058</locationX>
        <locationY>1511</locationY>
        <defaultConnector>
            <targetReference>eachAgreement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>Yes_FoundChildRetrocession</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_existing_agreement_retrocession</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>each_agreement_retro</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>run_the_operation</name>
        <label>run the operation ?</label>
        <locationX>456</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_RUN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RiskCarrier__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TECH_RecordType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Signing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SignedShare__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Exclude_Account</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>chilAgreement_Name_Trimmed_Calc</name>
        <dataType>String</dataType>
        <expression>LEFT({!childAgreement_Name_Calc}, 80)</expression>
    </formulas>
    <formulas>
        <name>childAgreement_Name_Calc</name>
        <dataType>String</dataType>
        <expression>&apos;R_&apos; &amp; TEXT({!Get_Program.UwYear__c}) + &apos;_&apos; &amp;{!Get_Program.Name} &amp; &apos;_&apos; &amp; TRIM(SUBSTITUTE({!$Record.RiskCarrier__r.Name}, &apos;(R)&apos;,&apos;&apos;))</expression>
    </formulas>
    <interviewLabel>CLM - Request Signing - Create new retrocession {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CLM - Request Signing - Create new retrocession</label>
    <loops>
        <name>each_agreement_retro</name>
        <label>each agreement retro</label>
        <locationX>950</locationX>
        <locationY>1619</locationY>
        <collectionReference>Get_existing_agreement_retrocession</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>add_id_risk_carrier_to_list_risk_carrier</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>For_each_Agreement_Retrocession</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>eachAgreement</name>
        <label>Each agreement</label>
        <locationX>598</locationX>
        <locationY>1295</locationY>
        <collectionReference>Agreements</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_existing_agreement_retrocession</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>insert_retrocession</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>For_each_Agreement_Retrocession</name>
        <label>For each Agreement Retrocession</label>
        <locationX>950</locationX>
        <locationY>1919</locationY>
        <collectionReference>Get_existing_agreement_retrocession</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Exist_retro_for_signing_request</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>eachAgreement</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>insert_retrocession</name>
        <label>insert retrocession</label>
        <locationX>598</locationX>
        <locationY>2903</locationY>
        <inputReference>ListChildAgreements</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Agreements</name>
        <label>Get Agreements</label>
        <locationX>598</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Retrocession_Template</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Program.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Get_agreement_Retrocession_Recordtype.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Get_agreement_Cession_Recordtype.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Apttus__APTS_Agreement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_agreement_Cession_Recordtype</name>
        <label>Get agreement Cession Recordtype</label>
        <locationX>598</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Agreements</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cession</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Apttus__APTS_Agreement__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_agreement_Retrocession_Recordtype</name>
        <label>Get agreement Retrocession Recordtype</label>
        <locationX>598</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_agreement_Cession_Recordtype</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Retrocession</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Apttus__APTS_Agreement__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_existing_agreement_retrocession</name>
        <label>Get existing agreement retrocession</label>
        <locationX>1058</locationX>
        <locationY>1403</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_child_Agreement_Retrocession</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_agreement_Retrocession_Recordtype.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Apttus__Parent_Agreement__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>eachAgreement.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Apttus__APTS_Agreement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Program</name>
        <label>Get Program</label>
        <locationX>598</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_agreement_Retrocession_Recordtype</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Program__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Program__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_program_treaty</name>
        <label>Get program treaty</label>
        <locationX>598</locationX>
        <locationY>1187</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>eachAgreement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Program.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Treaty__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Retrocession_Template</name>
        <label>get Retrocession Template</label>
        <locationX>598</locationX>
        <locationY>1079</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_program_treaty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Apttus__Agreement_Types__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Retrocession</stringValue>
            </value>
        </filters>
        <filters>
            <field>Apttus__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Agreement</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Apttus__APTS_Template__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>330</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Account_to_exclude</targetReference>
        </connector>
        <object>Request__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Account_to_exclude</name>
        <label>Account to exclude</label>
        <locationX>456</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>run_the_operation</targetReference>
        </connector>
        <flowName>CLM_Subflow_get_Account</flowName>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>get_template_by_rules</name>
        <label>get template by rules</label>
        <locationX>1214</locationX>
        <locationY>2135</locationY>
        <connector>
            <targetReference>init_child_Agreement</targetReference>
        </connector>
        <flowName>CLM_Retrocession_Subflow_Auto_set_template</flowName>
        <inputAssignments>
            <name>agreement</name>
            <value>
                <elementReference>eachAgreement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SigningRequest</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>templates</name>
            <value>
                <elementReference>get_Retrocession_Template</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>treaty</name>
            <value>
                <elementReference>Get_program_treaty</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>ChildAgreement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__APTS_Agreement__c</objectType>
    </variables>
    <variables>
        <name>ListChildAgreements</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__APTS_Agreement__c</objectType>
    </variables>
    <variables>
        <name>lstIdcarrier</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
