force-app/main/default/flows/CLM_Request_Create_Update_AGLI_Sync_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>get_label_loss_deposit_mode</name>
        <label>get label loss deposit mode</label>
        <locationX>50</locationX>
        <locationY>1163</locationY>
        <actionName>CLM_PicklistUtility</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_loss_deposit_mode</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>apiname</name>
            <value>
                <elementReference>$Record.LossDepositMode__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fieldApiname</name>
            <value>
                <stringValue>LossDepositMode__c</stringValue>
            </value>
        </inputParameters>
        <nameSegment>CLM_PicklistUtility</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_loss_deposit_mode</name>
        <label>Assign loss deposit mode</label>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>lossdepositmodevalue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_label_loss_deposit_mode.label</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_insert_update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_AGLI</name>
        <label>Create AGLI</label>
        <locationX>138</locationX>
        <locationY>1655</locationY>
        <assignmentItems>
            <assignToReference>AGLI.RiskCarrierName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.RiskCarrier__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AGLI.LEICodeRiskCarrier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.RiskCarrier__r.LEICode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AGLI.SignedShare__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SignedShare__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AGLI.Layer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TECH_Layer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AGLI.Request__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AGLI.LossDepositMode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lossdepositmodevalue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AGLI.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_AGLI_RT_Request_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AGLI.Apttus__AgreementId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Related_AGLI.Apttus__AgreementId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_AGLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Request</name>
        <label>Set Request</label>
        <locationX>501</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>RequestId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OriginalRequest__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Related_AGLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetRequestOld</name>
        <label>SetRequestOld</label>
        <locationX>765</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>RequestId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Related_AGLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_AGLI</name>
        <label>Update AGLI</label>
        <locationX>402</locationX>
        <locationY>1763</locationY>
        <assignmentItems>
            <assignToReference>AGLI.RiskCarrierName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.RiskCarrier__r.LongName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AGLI.LEICodeRiskCarrier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.RiskCarrier__r.LEICode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AGLI.SignedShare__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SignedShare__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AGLI.Layer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TECH_Layer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AGLI.Request__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RequestId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AGLI.LossDepositMode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lossdepositmodevalue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AGLI.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_AGLI_RT_Request_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AGLI.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Related_AGLI.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AGLI.Deduction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Deductions__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_AGLI2</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Value_Change</name>
        <label>Check Value Change</label>
        <locationX>534</locationX>
        <locationY>1655</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Value_Changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RiskCarrier__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.RiskCarrier__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SignedShare__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.SignedShare__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TECH_Layer__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.TECH_Layer__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LossDepositMode__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.LossDepositMode__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_AGLI</targetReference>
            </connector>
            <label>Value Changed</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if request has an original version</description>
        <name>ContainsOriginalRequest</name>
        <label>Contains Original Request</label>
        <locationX>633</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>SetRequestOld</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OriginalRequest__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Request</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>DummyDecision</name>
        <label>DummyDecision</label>
        <locationX>182</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>If_insert_update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesDum</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.ProfileId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>asdasdas</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_label_loss_deposit_mode</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_AGLS</name>
        <label>Found AGLS?</label>
        <locationX>633</locationX>
        <locationY>731</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesFoundAGls</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_AGLI</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_AGLI_RT_Request_Id</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_insert_update</name>
        <label>If insert/update</label>
        <locationX>336</locationX>
        <locationY>1547</locationY>
        <defaultConnector>
            <targetReference>Check_Value_Change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Update</defaultConnectorLabel>
        <rules>
            <name>Is_Insert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_AGLI.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_AGLI</targetReference>
            </connector>
            <label>Is Insert</label>
        </rules>
    </decisions>
    <decisions>
        <name>picklistisFilled</name>
        <label>Loss Deposit Check Null</label>
        <locationX>336</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>If_insert_update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>is null</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LossDepositMode__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DummyDecision</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <description>Flow Used to create/update AGLI, every time a Signing request is created</description>
    <environments>Default</environments>
    <interviewLabel>CLM - Request - Create/Update AGLI Sync Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CLM - Request - Create/Update AGLI Sync Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_AGLI</name>
        <label>Insert AGLI</label>
        <locationX>138</locationX>
        <locationY>1763</locationY>
        <inputReference>AGLI</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_AGLI_RT_Request_Id</name>
        <label>Get AGLI RT Request Id</label>
        <locationX>336</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>picklistisFilled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Request</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Apttus__AgreementLineItem__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_AGLI</name>
        <label>Get Related AGLI</label>
        <locationX>633</locationX>
        <locationY>623</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_AGLS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RequestId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Apttus__AgreementLineItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_AGLI2</name>
        <label>Update AGLI</label>
        <locationX>402</locationX>
        <locationY>1871</locationY>
        <inputReference>AGLI</inputReference>
    </recordUpdates>
    <start>
        <locationX>507</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ContainsOriginalRequest</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TECH_RecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Signing</stringValue>
            </value>
        </filters>
        <object>Request__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>AGLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__AgreementLineItem__c</objectType>
    </variables>
    <variables>
        <name>lossdepositmodevalue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RequestId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
