force-app/main/default/flows/Contact_Signatory_Update_a_contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Performs email check on contact being updated</description>
        <name>CheckEmailAction</name>
        <label>CheckEmailAction</label>
        <locationX>248</locationX>
        <locationY>758</locationY>
        <actionName>tlsdfp__DFP_DataQuality_InvocableFlw</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>checkEmailValidity</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>emailValue</name>
            <value>
                <elementReference>updatedContact.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fieldName</name>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectApiName</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recId</name>
            <value>
                <stringValue>tempemaillog</stringValue>
            </value>
        </inputParameters>
        <nameSegment>tlsdfp__DFP_DataQuality_InvocableFlw</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assgn_Error_Phone</name>
        <label>Assgn Error Phone</label>
        <locationX>754</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Invalid Mobile Phone Number Format. Please start with the +, your country code then follow with the phone number without 0 at the front. Format example : +33613456780.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Flow_Contact_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Broker</name>
        <label>Assign Broker</label>
        <locationX>380</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>updatedContact.BrokerReinsurer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Broker</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact</name>
        <label>Assign Contact</label>
        <locationX>248</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>updatedContact.Salutation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Civility</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updatedContact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formatedFirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updatedContact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>upperCaseName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updatedContact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updatedContact.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckEmailAction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Error_message</name>
        <label>Assign Error message</label>
        <locationX>1282</locationX>
        <locationY>1898</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>An error occured please contact your Administrator</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Flow_Contact_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Reins</name>
        <label>Assign Reins</label>
        <locationX>116</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>updatedContact.BrokerReinsurer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reinsurer</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Found_dupplicate</name>
        <label>Found dupplicate</label>
        <locationX>1018</locationX>
        <locationY>1898</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>This e-mail address is associated with another contact</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Flow_Contact_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Pass_Phone_error</name>
        <label>Pass Phone error</label>
        <locationX>248</locationX>
        <locationY>1682</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>If_Email_Error_Only</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ShowEmailError</name>
        <label>ShowEmailError</label>
        <locationX>446</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>EmailError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Dr</name>
        <choiceText>Dr.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dr.</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mr</name>
        <choiceText>Mr.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mr.</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mrs</name>
        <choiceText>Mrs.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mrs.</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ms</name>
        <choiceText>Ms.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ms.</stringValue>
        </value>
    </choices>
    <choices>
        <name>Prof</name>
        <choiceText>Prof.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Prof.</stringValue>
        </value>
    </choices>
    <decisions>
        <name>checkEmailValidity</name>
        <label>checkEmailValidity</label>
        <locationX>248</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>GetLogsTodelete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Valid</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CheckEmailAction.isEmailValid</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Force_Email_Address</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Log_Details</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Duplicate</name>
        <label>Found Duplicate</label>
        <locationX>1150</locationX>
        <locationY>1790</locationY>
        <defaultConnector>
            <targetReference>Assign_Error_message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_duplicate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.FaultMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>DUPLICATE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Found_dupplicate</targetReference>
            </connector>
            <label>Yes duplicate</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Elements</name>
        <label>Has Elements</label>
        <locationX>446</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>ShowEmailError</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesHasElements</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetLogsTodelete</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Temp_Logs</targetReference>
            </connector>
            <label>YesHasElements</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Email_Error_Only</name>
        <label>If Email Error Only</label>
        <locationX>248</locationX>
        <locationY>1790</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Only_Email_Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailError</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Force_Email_Address</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Flow_Contact_Update</targetReference>
            </connector>
            <label>Only Email Error</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Phone_Error</name>
        <label>If Phone Error</label>
        <locationX>952</locationX>
        <locationY>1682</locationY>
        <defaultConnector>
            <targetReference>Found_Duplicate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.FaultMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Invalid Mobile Phone Number Format.</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assgn_Error_Phone</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Reinsurer</name>
        <label>If Reinsurer</label>
        <locationX>248</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Assign_Broker</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Reinsurer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>updatedContact.AccountType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reinsurer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Reins</targetReference>
            </connector>
            <label>Is Reinsurer</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formatedFirstName</name>
        <dataType>String</dataType>
        <expression>INITCAP({!First_Name})</expression>
    </formulas>
    <formulas>
        <name>upperCaseName</name>
        <dataType>String</dataType>
        <expression>UPPER({!Last_Name})</expression>
    </formulas>
    <interviewLabel>Contact Signatory - Update a contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact Signatory - Update a contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Delete_Temp_Logs</name>
        <label>Delete Temp Logs</label>
        <locationX>314</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>ShowEmailError</targetReference>
        </connector>
        <inputReference>GetLogsTodelete</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Contact_To_Update</name>
        <label>Get Contact To Update</label>
        <locationX>248</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Flow_Contact_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactToUpdateId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>updatedContact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>Salutation</queriedFields>
        <queriedFields>MobilePhone</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>AccountType__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetLogsTodelete</name>
        <label>GetLogsTodelete</label>
        <locationX>446</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Elements</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tlsdfp__TraceRecordId__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>tempemaillog</stringValue>
            </value>
        </filters>
        <filters>
            <field>CreatedById</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>tlsdfp__DFP_Service__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>248</locationX>
        <locationY>1574</locationY>
        <connector>
            <targetReference>Pass_Phone_error</targetReference>
        </connector>
        <faultConnector>
            <targetReference>If_Phone_Error</targetReference>
        </faultConnector>
        <inputReference>updatedContact</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Log_Details</name>
        <label>Update Log Details</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tlsdfp__TraceRecordId__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>tempemaillog</stringValue>
            </value>
        </filters>
        <filters>
            <field>CreatedById</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>tlsdfp__TraceRecordId__c</field>
            <value>
                <elementReference>updatedContact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>tlsdfp__DFP_Service__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Flow_Contact_Update</name>
        <label>Flow Contact Update</label>
        <locationX>248</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>If_Reinsurer</targetReference>
        </connector>
        <fields>
            <name>errorDisplay</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; color: rgb(255, 0, 0);&quot;&gt;{!errorMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>errorMessage</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Flow_Contact_Update_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Flow_Contact_Update_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Civility</name>
                    <choiceReferences>Mr</choiceReferences>
                    <choiceReferences>Ms</choiceReferences>
                    <choiceReferences>Mrs</choiceReferences>
                    <choiceReferences>Dr</choiceReferences>
                    <choiceReferences>Prof</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>updatedContact.Salutation</elementReference>
                    </defaultValue>
                    <fieldText>Civility</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>First_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>updatedContact.FirstName</elementReference>
                    </defaultValue>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Last_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>updatedContact.LastName</elementReference>
                    </defaultValue>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Flow_Contact_Update_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>updatedContact.Email</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Force_Email_Address</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Force Email Address</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>EmailError</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>EmailErrorDisplay</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;{!CheckEmailAction.error}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>EmailError</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Phone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>updatedContact.MobilePhone</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact_To_Update</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>contactToUpdateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>updatedContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
