force-app/main/default/flows/Contact_Signatory_Component_v3.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Checks duplicate contact records</description>
        <name>checkDuplicateRecords</name>
        <label>checkDuplicateRecords</label>
        <locationX>578</locationX>
        <locationY>2906</locationY>
        <actionName>sfpegGetDuplicates_CTL</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>lengthDup</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__records</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__newRecords</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>newRecords</name>
            <value>
                <elementReference>newContact</elementReference>
            </value>
        </inputParameters>
        <nameSegment>sfpegGetDuplicates_CTL</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Performs email check on contact being created</description>
        <name>CheckEmailAction</name>
        <label>CheckEmailAction</label>
        <locationX>908</locationX>
        <locationY>3230</locationY>
        <actionName>tlsdfp__DFP_DataQuality_InvocableFlw</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>checkEmailValidity</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>emailValue</name>
            <value>
                <elementReference>newContact.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fieldName</name>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectApiName</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recId</name>
            <value>
                <stringValue>tempemaillog</stringValue>
            </value>
        </inputParameters>
        <nameSegment>tlsdfp__DFP_DataQuality_InvocableFlw</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Account_Id_Value_to_Collection_Ids</name>
        <label>Add Account Id Value to Collection Ids</label>
        <locationX>1260</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>reinsuresrsIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getContacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Signatory_and_Mobile</name>
        <label>Add Signatory and Mobile</label>
        <locationX>314</locationX>
        <locationY>4394</locationY>
        <assignmentItems>
            <assignToReference>duplicateContactToUse.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>mobilePhone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>duplicateContactToUse.ApprovalRole__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Signatory</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopUpdateContactApprovalRole</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_collection</name>
        <label>Add to collection</label>
        <locationX>2206</locationX>
        <locationY>2930</locationY>
        <assignmentItems>
            <assignToReference>lastContactListOrdered</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewJunctionObject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Ordered_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_collection1</name>
        <label>Add to collection1</label>
        <locationX>2558</locationX>
        <locationY>2930</locationY>
        <assignmentItems>
            <assignToReference>lastContactListOrdered</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewJunctionObject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Selected_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_updated_item_to_preselected_contact</name>
        <label>Add updated item to preselected contact</label>
        <locationX>50</locationX>
        <locationY>4862</locationY>
        <assignmentItems>
            <assignToReference>preselectedContacts</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Listmulti.selectionList</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>preselectedContacts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>duplicateContactToUse</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_On_Contact_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Value_to_Collection_Ids</name>
        <label>Add Value to Collection Ids</label>
        <locationX>1700</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>reinsuresrsIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Build_Collection_of_Reins_Ids.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Collection_of_Reins_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddContactToDuplicateList</name>
        <label>AddContactToDuplicateList</label>
        <locationX>336</locationX>
        <locationY>3446</locationY>
        <assignmentItems>
            <assignToReference>ContactsDuplicateDisplayed</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getContactDuplicate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getContactDetails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Add_Contact</name>
        <label>Assign Add Contact</label>
        <locationX>1568</locationX>
        <locationY>2090</locationY>
        <assignmentItems>
            <assignToReference>addContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>customFooter.addContact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>listContactToOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Listmulti.selectionList</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newContact</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessageInsertContact</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>If_Adding_New_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Broker_Field</name>
        <label>Assign Broker Field</label>
        <locationX>578</locationX>
        <locationY>2714</locationY>
        <assignmentItems>
            <assignToReference>newContact.BrokerReinsurer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Broker</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkDuplicateRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contains</name>
        <label>Assign Contains</label>
        <locationX>138</locationX>
        <locationY>5186</locationY>
        <assignmentItems>
            <assignToReference>containsDuplicate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_On_Contact_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Contact_preselected</name>
        <label>Assign New Contact preselected</label>
        <locationX>974</locationX>
        <locationY>4694</locationY>
        <assignmentItems>
            <assignToReference>contactlist</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newContact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>preselectedContacts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen_Example</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_preselected2</name>
        <label>Assign preselected</label>
        <locationX>1568</locationX>
        <locationY>1874</locationY>
        <assignmentItems>
            <assignToReference>contactlist</assignToReference>
            <operator>AddAtStart</operator>
            <value>
                <elementReference>preselectedContacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_Example</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Reinsurer_Field</name>
        <label>Assign Reinsurer Field</label>
        <locationX>314</locationX>
        <locationY>2714</locationY>
        <assignmentItems>
            <assignToReference>newContact.BrokerReinsurer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reinsurer</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkDuplicateRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_ContactList</name>
        <label>Assign to ContactList</label>
        <locationX>182</locationX>
        <locationY>5570</locationY>
        <assignmentItems>
            <assignToReference>contactlist</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>duplicateContactToUse</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen_Example</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Value_to_New_Contact</name>
        <label>Assign Value to New Contact</label>
        <locationX>578</locationX>
        <locationY>2498</locationY>
        <assignmentItems>
            <assignToReference>newContact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formatedFirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newContact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>upperCaseName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newContact.Salutation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Civility</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newContact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactEmail.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newContact.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>mobilePhone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newContact.ApprovalRole__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Signatory</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newContact.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newContact.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>broReinsRT</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newContact.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newContactFullName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Reinsurer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignErrorMessage</name>
        <label>AssignErrorMessage</label>
        <locationX>1766</locationX>
        <locationY>4262</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessageInsertContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>errorMessageSplited</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_New_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Length_Ordered_Contact</name>
        <label>Count Length Ordered Contact</label>
        <locationX>2294</locationX>
        <locationY>2498</locationY>
        <assignmentItems>
            <assignToReference>lenOrderedContact</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>SortContacts.orderedList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_Contacts_reOrdered</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Length_Signatories</name>
        <label>Count Length Signatories</label>
        <locationX>1436</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>lengthSignatories</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>signatories</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_Contacts_Exist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Preselected</name>
        <label>Count Preselected</label>
        <locationX>1106</locationX>
        <locationY>4370</locationY>
        <assignmentItems>
            <assignToReference>lengthPreselectedContacts</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Listmulti.selectionList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_PreSelected_Added</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CountLengthSelectedDuplicateSelecte</name>
        <label>CountLengthSelectedDuplicateSelecte</label>
        <locationX>248</locationX>
        <locationY>3746</locationY>
        <assignmentItems>
            <assignToReference>lengthDuplicateFoundSelected</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>multiselect.selectionList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DuplicateSelected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_New_Junction_Object</name>
        <label>Create New Junction Object</label>
        <locationX>2206</locationX>
        <locationY>2822</locationY>
        <assignmentItems>
            <assignToReference>NewJunctionObject.ProgramId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>programId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewJunctionObject.ContactId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Ordered_Contacts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewJunctionObject.ReinsurerId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Iteration</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewJunctionObject.OrderOfSignatory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iteration</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewJunctionObject.RiskCarrierId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RiskCarrierID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_New_Junction_Object1</name>
        <label>Create New Junction Object1</label>
        <locationX>2558</locationX>
        <locationY>2822</locationY>
        <assignmentItems>
            <assignToReference>NewJunctionObject.ProgramId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>programId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewJunctionObject.ContactId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Selected_Contacts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewJunctionObject.ReinsurerId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Iteration</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewJunctionObject.OrderOfSignatory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iteration</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewJunctionObject.RiskCarrierId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RiskCarrierID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_collection1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Email_Error_to_False</name>
        <label>Email Error to False</label>
        <locationX>710</locationX>
        <locationY>3554</locationY>
        <assignmentItems>
            <assignToReference>EmailError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_New_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Existing_Contact</name>
        <label>Existing Contact</label>
        <locationX>1416</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>preselectedContacts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tempContact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>prevoiusSignatoryIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_On_existing_Contact.ContactId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_On_existing_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>lengthDup</name>
        <label>lengthDup</label>
        <locationX>578</locationX>
        <locationY>3014</locationY>
        <assignmentItems>
            <assignToReference>lengthDuplicates</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>checkDuplicateRecords.records</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactsDuplicateDisplayed</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>containsDuplicate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>duplicatesFound</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>newContactAssignment</name>
        <label>newContactAssignment</label>
        <locationX>292</locationX>
        <locationY>4070</locationY>
        <assignmentItems>
            <assignToReference>duplicateContactToUse.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopUpdateContactApprovalRole.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>duplicateContactToUse.ApprovalRole__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopUpdateContactApprovalRole.ApprovalRole__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>duplicateContactToUse.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopUpdateContactApprovalRole.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>duplicateContactToUse.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopUpdateContactApprovalRole.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>duplicateContactToUse.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopUpdateContactApprovalRole.MobilePhone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_Already_Signatory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Overwrite_preselected</name>
        <label>Overwrite preselected</label>
        <locationX>974</locationX>
        <locationY>4586</locationY>
        <assignmentItems>
            <assignToReference>preselectedContacts</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Listmulti.selectionList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_New_Contact_preselected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Pass_Phone_error</name>
        <label>Pass Phone error</label>
        <locationX>908</locationX>
        <locationY>4154</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessageInsertContact</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>If_Email_Error_Only</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Add_Contact_False</name>
        <label>Set Add Contact False</label>
        <locationX>1304</locationX>
        <locationY>1874</locationY>
        <assignmentItems>
            <assignToReference>addContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>listContactToOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>preselectedContacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_Adding_New_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setApprovalRole</name>
        <label>setApprovalRole</label>
        <locationX>578</locationX>
        <locationY>4394</locationY>
        <assignmentItems>
            <assignToReference>duplicateContactToUse.ApprovalRole__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Signatory</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopUpdateContactApprovalRole</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ShowEmailError</name>
        <label>ShowEmailError</label>
        <locationX>1106</locationX>
        <locationY>3854</locationY>
        <assignmentItems>
            <assignToReference>EmailError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_New_Contact</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Dr</name>
        <choiceText>Dr.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dr.</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mr</name>
        <choiceText>Mr.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mr.</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mrs</name>
        <choiceText>Mrs.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mrs.	</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ms</name>
        <choiceText>Ms.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ms.</stringValue>
        </value>
    </choices>
    <choices>
        <name>Prof</name>
        <choiceText>Prof.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Prof.	</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Bump_on_duplicate_Error</name>
        <label>Bump on duplicate Error</label>
        <locationX>1634</locationX>
        <locationY>4154</locationY>
        <defaultConnector>
            <targetReference>AssignErrorMessage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Bump_On_Duplicate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>errorMessageSplited</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>DUPLICATE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_New_Contact</targetReference>
            </connector>
            <label>Yes Bump On Duplicate</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Mobile_for_duplicate_contact</name>
        <label>Check Mobile for duplicate contact</label>
        <locationX>446</locationX>
        <locationY>4286</locationY>
        <defaultConnector>
            <targetReference>setApprovalRole</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MobileNotPresent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>duplicateContactToUse.MobilePhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Signatory_and_Mobile</targetReference>
            </connector>
            <label>MobileNotPresent</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkEmailValidity</name>
        <label>checkEmailValidity</label>
        <locationX>908</locationX>
        <locationY>3338</locationY>
        <defaultConnector>
            <targetReference>GetLogsTodelete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>EmailNotvalid</defaultConnectorLabel>
        <rules>
            <name>Valid</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CheckEmailAction.isEmailValid</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ForceEmailAddress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Log_Details</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
    </decisions>
    <decisions>
        <name>DuplicateSelected</name>
        <label>DuplicateSelected</label>
        <locationX>248</locationX>
        <locationY>3854</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>getContacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>lengthDuplicateFoundSelected</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopUpdateContactApprovalRole</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>duplicatesFound</name>
        <label>duplicatesFound</label>
        <locationX>578</locationX>
        <locationY>3122</locationY>
        <defaultConnector>
            <targetReference>CheckEmailAction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesDuplicateFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>lengthDuplicates</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getContactDetails</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Go_Order</name>
        <label>Go Order</label>
        <locationX>1436</locationX>
        <locationY>1766</locationY>
        <defaultConnector>
            <targetReference>Assign_preselected2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>goReorder</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Add_Contact_False</targetReference>
            </connector>
            <label>Order</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Elements</name>
        <label>Has Elements</label>
        <locationX>1106</locationX>
        <locationY>3554</locationY>
        <defaultConnector>
            <targetReference>ShowEmailError</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesHasElements</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetLogsTodelete</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Temp_Logs</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Adding_New_Contact</name>
        <label>If Adding New Contact</label>
        <locationX>1436</locationX>
        <locationY>2282</locationY>
        <defaultConnector>
            <targetReference>Select_order_of_signatory</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_New_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>addContact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_New_Contact</targetReference>
            </connector>
            <label>Is New Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_already_in_Contact_List</name>
        <label>If already in Contact List</label>
        <locationX>50</locationX>
        <locationY>5462</locationY>
        <defaultConnector>
            <targetReference>Assign_to_ContactList</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_In</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>containsDuplicate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>getContacts</targetReference>
            </connector>
            <label>Yes In</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Already_Signatory</name>
        <label>If Already Signatory</label>
        <locationX>292</locationX>
        <locationY>4178</locationY>
        <defaultConnector>
            <targetReference>Check_Mobile_for_duplicate_contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Signatory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>duplicateContactToUse.ApprovalRole__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Signatory</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopUpdateContactApprovalRole</targetReference>
            </connector>
            <label>Yes Signatory</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Contacts_Exist</name>
        <label>If Contacts Exist</label>
        <locationX>1436</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Get_Parent_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>lengthSignatories</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_On_existing_Contact</targetReference>
            </connector>
            <label>Has Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Contacts_reOrdered</name>
        <label>If Contacts reOrdered</label>
        <locationX>2294</locationX>
        <locationY>2606</locationY>
        <defaultConnector>
            <targetReference>Loop_on_Selected_Contacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_been_ordered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>lenOrderedContact</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_on_Ordered_Contacts</targetReference>
            </connector>
            <label>Has been ordered</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_contains_duplicate</name>
        <label>If contains duplicate</label>
        <locationX>270</locationX>
        <locationY>5078</locationY>
        <defaultConnector>
            <targetReference>Loop_On_Contact_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Contains</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_On_Contact_List.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>duplicateContactToUse.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contains</targetReference>
            </connector>
            <label>Yes Contains</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Email_Error_Only</name>
        <label>If Email Error Only</label>
        <locationX>908</locationX>
        <locationY>4262</locationY>
        <defaultConnector>
            <targetReference>Count_Preselected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Only_Email_Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailError</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ForceEmailAddress</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Contact_When_Email_Error</targetReference>
            </connector>
            <label>Only Email Error</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_no_Parent_Found</name>
        <label>If no Parent Found</label>
        <locationX>1436</locationX>
        <locationY>950</locationY>
        <defaultConnector>
            <targetReference>Get_Reinsurer_Same_Parent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>With Parent</defaultConnectorLabel>
        <rules>
            <name>No_Parent</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>parentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>parentId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Add_Account_Id_Value_to_Collection_Ids</targetReference>
            </connector>
            <label>No Parent</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_PreSelected_Added</name>
        <label>If PreSelected Added</label>
        <locationX>1106</locationX>
        <locationY>4478</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>getContacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Added_Preselection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>lengthPreselectedContacts</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Overwrite_preselected</targetReference>
            </connector>
            <label>Yes Added Preselection</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Reinsurer</name>
        <label>Is Reinsurer</label>
        <locationX>578</locationX>
        <locationY>2606</locationY>
        <defaultConnector>
            <targetReference>checkDuplicateRecords</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nothing</defaultConnectorLabel>
        <rules>
            <name>Yes_Reins</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newContact.Account.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reinsurer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Reinsurer_Field</targetReference>
            </connector>
            <label>Yes Reins</label>
        </rules>
        <rules>
            <name>Yes_Broker</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newContact.Account.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Broker</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Broker_Field</targetReference>
            </connector>
            <label>Yes Broker</label>
        </rules>
    </decisions>
    <description>V7 : Fix issue W-1864 - Update MobilePhone for the existing duplicate contact
V5 : Fix issue W-2304 - CLM - Retrocession contract cannot be sent in Signature</description>
    <dynamicChoiceSets>
        <name>ContactsListSelected</name>
        <collectionReference>contactlist</collectionReference>
        <dataType>String</dataType>
        <displayField>FirstName</displayField>
        <object>Contact</object>
        <valueField>FirstName</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>errorMessageSplited</name>
        <dataType>String</dataType>
        <expression>LEFT(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE({!$Flow.FaultMessage},&apos; You can look up ExceptionCode values in the&apos;, &apos;&apos;), &apos;This error occurred when the flow tried to create records: &apos;, &apos;&apos;),&apos;SOAP API Developer Guide&apos;, &apos;&apos;),&apos;FIELD_CUSTOM_VALIDATION_EXCEPTION:&apos;, &apos;&apos;), LEN(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE({!$Flow.FaultMessage},&apos; You can look up ExceptionCode values in the&apos;, &apos;&apos;), &apos;This error occurred when the flow tried to create records: &apos;, &apos;&apos;),&apos;SOAP API Developer Guide&apos;, &apos;&apos;),&apos;FIELD_CUSTOM_VALIDATION_EXCEPTION:&apos;, &apos;&apos;)) - 1)</expression>
    </formulas>
    <formulas>
        <name>formatedFirstName</name>
        <dataType>String</dataType>
        <expression>INITCAP({!First_Name})</expression>
    </formulas>
    <formulas>
        <name>newContactFullName</name>
        <dataType>String</dataType>
        <expression>{!newContact.FirstName} + &apos; &apos; + {!newContact.LastName}</expression>
    </formulas>
    <formulas>
        <name>upperCaseName</name>
        <dataType>String</dataType>
        <expression>UPPER({!Last_Name})</expression>
    </formulas>
    <interviewLabel>Contact - Signatory Component v3 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact - Signatory Component v7</label>
    <loops>
        <name>Build_Collection_of_Reins_Ids</name>
        <label>Build Collection of Reins Ids</label>
        <locationX>1612</locationX>
        <locationY>1166</locationY>
        <collectionReference>reinsurers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Value_to_Collection_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>getContacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>getContactDetails</name>
        <label>getContactDetails</label>
        <locationX>248</locationX>
        <locationY>3230</locationY>
        <collectionReference>checkDuplicateRecords.records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>getContactDuplicate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>DuplicateSelector</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_On_Contact_List</name>
        <label>Loop On Contact List</label>
        <locationX>50</locationX>
        <locationY>4970</locationY>
        <collectionReference>contactlist</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>If_contains_duplicate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>If_already_in_Contact_List</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_On_existing_Contact</name>
        <label>Loop On existing Contact</label>
        <locationX>1328</locationX>
        <locationY>350</locationY>
        <collectionReference>signatories</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Details_Previous_Contacts</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Parent_Id</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_Ordered_Contacts</name>
        <label>Loop on Ordered Contacts</label>
        <locationX>2118</locationX>
        <locationY>2714</locationY>
        <collectionReference>SortContacts.orderedList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_New_Junction_Object</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_on_Selected_Contacts</name>
        <label>Loop on Selected Contacts</label>
        <locationX>2470</locationX>
        <locationY>2714</locationY>
        <collectionReference>Listmulti.selectionList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_New_Junction_Object1</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>loopUpdateContactApprovalRole</name>
        <label>loopUpdateContactApprovalRole</label>
        <locationX>50</locationX>
        <locationY>3962</locationY>
        <collectionReference>multiselect.selectionList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>newContactAssignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateContactSetSignatory</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insert_New_Contact</name>
        <label>Insert New Contact</label>
        <locationX>908</locationX>
        <locationY>4046</locationY>
        <connector>
            <targetReference>Pass_Phone_error</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Bump_on_duplicate_Error</targetReference>
        </faultConnector>
        <inputReference>newContact</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Contact_When_Email_Error</name>
        <label>Delete Contact When Email Error</label>
        <locationX>710</locationX>
        <locationY>4370</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_New_Contact</targetReference>
        </connector>
        <inputReference>newContact</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Temp_Logs</name>
        <label>Delete Temp Logs</label>
        <locationX>974</locationX>
        <locationY>3662</locationY>
        <connector>
            <targetReference>ShowEmailError</targetReference>
        </connector>
        <inputReference>GetLogsTodelete</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Details_Previous_Contacts</name>
        <label>Get Details Previous Contacts</label>
        <locationX>1416</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_On_existing_Contact.ContactId__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>tempContact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Id</name>
        <label>Get Parent Id</label>
        <locationX>1436</locationX>
        <locationY>842</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_no_Parent_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>parentId</assignToReference>
            <field>ParentId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Reinsurer_Same_Parent</name>
        <label>Get Reinsurer Same Parent</label>
        <locationX>1612</locationX>
        <locationY>1058</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Build_Collection_of_Reins_Ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>parentId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>reinsurers</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_RT_Id_Bro_Reins</name>
        <label>Get RT Id Bro/Reins</label>
        <locationX>1436</locationX>
        <locationY>1658</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Go_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Broker/Reinsurer</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>broReinsRT</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getContactDuplicate</name>
        <label>getContactDuplicate</label>
        <locationX>336</locationX>
        <locationY>3338</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AddContactToDuplicateList</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getContactDetails.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getContacts</name>
        <label>getContacts</label>
        <locationX>1436</locationX>
        <locationY>1550</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_RT_Id_Bro_Reins</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>In</operator>
            <value>
                <elementReference>reinsuresrsIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>TECH_ApprovalRole__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Signatory</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>prevoiusSignatoryIds</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>contactlist</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>MobilePhone</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>Salutation</queriedFields>
        <sortField>LastName</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>GetLogsTodelete</name>
        <label>GetLogsTodelete</label>
        <locationX>1106</locationX>
        <locationY>3446</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Elements</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tlsdfp__TraceRecordId__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>tempemaillog</stringValue>
            </value>
        </filters>
        <filters>
            <field>CreatedById</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>tlsdfp__DFP_Service__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Log_Details</name>
        <label>Update Log Details</label>
        <locationX>710</locationX>
        <locationY>3446</locationY>
        <connector>
            <targetReference>Email_Error_to_False</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tlsdfp__TraceRecordId__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>tempemaillog</stringValue>
            </value>
        </filters>
        <filters>
            <field>CreatedById</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>tlsdfp__TraceRecordId__c</field>
            <value>
                <elementReference>newContact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>tlsdfp__DFP_Service__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_New_Contact</name>
        <label>Update New Contact</label>
        <locationX>1502</locationX>
        <locationY>4262</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Count_Preselected</targetReference>
        </connector>
        <inputReference>newContact</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateContactSetSignatory</name>
        <label>UpdateContactSetSignatory</label>
        <locationX>50</locationX>
        <locationY>4754</locationY>
        <connector>
            <targetReference>Add_updated_item_to_preselected_contact</targetReference>
        </connector>
        <inputReference>duplicateContactToUse</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Add_New_Contact</name>
        <label>Add New Contact</label>
        <locationX>578</locationX>
        <locationY>2390</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Value_to_New_Contact</targetReference>
        </connector>
        <fields>
            <name>addNewContactHeader</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Fill the form to add a new contact&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ErrorMessageContact</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 14px;&quot;&gt;{!ErrorMessageInsertContact}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Add_New_Contact_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_New_Contact_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Civility</name>
                    <choiceReferences>Mr</choiceReferences>
                    <choiceReferences>Ms</choiceReferences>
                    <choiceReferences>Mrs</choiceReferences>
                    <choiceReferences>Dr</choiceReferences>
                    <choiceReferences>Prof</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>newContact.Salutation</elementReference>
                    </defaultValue>
                    <fieldText>Civility</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>First_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>newContact.FirstName</elementReference>
                    </defaultValue>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Last_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>newContact.LastName</elementReference>
                    </defaultValue>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_New_Contact_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ContactEmail</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>newContact.Email</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>EmailErrorDisplay</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!CheckEmailAction.error}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>EmailError</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>ForceEmailAddress</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Force Email Address</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>EmailError</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>mobilePhone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>newContact.MobilePhone</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Mobile</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>DuplicateSelector</name>
        <label>DuplicateSelector</label>
        <locationX>248</locationX>
        <locationY>3638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CountLengthSelectedDuplicateSelecte</targetReference>
        </connector>
        <fields>
            <name>DuplicateMessage</name>
            <fieldText>&lt;p&gt;The contact details inserted already exist in the system. Please select which of the following contact you wish to use as signatory: &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>multiselect</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Contact</typeValue>
            </dataTypeMappings>
            <extensionName>c:sfpegListMultiSelectorFlw</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordList</name>
                <value>
                    <elementReference>ContactsDuplicateDisplayed</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cardIcon</name>
                <value>
                    <stringValue>standard:contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cardTitle</name>
                <value>
                    <stringValue>Select Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>tiles</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldSetName</name>
                <value>
                    <stringValue>Contact.duplicateRecordsList</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tileSize</name>
                <value>
                    <numberValue>4.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDebug</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>searchHeight</name>
                <value>
                    <numberValue>300.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectName</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showSearch</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isSearchAuto</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showSort</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nameField</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nameLabel</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>defaultSortedBy</name>
                <value>
                    <stringValue>LastName</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isSingleSelect</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Example</name>
        <label>Screen Example</label>
        <locationX>1568</locationX>
        <locationY>1982</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Add_Contact</targetReference>
        </connector>
        <fields>
            <name>Listmulti</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Contact</typeValue>
            </dataTypeMappings>
            <extensionName>c:sfpegListMultiSelectorFlw</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordList</name>
                <value>
                    <elementReference>contactlist</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cardIcon</name>
                <value>
                    <stringValue>standard:contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cardTitle</name>
                <value>
                    <stringValue>Select Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>tiles</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldSetName</name>
                <value>
                    <stringValue>Contact.recordlist</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tileSize</name>
                <value>
                    <numberValue>4.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDebug</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>searchHeight</name>
                <value>
                    <numberValue>300.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectName</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showSearch</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isSearchAuto</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showSort</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nameField</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nameLabel</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>preselectionList</name>
                <value>
                    <elementReference>preselectedContacts</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>customFooter</name>
            <extensionName>c:signatoryCustomFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_order_of_signatory</name>
        <label>Select order of signatory</label>
        <locationX>2294</locationX>
        <locationY>2390</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Count_Length_Ordered_Contact</targetReference>
        </connector>
        <fields>
            <name>useArrowLabel</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 18px;&quot;&gt;Use Up and Down arrows to set your contact order&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SortContacts</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Contact</typeValue>
            </dataTypeMappings>
            <extensionName>c:dualListboxSortCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordList</name>
                <value>
                    <elementReference>listContactToOrder</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDebug</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1310</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Count_Length_Signatories</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>addContact</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>broReinsRT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactlist</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ContactsDuplicateDisplayed</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>containsDuplicate</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>duplicateContactToUse</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>EmailError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Displays error message on top of page when contact is created</description>
        <name>ErrorMessageInsertContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>exContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>goReorder</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Iteration</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>lastContactListOrdered</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ContactReinsurerProgramRelation__c</objectType>
    </variables>
    <variables>
        <name>lengthDuplicateFoundSelected</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>lengthDuplicates</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>lengthPreselectedContacts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>lengthSignatories</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>lenOrderedContact</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>listContactToOrder</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>Used in duplicate rule contact for matching records</description>
        <name>MatchingRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>newContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>NewJunctionObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContactReinsurerProgramRelation__c</objectType>
    </variables>
    <variables>
        <name>parentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>preselectedContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>prevoiusSignatoryIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>programId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>reinsurers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>reinsuresrsIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RiskCarrierID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>signatories</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ContactReinsurerProgramRelation__c</objectType>
    </variables>
    <variables>
        <name>signatoryRTId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tempContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
