force-app/main/default/flows/Contact_Portal_User_Activation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_To_Chatter_Group</name>
        <label>Post To Chatter Group</label>
        <locationX>50</locationX>
        <locationY>1490</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>supportLevel1_MessageBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>Get_Contact_Record_0.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Retrieved_ACR_Length</name>
        <label>Set Retrieved ACR Length</label>
        <locationX>578</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>acr_Counter</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Fetch_ACR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Length_Greater_Than_One</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Can_Contact_Be_Activated</name>
        <label>Can Contact Be Activated ?</label>
        <locationX>314</locationX>
        <locationY>1382</locationY>
        <defaultConnector>
            <targetReference>User_Portal_Activation1_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesContactActivated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_Record_0.Treaties__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_To_Chatter_Group</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_Already_Activated</name>
        <label>Contact Already Activated ?</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Request_Sent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesContactAlreadyActivated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_Record_0.Tech_AssociatedPortalUserId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_is_Actif</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Length_Greater_Than_One</name>
        <label>Is Length Greater Than 0 ?</label>
        <locationX>578</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>User_Portal_Activation1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>acr_Counter</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Support_Level_1_Chatter_Group</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determine if account type is broker/reinsurer</description>
        <name>IsAccountEligible</name>
        <label>Is Account Eligible ?</label>
        <locationX>842</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>User_Portal_Activation_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesAccountEligible</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_Record_0.Account.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Broker</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contact_Record_0.Account.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reinsurer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_Already_Activated</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Request_Sent</name>
        <label>Request Sent ?</label>
        <locationX>798</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Fetch_ACR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesRequestSent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_Record_0.Tech_ContactActivationSent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_Portal_Activation1_0_0_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check the associated user is actif or not</description>
        <name>User_is_Actif</name>
        <label>User is Actif ?</label>
        <locationX>358</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Fetch_ACR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>UserActif_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_Record_0.Tech_AssociatedPortalUserId__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_Portal_Activation1_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Flow to request portal user activation to Support Level 1
W-1662 : Change error messages
W-1670 : New condition to reactivate an existing user + change error messages (ticket 1662) + change condition in update contact
W-2197 : CONTACTS - Typo in text after activation request</description>
    <environments>Default</environments>
    <formulas>
        <name>ContactName</name>
        <dataType>String</dataType>
        <expression>TEXT({!Get_Contact_Record_0.Salutation}) &amp; &apos; &apos; &amp; {!Get_Contact_Record_0.FirstName} &amp; &apos; &apos; &amp; {!Get_Contact_Record_0.LastName}</expression>
    </formulas>
    <formulas>
        <name>DomainUrl</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Enterprise_Server_URL_540},FIND(&quot;/services&quot;, {!$Api.Enterprise_Server_URL_540}))</expression>
    </formulas>
    <interviewLabel>Contact Portal User Activation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact_Portal User Activation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Fetch_ACR</name>
        <label>Fetch ACR</label>
        <locationX>578</locationX>
        <locationY>950</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Retrieved_ACR_Length</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Roles</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PrincipalCedingCompany</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Record_0</name>
        <label>Get Contact Record</label>
        <locationX>842</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsAccountEligible</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Support_Level_1_Chatter_Group</name>
        <label>Get Support Level 1 Chatter Group</label>
        <locationX>314</locationX>
        <locationY>1274</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Can_Contact_Be_Activated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Support Level 1</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CollaborationGroup</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>50</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>User_Portal_Activation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>User_Portal_Activation1_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tech_ContactActivationSent__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Tech_ContactActivationSent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>User_Portal_Activation</name>
        <label>User Portal Activation</label>
        <locationX>50</locationX>
        <locationY>1706</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessBody</name>
            <fieldText>&lt;p&gt;✅ &lt;span style=&quot;color: rgb(35, 137, 95);&quot;&gt;Your request was successfully submitted  to the &quot;Support Level 1&quot; Team.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(35, 137, 95);&quot;&gt;You will be notified once &lt;/span&gt;&lt;span style=&quot;color: rgb(35, 137, 95); background-color: rgb(255, 255, 255);&quot;&gt;{!ContactName} has been activated as a portal user.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>User_Portal_Activation1</name>
        <label>User Portal Activation 1</label>
        <locationX>842</locationX>
        <locationY>1274</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorBody2</name>
            <fieldText>&lt;h1&gt;&lt;strong style=&quot;font-size: 12px; font-family: none;&quot;&gt;❌  &lt;/strong&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(238, 12, 12);&quot;&gt;Please verify that the checkbox&amp;nbsp;&lt;/span&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(238, 12, 12);&quot;&gt;&lt;u&gt;Treaty Placement&lt;/u&gt;&lt;/strong&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(238, 12, 12);&quot;&gt;&amp;nbsp;is activated and at least one&amp;nbsp;&lt;/span&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(238, 12, 12);&quot;&gt;&lt;u&gt;Principal Ceding Company&lt;/u&gt;&lt;/strong&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(238, 12, 12);&quot;&gt;&amp;nbsp;is linked to the contact, in order to proceed with portal user activation&lt;/span&gt;&lt;/h1&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>User_Portal_Activation1_0</name>
        <label>User Portal Activation 1</label>
        <locationX>226</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorBody2_0</name>
            <fieldText>&lt;h1&gt;&lt;strong style=&quot;font-family: none; font-size: 12px;&quot;&gt;❌ &lt;/strong&gt;&lt;span style=&quot;color: rgb(218, 21, 21); font-size: 12px;&quot;&gt;The contact {!ContactName} has already been activated!!&lt;/span&gt;&lt;/h1&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>User_Portal_Activation1_0_0</name>
        <label>User Portal Activation 1</label>
        <locationX>578</locationX>
        <locationY>1490</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorBody2_0_0</name>
            <fieldText>&lt;h1&gt;&lt;strong style=&quot;font-family: none; font-size: 12px;&quot;&gt;❌  &lt;/strong&gt;&lt;span style=&quot;font-size: 14px; color: rgb(238, 12, 12); background-color: rgb(255, 255, 255);&quot;&gt;Please verify that the checkbox&amp;nbsp;&lt;/span&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(238, 12, 12); background-color: rgb(255, 255, 255);&quot;&gt;&lt;u&gt;Treaty Placement&lt;/u&gt;&lt;/strong&gt;&lt;span style=&quot;font-size: 14px; color: rgb(238, 12, 12); background-color: rgb(255, 255, 255);&quot;&gt;&amp;nbsp;is activated and at least one&amp;nbsp;&lt;/span&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(238, 12, 12); background-color: rgb(255, 255, 255);&quot;&gt;&lt;u&gt;Principal Ceding Company&lt;/u&gt;&lt;/strong&gt;&lt;span style=&quot;font-size: 14px; color: rgb(238, 12, 12); background-color: rgb(255, 255, 255);&quot;&gt;&amp;nbsp;is linked to the contact, in order to proceed with portal user activation&lt;/span&gt;&lt;/h1&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>User_Portal_Activation1_0_0_0</name>
        <label>User Portal Activation 1</label>
        <locationX>314</locationX>
        <locationY>1706</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorBody2_0_0_0</name>
            <fieldText>&lt;h1&gt;&lt;strong style=&quot;font-family: none; font-size: 12px; color: rgb(224, 43, 11);&quot;&gt;❌  {!$Flow.FaultMessage}&lt;/strong&gt;&lt;/h1&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>User_Portal_Activation1_0_0_0_0</name>
        <label>User Portal Activation 1</label>
        <locationX>666</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorBody2_0_0_0_0</name>
            <fieldText>&lt;h1&gt;&lt;strong style=&quot;font-size: 12px; font-family: none;&quot;&gt;❌ &lt;/strong&gt;&lt;span style=&quot;font-size: 12px; color: rgb(218, 21, 21);&quot;&gt;The Support Level 1 Team has already been notified to activate {!ContactName} as a portal user!!&lt;/span&gt;&lt;/h1&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>User_Portal_Activation_2</name>
        <label>User Portal Activation 2</label>
        <locationX>1106</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorBody4</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px; font-family: none;&quot;&gt;❌  &lt;/strong&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(218, 21, 21);&quot;&gt;Operation is valid only on a contact related to a &quot;&lt;u&gt;Broker&lt;/u&gt;&quot; ou &quot;&lt;u&gt;Reinsurer&lt;/u&gt;&quot; Company Type.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact_Record_0</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>supportLevel1_MessageBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The contact {!Get_Contact_Record_0.Salutation} {!Get_Contact_Record_0.FirstName} {!Get_Contact_Record_0.LastName} has been created for the following account {!Get_Contact_Record_0.Account.Name}. 
Contact Details: {!DomainUrl}{!Get_Contact_Record_0.Id}
Can you please activate its portal user ?
cc: @[{!Get_Support_Level_1_Chatter_Group.Id}] @[{!$User.Id}]</text>
    </textTemplates>
    <variables>
        <name>acr_Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
