force-app/main/default/flows/CRM_Power_Bi_Unvalidated.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Level_0_URL</name>
        <label>Set Level 0 URL</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>dynamicUrl</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>baseUrl</name>
        <dataType>String</dataType>
        <value>
            <stringValue>https://app.powerbi.com/reportEmbed?reportId=34172353-35d5-452a-80ba-20bd7926aca1&amp;autoAuth=true&amp;ctid=396b38cc-aa65-492b-bb0e-3d94ed25a97b&amp;filterPaneEnabled=false&amp;navContentPaneEnabled=false&amp;filter=Placement/RISK_CARRIER_ID%20in%20</stringValue>
        </value>
    </constants>
    <dynamicChoiceSets>
        <name>Account</name>
        <dataType>String</dataType>
        <displayField>ParentId</displayField>
        <object>Account</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>lastValue</name>
        <dataType>String</dataType>
        <expression>{!baseUrl} + &apos;(&apos; + TRIM(right({!newValue1}, (LEN( {!newValue1}) - 1))) + &apos;)&apos;</expression>
    </formulas>
    <formulas>
        <name>lastValueLevel2</name>
        <dataType>String</dataType>
        <expression>{!baseUrl} + &apos;(&apos; + TRIM(right({!newValue2}, (LEN( {!newValue2}) - 1))) + &apos;)&apos;</expression>
    </formulas>
    <formulas>
        <name>newValue</name>
        <dataType>String</dataType>
        <expression>{!baseUrl} + &apos;(&apos; + TEXT({!Get_Current_Account.TECH_Actor2Id__c}) + &apos;)&apos;</expression>
    </formulas>
    <interviewLabel>CRM - Power Bi Unvalidated {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CRM - Power Bi Unvalidated</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Current_Account</name>
        <label>Get Current Account</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Level_0_URL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Screen</name>
        <label>Screen</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>powerBi</name>
            <extensionName>c:lWCIFrame</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>url</name>
                <value>
                    <elementReference>dynamicUrl</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sandbox</name>
                <value>
                    <stringValue>allow-same-origin allow-scripts allow-popups allow-forms</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>DynamicURL1</name>
            <fieldText>&lt;p&gt;{!dynamicUrl}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Current_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Filter_Remove_ILS_Office</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>defaultIsIlsValue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>defaultIsLloydValue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Generated Dynamic URL</description>
        <name>dynamicUrl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newValue1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newValue2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
