force-app/main/default/flows/CRM_ContactMinute_ConcatenateOnContact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Contacts_Contact</name>
        <label>Contacts Contact</label>
        <locationX>440</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>ContactLists</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactsConcat</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_All_Minute_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Finalize_Variables</name>
        <label>Finalize Variables</label>
        <locationX>176</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>MinuteToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Minute__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MinuteToUpdate.ContactsConcat__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactLists</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Minute</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialise_Variables</name>
        <label>Initialise Variables</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>ContactLists</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_All_Contacts_For_Minutes</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_IF_Contact_present</name>
        <label>Check IF Contact present</label>
        <locationX>352</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Contacts_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Check_IF_Contact_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_All_Minute_Contacts.Contact__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Contact__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_All_Minute_Contacts</targetReference>
            </connector>
            <label>Yes Present</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ContactsConcat</name>
        <dataType>String</dataType>
        <expression>{!ContactLists} &amp; &apos;,&apos; &amp; {!Loop_All_Minute_Contacts.Contact__r.Id}</expression>
    </formulas>
    <interviewLabel>CRM - Contact Minute - Concatenate On Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CRM - Contact Minute - Concatenate On Contact</label>
    <loops>
        <name>Loop_All_Minute_Contacts</name>
        <label>Loop All Minute Contacts</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_All_Contacts_For_Minutes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_IF_Contact_present</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Finalize_Variables</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Contacts_For_Minutes</name>
        <label>Get All Contacts For Minutes</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_All_Minute_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Minute__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Minute__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MinuteContacts__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Minute</name>
        <label>Update Minute</label>
        <locationX>176</locationX>
        <locationY>1139</locationY>
        <inputReference>MinuteToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Initialise_Variables</targetReference>
        </connector>
        <object>MinuteContacts__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ContactLists</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MinuteToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Minute__c</objectType>
    </variables>
</Flow>
