force-app/main/default/flows/CRM_Technical_Results_Generate_URL.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Checkbox_Value</name>
        <label>Assign Checkbox Value</label>
        <locationX>281</locationX>
        <locationY>2582</locationY>
        <assignmentItems>
            <assignToReference>defaultIsIlsValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>isILS</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>defaultIsLloydValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>isLloyd</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Current_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_List_of_Actor2Id</name>
        <label>Build List of Actor2Id</label>
        <locationX>600</locationX>
        <locationY>2090</locationY>
        <assignmentItems>
            <assignToReference>newValue1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>concatenateActor2Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Actor2Id_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Default_Value_CheckBox</name>
        <label>Default Value CheckBox</label>
        <locationX>281</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>defaultIsIlsValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>defaultIsLloydValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Current_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_newValue</name>
        <label>Reset newValue</label>
        <locationX>512</locationX>
        <locationY>1874</locationY>
        <assignmentItems>
            <assignToReference>newValue1</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Actor2Id_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Collection_Variable_ILS</name>
        <label>Set Collection Variable ILS</label>
        <locationX>380</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>Get_All_Reinsurer_Offices</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Filter_Remove_ILS_Office</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_Is_Lloyd_False</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Collection_Variable_Lloyd</name>
        <label>Set Collection Variable Lloyd</label>
        <locationX>380</locationX>
        <locationY>1682</locationY>
        <assignmentItems>
            <assignToReference>Get_All_Reinsurer_Offices</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Filter_Remove_Lloyd_Office</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reset_newValue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Level_0_URL</name>
        <label>Set Level 0 URL</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>dynamicUrl</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Level_1_Collection_to_Level_2</name>
        <label>Set Level 1 Collection to Level 2</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Get_All_Reinsurer_Offices</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_All_Reinsurer_Offices_Level_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_Is_ILS_False</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set last value of dynamic URL</description>
        <name>Set_Level_1_URL</name>
        <label>Set Level 1 URL</label>
        <locationX>512</locationX>
        <locationY>2282</locationY>
        <assignmentItems>
            <assignToReference>dynamicUrl</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lastValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Remove_ILS_Office</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Remove ILS Office</label>
        <locationX>380</locationX>
        <locationY>1166</locationY>
        <assignNextValueToReference>currentItem_Filter_Remove_ILS_Office</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_All_Reinsurer_Offices</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Remove_ILS_Office.IsILS__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Set_Collection_Variable_ILS</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Remove_Lloyd_Office</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Remove Lloyd Office</label>
        <locationX>380</locationX>
        <locationY>1574</locationY>
        <assignNextValueToReference>currentItem_Filter_Remove_ILS_Office</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_All_Reinsurer_Offices</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Remove_ILS_Office.IsLloyd__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Set_Collection_Variable_Lloyd</targetReference>
        </connector>
    </collectionProcessors>
    <constants>
        <name>baseUrl</name>
        <dataType>String</dataType>
        <value>
            <stringValue>https://app.powerbi.com/reportEmbed?reportId=e7146a36-06c7-4988-bcee-9f772af14865&amp;autoAuth=true&amp;ctid=396b38cc-aa65-492b-bb0e-3d94ed25a97b&amp;filterPaneEnabled=false&amp;navContentPaneEnabled=false&amp;filter=Resultats_Tech/REINSURER_SOURCE_ID%20in%20</stringValue>
        </value>
    </constants>
    <decisions>
        <name>If_Is_ILS_False</name>
        <label>If Is ILS False</label>
        <locationX>512</locationX>
        <locationY>1058</locationY>
        <defaultConnector>
            <targetReference>If_Is_Lloyd_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Ils</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isILS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_Remove_ILS_Office</targetReference>
            </connector>
            <label>Is Ils</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Is_Lloyd_False</name>
        <label>If Is Lloyd False</label>
        <locationX>512</locationX>
        <locationY>1466</locationY>
        <defaultConnector>
            <targetReference>Reset_newValue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_lloyd</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isLloyd</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_Remove_Lloyd_Office</targetReference>
            </connector>
            <label>Is lloyd</label>
        </rules>
    </decisions>
    <decisions>
        <description>Niveau 0 - Bureau réassureur</description>
        <name>If_Level_0</name>
        <label>If Level 0</label>
        <locationX>281</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>If_Level_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_Level_0</name>
            <conditionLogic>1 AND NOT 2 AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Account.TECH_ReferentialId__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>C_</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Current_Account.TECH_ReferentialId__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>CG_</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Current_Account.AccountUltimateParent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Current_Account.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Level_0_URL</targetReference>
            </connector>
            <label>is Level 0</label>
        </rules>
    </decisions>
    <decisions>
        <description>Niveau 1 - Reinsurer offices group</description>
        <name>If_Level_1</name>
        <label>If Level 1</label>
        <locationX>512</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>If_Level_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_Level_1</name>
            <conditionLogic>1 AND NOT 2 AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Account.TECH_ReferentialId__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>RG_</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Current_Account.TECH_ReferentialId__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>RGC_</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Current_Account.AccountUltimateParent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Current_Account.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Reinsurer_Offices</targetReference>
            </connector>
            <label>is Level1</label>
        </rules>
    </decisions>
    <decisions>
        <description>Niveau 2 - Corporate group : MS REINSURANCE</description>
        <name>If_Level_2</name>
        <label>If Level 2</label>
        <locationX>710</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_Level_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Account.TECH_ReferentialId__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>RGC_</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Current_Account.AccountUltimateParent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Current_Account.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Reinsurer_Offices_Level_2</targetReference>
            </connector>
            <label>is Level 2</label>
        </rules>
    </decisions>
    <description>W-2255: CRM - New Report - Technical Results
W-2255: CRM - New Report - Technical Results - Change Message On Screen Flow
W-2255 : Change URL (02/01/2025)
W-2255 : Change URL (06/01/2025)</description>
    <dynamicChoiceSets>
        <name>Account</name>
        <dataType>String</dataType>
        <displayField>ParentId</displayField>
        <object>Account</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>concatenateActor2Id</name>
        <dataType>String</dataType>
        <expression>{!newValue1} + &apos;,&apos; + TEXT({!Build_Actor2Id_Collection.TECH_Actor2Id__c})</expression>
    </formulas>
    <formulas>
        <name>isUserAdmin</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Profile.Name}=&apos;System Administrator&apos; || {!$Profile.Name}=&apos;AGRE_System Admin&apos;, true, false)</expression>
    </formulas>
    <formulas>
        <name>lastValue</name>
        <dataType>String</dataType>
        <expression>{!baseUrl} + &apos;(&apos; + TRIM(right({!newValue1}, (LEN( {!newValue1}) - 1))) + &apos;)&apos;</expression>
    </formulas>
    <formulas>
        <name>lastValueLevel2</name>
        <dataType>String</dataType>
        <expression>{!baseUrl} + &apos;(&apos; + TRIM(right({!newValue2}, (LEN( {!newValue2}) - 1))) + &apos;)&apos;</expression>
    </formulas>
    <formulas>
        <name>newValue</name>
        <dataType>String</dataType>
        <expression>{!baseUrl} + &apos;(&apos; + TEXT({!Get_Current_Account.TECH_Actor2Id__c}) + &apos;)&apos;</expression>
    </formulas>
    <interviewLabel>CRM Technical Results Generate URL {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CRM Technical Results Generate URL</label>
    <loops>
        <name>Build_Actor2Id_Collection</name>
        <label>Build Actor2Id Collection</label>
        <locationX>512</locationX>
        <locationY>1982</locationY>
        <collectionReference>Get_All_Reinsurer_Offices</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Build_List_of_Actor2Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Level_1_URL</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_All_Reinsurer_Offices</name>
        <label>Get All Reinsurer Offices</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Is_ILS_False</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND NOT 3 AND 4 AND 5</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TECH_ReferentialId__c</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>C_</stringValue>
            </value>
        </filters>
        <filters>
            <field>TECH_ReferentialId__c</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>CG_</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountUltimateParent__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Reinsurer_Offices_Level_2</name>
        <label>Get All Reinsurer Offices Level 2</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Level_1_Collection_to_Level_2</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND NOT 3 AND 4 AND 5</filterLogic>
        <filters>
            <field>AccountUltimateParent__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TECH_ReferentialId__c</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>C_</stringValue>
            </value>
        </filters>
        <filters>
            <field>TECH_ReferentialId__c</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>CG_</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountUltimateParent__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Account</name>
        <label>Get Current Account</label>
        <locationX>281</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Level_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Screen</name>
        <label>Screen</label>
        <locationX>281</locationX>
        <locationY>2474</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Checkbox_Value</targetReference>
        </connector>
        <fields>
            <name>errorMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(240, 0, 0); font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, system-ui, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Web&amp;quot;, sans-serif; font-size: 16px;&quot;&gt;There is no Technical Results data for this reinsurer&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>(1 AND 2 AND 4 AND 5) AND NOT 3</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Current_Account.ParentId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Current_Account.AccountUltimateParent__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>is_Level_2</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Current_Account.RecordType.DeveloperName</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Broker</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Current_Account.RecordType.DeveloperName</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>CoveredCedingCompany</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PlaceNotAviBroker</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(240, 0, 0); background-color: rgb(255, 255, 255); font-size: 16px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, system-ui, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Web&amp;quot;, sans-serif;&quot;&gt;Technical Results&lt;/strong&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt; data are not available for Brokers.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Current_Account.RecordType.DeveloperName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Broker</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CoveredCeding</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(240, 0, 0); font-size: 16px; background-color: rgb(255, 255, 255); font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, system-ui, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Web&amp;quot;, sans-serif;&quot;&gt;Technical Results &lt;/strong&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;data are not available for Covered Ceding Companies.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Current_Account.RecordType.DeveloperName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>CoveredCedingCompany</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>isILS</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>defaultIsIlsValue</elementReference>
                    </defaultValue>
                    <fieldText>is ILS</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>isLloyd</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>defaultIsLloydValue</elementReference>
                    </defaultValue>
                    <fieldText>is Lloyd</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>nextButton</name>
                    <extensionName>c:cRM360CustomButtonNext</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>newTabButton</name>
                    <extensionName>c:cRM360OpenInNewWindowButton</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>url</name>
                        <value>
                            <elementReference>dynamicUrl</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>1 AND (2 OR 3)</conditionLogic>
                <conditions>
                    <leftValueReference>is_Level_0</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>is_Level_1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>is_Level_2</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>fullScreenButton</name>
                    <extensionName>c:cRM360OpenInNewWindowButton</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>url</name>
                        <value>
                            <elementReference>dynamicUrl</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>is_Level_0</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Current_Account.RecordType.DeveloperName</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>CoveredCedingCompany</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Current_Account.RecordType.DeveloperName</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Broker</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>powerBi</name>
            <extensionName>c:lWCIFrame</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>url</name>
                <value>
                    <elementReference>dynamicUrl</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sandbox</name>
                <value>
                    <stringValue>allow-same-origin allow-scripts allow-popups allow-forms</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>(1 AND 2) OR 3</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Current_Account.ParentId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Current_Account.AccountUltimateParent__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>is_Level_2</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Dynamicurl1</name>
            <fieldText>&lt;p&gt;{!dynamicUrl}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>isUserAdmin</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>155</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Default_Value_CheckBox</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Filter_Remove_ILS_Office</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>defaultIsIlsValue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>defaultIsLloydValue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Generated Dynamic URL</description>
        <name>dynamicUrl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newValue1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newValue2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
