force-app/main/default/flows/CRM_Minute_AlignContactMinutes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Create_New_Contact_Minute</name>
        <label>Create New Contact Minute</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>ContactMinuteToCreateCurrent.Minute__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactMinuteToCreateCurrent.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Contact_Minute</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CreateAccountMinuteRecord</name>
        <label>Create Account Minute Record</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>AccountMinuteCurrent.Minute__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountMinuteCurrent.Company__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Company__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateAccountMinute</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckIfAccountMinuteExists</name>
        <label>Check If Account Minute Exists</label>
        <locationX>182</locationX>
        <locationY>947</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AccMinuteExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetAccountMinutesExisting</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Company__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateAccountMinuteRecord</targetReference>
            </connector>
            <label>Acc Minute Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_2</name>
        <label>Check If Contact minute exists</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>GetAccountMinutesExisting</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetMinContactsExisting</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Contact_Minute</targetReference>
            </connector>
            <label>No Doesnt Exist</label>
        </rules>
    </decisions>
    <description>Flow to Align minutes on contact when a minute is created with a specific minute</description>
    <environments>Default</environments>
    <interviewLabel>CRM - Minute - Align Contact Minutes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CRM - Minute - Align Contact Minutes</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Contact_Minute</name>
        <label>Create Contact Minute</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>GetAccountMinutesExisting</targetReference>
        </connector>
        <inputReference>ContactMinuteToCreateCurrent</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateAccountMinute</name>
        <label>Create Account Minute</label>
        <locationX>50</locationX>
        <locationY>1163</locationY>
        <inputReference>AccountMinuteCurrent</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetAccountMinutesExisting</name>
        <label>Get Account Minutes Existing</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckIfAccountMinuteExists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Minute__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Company__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Company__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MinuteAccount__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetMinContactsExisting</name>
        <label>Get Minute Contact Existing</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Minute__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MinuteContacts__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetMinContactsExisting</targetReference>
        </connector>
        <object>Minute__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountMinuteCurrent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MinuteAccount__c</objectType>
    </variables>
    <variables>
        <name>ContactMinuteToCreateCurrent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MinuteContacts__c</objectType>
    </variables>
</Flow>
