force-app/main/default/flows/CRM_AccountSelection.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AssignNewRecords</name>
        <label>AssignNewRecords</label>
        <locationX>270</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>currentAccountMinuteToInsert.Minute__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Minute.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentAccountMinuteToInsert.Company__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_For_Selection.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountMinutesToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentAccountMinuteToInsert</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_For_Selection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PopulateRTList</name>
        <label>PopulateRTList</label>
        <locationX>270</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>RecordtypeIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopRT.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopRT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Existing_Contacts</name>
        <label>Store Existing Contacts</label>
        <locationX>270</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>currentAccount.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Existing_Contacts.Company__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>targetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PreselectedAccounts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentAccount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Existing_Contacts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Existing_Accounts_Null</name>
        <label>Existing Accounts Null ?</label>
        <locationX>182</locationX>
        <locationY>1574</locationY>
        <defaultConnector>
            <targetReference>Create_Contact_Minutes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NoExistingAccountsNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Accounts_on_Minute</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Records_1</targetReference>
            </connector>
            <label>No Existing Accounts Not Null</label>
        </rules>
    </decisions>
    <description>BBH 10.07.2024 - W-2042 : CRM - Minutes - Brokers should appear in the list</description>
    <environments>Default</environments>
    <interviewLabel>CRM - Account Selection {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CRM - Account Selection</label>
    <loops>
        <name>Loop_Existing_Contacts</name>
        <label>Loop Existing Contacts</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_Existing_Accounts_on_Minute</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Store_Existing_Contacts</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetAccountRecordType</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_For_Selection</name>
        <label>Loop For Selection</label>
        <locationX>182</locationX>
        <locationY>1274</locationY>
        <collectionReference>AccountSelectionComponent.selectionList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignNewRecords</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Existing_Accounts_Null</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopRT</name>
        <label>LoopRT</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <collectionReference>GetAccountRecordType</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>PopulateRTList</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetAccounts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Contact_Minutes</name>
        <label>Create Contact Minutes</label>
        <locationX>182</locationX>
        <locationY>1874</locationY>
        <connector>
            <targetReference>redirect</targetReference>
        </connector>
        <inputReference>AccountMinutesToInsert</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Records_1</name>
        <label>Delete Records 1</label>
        <locationX>50</locationX>
        <locationY>1682</locationY>
        <connector>
            <targetReference>Create_Contact_Minutes</targetReference>
        </connector>
        <inputReference>Get_Existing_Accounts_on_Minute</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Existing_Accounts_on_Minute</name>
        <label>Get Existing Accounts on Minute</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Existing_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Minute__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MinuteAccount__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Minute</name>
        <label>Get Minute</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Existing_Accounts_on_Minute</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Minute__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAccountRecordType</name>
        <label>GetAccountRecordType</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopRT</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 or 4)</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CompanyGroup</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reinsurer</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Broker</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAccounts</name>
        <label>Get Accounts</label>
        <locationX>182</locationX>
        <locationY>1058</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>In</operator>
            <value>
                <elementReference>RecordtypeIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>redirect</name>
        <label>redirect</label>
        <locationX>182</locationX>
        <locationY>1982</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>redirectToRecord</name>
            <extensionName>c:flowRedirectionCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Contacts</name>
        <label>Select Contacts</label>
        <locationX>182</locationX>
        <locationY>1166</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_For_Selection</targetReference>
        </connector>
        <fields>
            <name>AccountSelectionComponent</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>c:sfpegListMultiSelectorFlw</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordList</name>
                <value>
                    <elementReference>GetAccounts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>preselectionList</name>
                <value>
                    <elementReference>PreselectedAccounts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cardIcon</name>
                <value>
                    <stringValue>standard:account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cardTitle</name>
                <value>
                    <stringValue>Accounts Linked</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>searchHeight</name>
                <value>
                    <numberValue>400.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isSearchAuto</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showSearch</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showSort</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isSingleSelect</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tileSize</name>
                <value>
                    <numberValue>12.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Minute</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountMinutesToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MinuteAccount__c</objectType>
    </variables>
    <variables>
        <name>ContactMinutesToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MinuteContacts__c</objectType>
    </variables>
    <variables>
        <name>currentAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>currentAccountMinuteToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MinuteAccount__c</objectType>
    </variables>
    <variables>
        <name>currentContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>CurrentContactMinuteToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MinuteContacts__c</objectType>
    </variables>
    <variables>
        <name>ExistingContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MinuteContacts__c</objectType>
    </variables>
    <variables>
        <name>PreselectedAccounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>PreselectedContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordtypeIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>targetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>recordId</elementReference>
        </value>
    </variables>
</Flow>
