force-app/main/default/flows/CRM_ContactSelection.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AssignNewRecords</name>
        <label>AssignNewRecords</label>
        <locationX>336</locationX>
        <locationY>2390</locationY>
        <assignmentItems>
            <assignToReference>CurrentContactMinuteToInsert.Minute__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Minute.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentContactMinuteToInsert.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_For_Selection.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactMinutesToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentContactMinuteToInsert</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NumberOfContactsSelected</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_For_Selection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ContactsFromAcr</name>
        <label>ContactsFromAcr</label>
        <locationX>336</locationX>
        <locationY>1766</locationY>
        <assignmentItems>
            <assignToReference>ContactIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContactsInAcr.Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ContactsInAcr</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialise_Contact_Counter</name>
        <label>Initialise Contact Counter</label>
        <locationX>248</locationX>
        <locationY>2174</locationY>
        <assignmentItems>
            <assignToReference>NumberOfContactsSelected</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_For_Selection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PopulateAccIds</name>
        <label>PopulateAccIds</label>
        <locationX>116</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>AccountIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Minute.Company__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Existing_Contacts_on_Minute</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PopulateAccountIds</name>
        <label>PopulateAccountIds</label>
        <locationX>228</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>AccountIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopAccountMinutes.Company__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopAccountMinutes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ResetMinuteConcat</name>
        <label>Reset Minute Concat</label>
        <locationX>446</locationX>
        <locationY>2690</locationY>
        <assignmentItems>
            <assignToReference>Get_Minute.ContactsConcat__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FlowErrorMessage</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Decision_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetErrorMessage</name>
        <label>SetErrorMessage</label>
        <locationX>50</locationX>
        <locationY>2690</locationY>
        <assignmentItems>
            <assignToReference>FlowErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error: Maximum Limit Exceeded  You have exceeded the maximum limit of 12 reinsurers or contacts. Please review and reduce the number of entries to proceed.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactMinutesToInsert</assignToReference>
            <operator>RemoveAll</operator>
        </assignmentItems>
        <connector>
            <targetReference>ErrorScreenb</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Existing_Contacts</name>
        <label>Store Existing Contacts</label>
        <locationX>336</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>currentContact.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Existing_Contacts.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>targetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PreselectedContacts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Existing_Contacts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Number_Of_Contacts_Selected</name>
        <label>Check Number Of Contacts Selected</label>
        <locationX>248</locationX>
        <locationY>2582</locationY>
        <defaultConnector>
            <targetReference>ResetMinuteConcat</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Less Or Equal 12</defaultConnectorLabel>
        <rules>
            <name>Morethan12</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumberOfContactsSelected</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>12.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetErrorMessage</targetReference>
            </connector>
            <label>More than 12</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckIfAccountisnotnull</name>
        <label>Check If Account is not null</label>
        <locationX>248</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Get_Existing_Contacts_on_Minute</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AccountNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Minute.Company__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PopulateAccIds</targetReference>
            </connector>
            <label>AccountNotNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_1</name>
        <label>Has Records To Delete</label>
        <locationX>446</locationX>
        <locationY>2798</locationY>
        <defaultConnector>
            <targetReference>Update_Records_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Contacts_on_Minute</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteExistingMinutes</targetReference>
            </connector>
            <label>Yes has records to Del</label>
        </rules>
    </decisions>
    <decisions>
        <name>HasMinuteAccounts</name>
        <label>Has Minute Accounts</label>
        <locationX>248</locationX>
        <locationY>1058</locationY>
        <defaultConnector>
            <targetReference>Get_Acrs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetMinuteAccounts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopAccountMinutes</targetReference>
            </connector>
            <label>Yes Has min Accs</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CRM - Contact Selection {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CRM - Contact Selection</label>
    <loops>
        <name>ContactsInAcr</name>
        <label>ContactsInAcr</label>
        <locationX>248</locationX>
        <locationY>1658</locationY>
        <collectionReference>Get_Acrs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ContactsFromAcr</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Contacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Existing_Contacts</name>
        <label>Loop Existing Contacts</label>
        <locationX>248</locationX>
        <locationY>650</locationY>
        <collectionReference>Get_Existing_Contacts_on_Minute</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Store_Existing_Contacts</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetMinuteAccounts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_For_Selection</name>
        <label>Loop For Selection</label>
        <locationX>248</locationX>
        <locationY>2282</locationY>
        <collectionReference>ContactSelectionComponent.selectionList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignNewRecords</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Number_Of_Contacts_Selected</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopAccountMinutes</name>
        <label>Loop Account Minutes</label>
        <locationX>140</locationX>
        <locationY>1166</locationY>
        <collectionReference>GetMinuteAccounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>PopulateAccountIds</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Acrs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Contact_Minutes</name>
        <label>Create Contact Minutes</label>
        <locationX>446</locationX>
        <locationY>3206</locationY>
        <connector>
            <targetReference>Redirection</targetReference>
        </connector>
        <inputReference>ContactMinutesToInsert</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>DeleteExistingMinutes</name>
        <label>Delete Existing Minutes</label>
        <locationX>314</locationX>
        <locationY>2906</locationY>
        <connector>
            <targetReference>Update_Records_1</targetReference>
        </connector>
        <inputReference>Get_Existing_Contacts_on_Minute</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Acrs</name>
        <label>Get Acrs</label>
        <locationX>248</locationX>
        <locationY>1550</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ContactsInAcr</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>In</operator>
            <value>
                <elementReference>AccountIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contacts</name>
        <label>Get Contacts</label>
        <locationX>248</locationX>
        <locationY>1958</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Contacts</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>In</operator>
            <value>
                <elementReference>AccountIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ContactIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>ContactSorted__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Contacts_on_Minute</name>
        <label>Get Existing Contacts on Minute</label>
        <locationX>248</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Existing_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Minute__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MinuteContacts__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Minute</name>
        <label>Get Minute</label>
        <locationX>248</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckIfAccountisnotnull</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Minute__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetMinuteAccounts</name>
        <label>GetMinuteAccounts</label>
        <locationX>248</locationX>
        <locationY>950</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HasMinuteAccounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Minute__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MinuteAccount__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Records_1</name>
        <label>Update Records 1</label>
        <locationX>446</locationX>
        <locationY>3098</locationY>
        <connector>
            <targetReference>Create_Contact_Minutes</targetReference>
        </connector>
        <inputReference>Get_Minute</inputReference>
    </recordUpdates>
    <screens>
        <name>ErrorScreenb</name>
        <label>ErrorScreenb</label>
        <locationX>50</locationX>
        <locationY>2798</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Redirection</targetReference>
        </connector>
        <fields>
            <name>ErrorMessageS</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(240, 0, 0); font-size: 16px;&quot;&gt;You have exceeded the maximum limit of 12 reinsurers or contacts. Please review and reduce the number of entries to proceed.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Redirection</name>
        <label>Redirection</label>
        <locationX>248</locationX>
        <locationY>3398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>redirectToRecord</name>
            <extensionName>c:flowRedirectionCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Contacts</name>
        <label>Select Contacts</label>
        <locationX>248</locationX>
        <locationY>2066</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Initialise_Contact_Counter</targetReference>
        </connector>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(247, 0, 0); font-size: 18px;&quot;&gt;⚠️⛔️ {!FlowErrorMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>FlowErrorMessage</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Error</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ContactSelectionComponent</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Contact</typeValue>
            </dataTypeMappings>
            <extensionName>c:sfpegListMultiSelectorFlw</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordList</name>
                <value>
                    <elementReference>Get_Contacts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>preselectionList</name>
                <value>
                    <elementReference>PreselectedContacts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showSearch</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cardIcon</name>
                <value>
                    <stringValue>standard:contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cardTitle</name>
                <value>
                    <stringValue>Contacts Linked</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>searchHeight</name>
                <value>
                    <numberValue>400.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tileSize</name>
                <value>
                    <numberValue>12.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldSetName</name>
                <value>
                    <stringValue>Contact.AccountName</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>tiles</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Minute</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactMinutesToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MinuteContacts__c</objectType>
    </variables>
    <variables>
        <name>currentContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>CurrentContactMinuteToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MinuteContacts__c</objectType>
    </variables>
    <variables>
        <name>ExistingContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MinuteContacts__c</objectType>
    </variables>
    <variables>
        <name>FlowErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NumberOfContactsSelected</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>PreselectedContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>targetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>recordId</elementReference>
        </value>
    </variables>
</Flow>
