force-app/main/default/flows/CRM_AccountMinute_ConcatenateOnDeletion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AccountContact</name>
        <label>Account Contact</label>
        <locationX>660</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>AccountsLists</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountsConcat</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckAccountParent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignAccParent</name>
        <label>AssignAccParent</label>
        <locationX>440</locationX>
        <locationY>1127</locationY>
        <assignmentItems>
            <assignToReference>AccountParentsList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountParentsConcat</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Finalize_Variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Finalize_Variables</name>
        <label>Finalize Variables</label>
        <locationX>572</locationX>
        <locationY>1319</locationY>
        <assignmentItems>
            <assignToReference>MinuteToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Minute__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MinuteToUpdate.ConcatAccounts__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountsLists</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MinuteToUpdate.ContactAccountParents__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountParentsList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Minute</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialise_Variables</name>
        <label>Initialise Variables</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <assignmentItems>
            <assignToReference>AccountsLists</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>GetAllAccountMinutes</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_If_Current_Account_Present</name>
        <label>Check If Current Account Present</label>
        <locationX>572</locationX>
        <locationY>719</locationY>
        <defaultConnector>
            <targetReference>AccountContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Company__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopAllCAccountMinutes.Company__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Company__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckAccountParent</targetReference>
            </connector>
            <label>Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckAccountParent</name>
        <label>Check Account Parent</label>
        <locationX>572</locationX>
        <locationY>1019</locationY>
        <defaultConnector>
            <targetReference>Finalize_Variables</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AccountHasParent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopAllCAccountMinutes.Company__r.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignAccParent</targetReference>
            </connector>
            <label>AccountHasParent</label>
        </rules>
    </decisions>
    <decisions>
        <name>SkipForDeletingRecord</name>
        <label>SkipForDeletingRecord</label>
        <locationX>418</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <targetReference>Check_If_Current_Account_Present</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Being_Deleted_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopAllCAccountMinutes.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopAllCAccountMinutes</targetReference>
            </connector>
            <label>Is Being Deleted Record</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AccountParentsConcat</name>
        <dataType>String</dataType>
        <expression>{!AccountParentsList} &amp; &apos;,&apos; &amp; {!LoopAllCAccountMinutes.Company__r.Parent.Id}</expression>
    </formulas>
    <formulas>
        <name>AccountsConcat</name>
        <dataType>String</dataType>
        <expression>{!AccountsLists} &amp; &apos;,&apos; &amp; {!LoopAllCAccountMinutes.Company__r.Id}</expression>
    </formulas>
    <interviewLabel>CRM - Account Minute - Concatenate On Deletion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CRM - Account Minute - Concatenate On Deletion</label>
    <loops>
        <name>LoopAllCAccountMinutes</name>
        <label>LoopAllCAccountMinutes</label>
        <locationX>176</locationX>
        <locationY>503</locationY>
        <collectionReference>GetAllAccountMinutes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SkipForDeletingRecord</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetAllAccountMinutes</name>
        <label>Get All Account Minutes</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopAllCAccountMinutes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Minute__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Minute__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MinuteAccount__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Minute</name>
        <label>Update Minute</label>
        <locationX>572</locationX>
        <locationY>1427</locationY>
        <connector>
            <targetReference>LoopAllCAccountMinutes</targetReference>
        </connector>
        <inputReference>MinuteToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Initialise_Variables</targetReference>
        </connector>
        <object>MinuteAccount__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>AccountParentsList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountsLists</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactLists</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MinuteToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Minute__c</objectType>
    </variables>
</Flow>
