force-app/main/default/flows/CRM_PowerBiUnvalidated.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Build_List_of_Actor2Id</name>
        <label>Build List of Actor2Id</label>
        <locationX>600</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>newValue1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>concatenateActor2Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Actor2Id_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_newValue</name>
        <label>Reset newValue</label>
        <locationX>512</locationX>
        <locationY>950</locationY>
        <assignmentItems>
            <assignToReference>newValue1</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Actor2Id_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Level_0_URL</name>
        <label>Set Level 0 URL</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>dynamicUrl</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Level_1_Collection_to_Level_2</name>
        <label>Set Level 1 Collection to Level 2</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Get_All_Reinsurer_Offices</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_All_Reinsurer_Offices_Level_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reset_newValue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set last value of dynamic URL</description>
        <name>Set_Level_1_URL</name>
        <label>Set Level 1 URL</label>
        <locationX>512</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>dynamicUrl</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lastValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>baseUrl</name>
        <dataType>String</dataType>
        <value>
            <stringValue>https://app.powerbi.com/reportEmbed?reportId=34172353-35d5-452a-80ba-20bd7926aca1&amp;autoAuth=true&amp;ctid=396b38cc-aa65-492b-bb0e-3d94ed25a97b&amp;filterPaneEnabled=false&amp;navContentPaneEnabled=false&amp;filter=Placement/RISK_CARRIER_ID%20in%20</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Niveau 0 - Bureau réassureur</description>
        <name>If_Level_0</name>
        <label>If Level 0</label>
        <locationX>281</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>If_Level_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_Level_0</name>
            <conditionLogic>1 AND NOT 2 AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Account.TECH_ReferentialId__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>C_</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Current_Account.TECH_ReferentialId__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>CG_</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Current_Account.AccountUltimateParent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Current_Account.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Level_0_URL</targetReference>
            </connector>
            <label>is Level 0</label>
        </rules>
    </decisions>
    <decisions>
        <description>Niveau 1 - Reinsurer offices group</description>
        <name>If_Level_1</name>
        <label>If Level 1</label>
        <locationX>512</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>If_Level_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_Level_1</name>
            <conditionLogic>1 AND NOT 2 AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Account.TECH_ReferentialId__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>RG_</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Current_Account.TECH_ReferentialId__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>RGC_</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Current_Account.AccountUltimateParent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Current_Account.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Reinsurer_Offices</targetReference>
            </connector>
            <label>is Level1</label>
        </rules>
    </decisions>
    <decisions>
        <description>Niveau 2 - Corporate group : MS REINSURANCE</description>
        <name>If_Level_2</name>
        <label>If Level 2</label>
        <locationX>710</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_Level_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Account.TECH_ReferentialId__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>RGC_</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Current_Account.AccountUltimateParent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Current_Account.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Reinsurer_Offices_Level_2</targetReference>
            </connector>
            <label>is Level 2</label>
        </rules>
    </decisions>
    <description>HRA W-2068 - CRM - KPIs placement data not validated: Restrict Access to Link Report</description>
    <dynamicChoiceSets>
        <name>Account</name>
        <dataType>String</dataType>
        <displayField>ParentId</displayField>
        <object>Account</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>concatenateActor2Id</name>
        <dataType>String</dataType>
        <expression>{!newValue1} + &apos;,&apos; + TEXT({!Build_Actor2Id_Collection.TECH_Actor2Id__c})</expression>
    </formulas>
    <formulas>
        <name>isUserAdmin</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$Profile.Name}=&apos;System Administrator&apos; || {!$Profile.Name}=&apos;AGRE_System Admin&apos;, true, false)</expression>
    </formulas>
    <formulas>
        <name>lastValue</name>
        <dataType>String</dataType>
        <expression>{!baseUrl} + &apos;(&apos; + TRIM(right({!newValue1}, (LEN( {!newValue1}) - 1))) + &apos;)&apos;</expression>
    </formulas>
    <formulas>
        <name>lastValueLevel2</name>
        <dataType>String</dataType>
        <expression>{!baseUrl} + &apos;(&apos; + TRIM(right({!newValue2}, (LEN( {!newValue2}) - 1))) + &apos;)&apos;</expression>
    </formulas>
    <formulas>
        <name>newValue</name>
        <dataType>String</dataType>
        <expression>{!baseUrl} + &apos;(&apos; + TEXT({!Get_Current_Account.TECH_Actor2Id__c}) + &apos;)&apos;</expression>
    </formulas>
    <interviewLabel>CRM - Power Bi Unvalidated {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CRM - Power Bi Unvalidated New</label>
    <loops>
        <name>Build_Actor2Id_Collection</name>
        <label>Build Actor2Id Collection</label>
        <locationX>512</locationX>
        <locationY>1058</locationY>
        <collectionReference>Get_All_Reinsurer_Offices</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Build_List_of_Actor2Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Level_1_URL</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_All_Reinsurer_Offices</name>
        <label>Get All Reinsurer Offices</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Reset_newValue</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND NOT 3 AND 4 AND 5</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TECH_ReferentialId__c</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>C_</stringValue>
            </value>
        </filters>
        <filters>
            <field>TECH_ReferentialId__c</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>CG_</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountUltimateParent__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Reinsurer_Offices_Level_2</name>
        <label>Get All Reinsurer Offices Level 2</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Level_1_Collection_to_Level_2</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND NOT 3 AND 4 AND 5</filterLogic>
        <filters>
            <field>AccountUltimateParent__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TECH_ReferentialId__c</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>C_</stringValue>
            </value>
        </filters>
        <filters>
            <field>TECH_ReferentialId__c</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>CG_</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountUltimateParent__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Account</name>
        <label>Get Current Account</label>
        <locationX>281</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Level_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Screen</name>
        <label>Screen</label>
        <locationX>281</locationX>
        <locationY>1550</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>powerBi</name>
            <extensionName>c:lWCIFrame</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>url</name>
                <value>
                    <elementReference>dynamicUrl</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sandbox</name>
                <value>
                    <stringValue>allow-same-origin allow-scripts allow-popups allow-forms</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>UrlDisplayed</name>
            <fieldText>&lt;p&gt;{!dynamicUrl}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>isUserAdmin</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>155</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Current_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Filter_Remove_ILS_Office</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>defaultIsIlsValue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>defaultIsLloydValue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Generated Dynamic URL</description>
        <name>dynamicUrl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newValue1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newValue2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
