force-app/main/default/flows/CRM_RedirectToSecurityList.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <name>ContentDocumentTitle</name>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </constants>
    <decisions>
        <name>File_Found</name>
        <label>File Found</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_File_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_File_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RedirectionComponent</targetReference>
            </connector>
            <label>File Was Found</label>
        </rules>
    </decisions>
    <description>Flow to redirect to component</description>
    <environments>Default</environments>
    <interviewLabel>CRM - Redirect To Security List {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CRM - Redirect To Security List</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_File_Id</name>
        <label>Get File Id</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>File_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Title</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FileTitle</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocument</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>RedirectionComponent</name>
        <label>Redirection Component</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>RedirectToSecurityList</name>
            <extensionName>c:flowRedirectionCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_File_Id.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_File_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>FileTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Setup.ContentVersionSettings__c.ContentDocumentTitle__c</elementReference>
        </value>
    </variables>
</Flow>
