force-app/main/default/flows/DocumentVersionDetail_ResetContent.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AssignRecordContentVersion</name>
        <label>AssignRecordContentVersion</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Apttus__ContentVersionId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Apttus__ContentVersionId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Apttus__ContentId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Apttus__ContentId__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>ContentChanged</name>
        <label>ContentChanged</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Content Has Not Changed</defaultConnectorLabel>
        <rules>
            <name>ContentHasChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Apttus__ContentVersionId__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Apttus__ContentVersionId__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignRecordContentVersion</targetReference>
            </connector>
            <label>Content Has Changed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Document Version Detail - Reset Content {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Document Version Detail - Reset Content</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ContentChanged</targetReference>
        </connector>
        <object>Apttus__DocumentVersionDetail__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
