force-app/main/default/flows/Flow_Sharing_CreateShare.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Check if Principal Ceding Company Referential Id is not Empty</description>
        <name>Check_PrincipalCedingReferentialId</name>
        <label>Check ReferentialId</label>
        <locationX>50</locationX>
        <locationY>211</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PrincipalCedingReferentialId_IsNotEmpty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPrincipalCedingReferentialId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_GroupId</targetReference>
            </connector>
            <label>PrincipalCeding ReferentialId is not Empty ?</label>
        </rules>
    </decisions>
    <description>Create a Record Share to Public Group according to Object Type</description>
    <interviewLabel>&lt;b&gt;Flow_Sharing_CreateShare&lt;/b&gt;

RESOURCE VALUES 
&lt;p&gt;Execution date: {!$Flow.CurrentDateTime}&lt;/p&gt;
&lt;p&gt;Record: {!$Flow.CurrentRecord}&lt;/p&gt;
&lt;p&gt;Record Id: {!varRecordId}&lt;/p&gt;
&lt;p&gt;Principal Ceding Company Referential Id: {!varPrincipalCedingReferentialId}&lt;/p&gt;
&lt;p&gt;Public Group Id: {!varGroupId}&lt;/p&gt;
&lt;p&gt;Error: {!$Flow.FaultMessage}&lt;/p&gt;</interviewLabel>
    <label>Flow_Sharing_CreateShare</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create a Request Share record for related Public Group (Principal Ceding Company)</description>
        <name>Share_Request</name>
        <label>Share Request</label>
        <locationX>673</locationX>
        <locationY>213</locationY>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>varRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>varGroupId</elementReference>
            </value>
        </inputAssignments>
        <object>Request__Share</object>
    </recordCreates>
    <start>
        <locationX>59</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Check_PrincipalCedingReferentialId</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <description>Get Public Group Id by searching  with ReferentialId (Group.DeveloperName = Account.TECH_ReferentialId)</description>
        <name>Get_GroupId</name>
        <label>Get GroupId</label>
        <locationX>368</locationX>
        <locationY>214</locationY>
        <connector>
            <targetReference>Share_Request</targetReference>
        </connector>
        <flowName>Flow_PublicGroup_GetGroupId</flowName>
        <inputAssignments>
            <name>varPrincipalCedingReferentialId</name>
            <value>
                <elementReference>varPrincipalCedingReferentialId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varGroupId</assignToReference>
            <name>varGroupId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>varErrorBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>variable for Public Group record Id</description>
        <name>varGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>variable for Principal Ceding Company lookup ReferentialId</description>
        <name>varPrincipalCedingReferentialId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>record Id input populated by Process Builder</description>
        <name>varRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
