force-app/main/default/flows/Flow_Reminder_SA_for_CE_and_Portal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Email_Covered_Ceding_Contact</name>
        <label>Get Email Covered Ceding Contact &amp; Send Email</label>
        <locationX>578</locationX>
        <locationY>468</locationY>
        <actionName>getCovdCedingCon</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>getCovdCedingCon</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Mail_Reminder_for_CE</name>
        <label>Send Mail Reminder for CE</label>
        <locationX>50</locationX>
        <locationY>684</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>EmailSAOnPCCFormula</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>actor.po@axa.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>SA Email Reminder 30 Days Before Spa Expiry Date</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>SendReminderforCE</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Email_SA_on_PCC</name>
        <label>Email SA on PCC</label>
        <locationX>50</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>EmailSAOnPCC</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PrincipalCedingCompany__r.EmailSA__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Mail_Reminder_for_CE</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Email_on_PCC_Exists</name>
        <label>Email on PCC Exists ?</label>
        <locationX>182</locationX>
        <locationY>468</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SpaExpirationDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_SA_on_PCC</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>isCE_Or_isPortal</name>
        <label>isCE Or isPortal</label>
        <locationX>380</locationX>
        <locationY>360</locationY>
        <defaultConnector>
            <targetReference>Get_Email_Covered_Ceding_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>isPortal</defaultConnectorLabel>
        <rules>
            <name>isCE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PortalStatus__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_on_PCC_Exists</targetReference>
            </connector>
            <label>isCE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Selection</name>
        <label>Record Selection</label>
        <locationX>611</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default OutCome</defaultConnectorLabel>
        <rules>
            <name>isCCE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Expiry_Date_Notification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>isCE_Or_isPortal</targetReference>
            </connector>
            <label>isCE</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>BaseURL</name>
        <dataType>String</dataType>
        <expression>LEFT ({!$Api.Partner_Server_URL_570}, FIND (&apos;/services&apos;, {!$Api.Partner_Server_URL_570}))</expression>
    </formulas>
    <formulas>
        <name>BaseURLPortal</name>
        <dataType>String</dataType>
        <expression>LEFT ({!$Api.Partner_Server_URL_570}, FIND (&apos;/services&apos;, {!$Api.Partner_Server_URL_570}))</expression>
    </formulas>
    <formulas>
        <name>BaseURLPortalLogin</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!BaseURLPortal}, &apos;.salesforce.&apos;, &apos;.site.&apos;)</expression>
    </formulas>
    <formulas>
        <name>EmailSAOnPCCFormula</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!EmailSAOnPCC}, &apos;;&apos;, &apos;,&apos;)</expression>
    </formulas>
    <formulas>
        <name>ThirtyDaysBeforeDeadline</name>
        <dataType>Date</dataType>
        <expression>{!$Record.SpaExpirationDate__c}</expression>
    </formulas>
    <formulas>
        <name>URLCE</name>
        <dataType>String</dataType>
        <expression>LEFT ({!$Api.Partner_Server_URL_570}, FIND (&apos;/services&apos;, {!$Api.Partner_Server_URL_570})) + &apos;lightning/n/LoadSARequest?s__id=&apos;+{!$Record.Id} + &apos;-&apos; + TEXT({!$Record.UnderWrittingYear__c}) + &apos;-&apos; + {!$Record.PrincipalCedingCompany__c} + &apos;-&apos; + {!$Record.Program__c} + &apos;-undefined-undefined&apos;</expression>
    </formulas>
    <formulas>
        <name>URLPORTAL</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!BaseURLPortal}, &apos;.salesforce.&apos;, &apos;.site.&apos;) + &apos;cedingPortal/s/SADetail?s__id=&apos; +{!$Record.Id} + &apos;-&apos; + TEXT({!$Record.UnderWrittingYear__c}) + &apos;-&apos; + {!$Record.PrincipalCedingCompany__c} + &apos;-&apos; + {!$Record.Program__c}</expression>
    </formulas>
    <interviewLabel>Flow Reminder SA for CE and Portal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow Reminder SA for CE and Portal_V2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Record_Selection</targetReference>
        </connector>
        <object>SpecialAcceptance__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-07-31</startDate>
            <startTime>03:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>SendEmailForPortal</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: sans-serif;&quot;&gt;Dear Madam, Dear Sir,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: sans-serif;&quot;&gt;Please note the Policy of the Special Acceptance {!$Record.SpecialAcceptanceName__c} attached to the {!$Record.Program__r.UwYear__c}&amp;nbsp;{!$Record.Program__r.Name} will expire in 30 days.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: sans-serif;&quot;&gt;If you need to renew it, please login to ACTOR New Gen &lt;/span&gt;&lt;a href=&quot;{!URLPORTAL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px; font-family: sans-serif;&quot;&gt;link&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: sans-serif;&quot;&gt;Best Regards,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: sans-serif;&quot;&gt;Your contact : {!$Record.PrincipalCedingCompany__r.EmailSA__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: sans-serif;&quot;&gt;Direct link to ACTOR New Gen : &lt;/span&gt;&lt;a href=&quot;{!BaseURLPortalLogin}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px; font-family: sans-serif;&quot;&gt;ACTOR New Gen HomePage&lt;/a&gt;&lt;span style=&quot;font-size: 16px; font-family: sans-serif;&quot;&gt;  &lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>SendReminderforCE</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: sans-serif;&quot;&gt;Dear Madam, Dear Sir,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: sans-serif;&quot;&gt;Please note the Policy of the Special Acceptance {!$Record.SpecialAcceptanceName__c} attached to the {!$Record.Program__r.UwYear__c}&amp;nbsp;{!$Record.Program__r.Name} will expire in 30 days.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: sans-serif;&quot;&gt;If you need to renew it, please login to ACTOR New Gen&lt;/span&gt;&lt;a href=&quot;{!URLCE}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px; font-family: sans-serif;&quot;&gt;&amp;nbsp;link&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: sans-serif;&quot;&gt;Best Regards,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: sans-serif;&quot;&gt;Your contact :&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 16px; font-family: sans-serif; background-color: rgb(255, 255, 255);&quot;&gt; {!$Record.PrincipalCedingCompany__r.EmailSA__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: sans-serif;&quot;&gt;Direct link to ACTOR New Gen : &lt;/span&gt;&lt;a href=&quot;{!BaseURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px; font-family: sans-serif;&quot;&gt;ACTOR New Gen HomePage&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>EmailSAOnPCC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lstEmailCEPCCContactCeding</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lstEmailContactCedingPortal</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lstEmailCoveredCedingContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lstEmailSACEPortal</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lstEmailSAOnPCC</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lstSAShareRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SpecialAcceptance__Share</objectType>
    </variables>
    <variables>
        <name>lstSATriggered</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lstStrEMAIL</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
