force-app/main/default/flows/Flow_Contact_Portal_User_Modification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_to_chatter_Group</name>
        <label>Post to chatter Group</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>User_Portal_Authorized_Modification2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>messageToSupportLevel1_Modification_User</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>Get_Contact_Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Is_Account_Eligible</name>
        <label>Is Account Eligible ?</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>User_Portal_Modif_Authorized</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_Record.Account.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Broker</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contact_Record.Account.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reinsurer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Support_Level_1_Chatter_Group</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if Treaties field on contact has been ticked</description>
        <name>Treaty_Field_Ticked_On_Contact</name>
        <label>Treaty Field Ticked On Contact ?</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>User_Portal_Authorized_Modification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesContactPartticipateOnPhaseTreatyPlacement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_Record.Treaties__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>txtUser</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AN</name>
        <dataType>String</dataType>
        <expression>{!Get_Contact_Record.Account.Name}</expression>
    </formulas>
    <formulas>
        <name>BaseURLContact</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Enterprise_Server_URL_540},FIND(&quot;/services&quot;, {!$Api.Enterprise_Server_URL_540}))</expression>
    </formulas>
    <formulas>
        <name>ContactName</name>
        <dataType>String</dataType>
        <expression>TEXT({!Get_Contact_Record.Salutation}) &amp; &apos; &apos; &amp; {!Get_Contact_Record.FirstName} &amp; &apos; &apos; &amp; {!Get_Contact_Record.LastName}</expression>
    </formulas>
    <interviewLabel>Flow_Contact Portal User Modification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow_Contact Portal User Modification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Contact_Record</name>
        <label>Get Contact Record</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Account_Eligible</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Support_Level_1_Chatter_Group</name>
        <label>Get Support Level 1 Chatter Group</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Treaty_Field_Ticked_On_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Support Level 1</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CollaborationGroup</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>txtUser</name>
        <label>Enter Your Modifification</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Post_to_chatter_Group</targetReference>
        </connector>
        <fields>
            <name>longTextArea</name>
            <defaultValue>
                <stringValue>I would like to do some changes on the contact {!ContactName} for the following account {!AN}
Fill your needs here :
</stringValue>
            </defaultValue>
            <fieldText>Enter Your Modification Here</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>User_Portal_Authorized_Modification</name>
        <label>User Portal Authorized Modification</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorBody2</name>
            <fieldText>&lt;h1&gt;&lt;strong style=&quot;font-size: 12px; font-family: none;&quot;&gt;❌  &lt;/strong&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(238, 12, 12);&quot;&gt;Please verify that the checkbox&amp;nbsp;&lt;/span&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(238, 12, 12);&quot;&gt;&lt;u&gt;Treaty Placement&lt;/u&gt;&lt;/strong&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(238, 12, 12);&quot;&gt;&amp;nbsp;is activated &lt;/span&gt;&lt;/h1&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>User_Portal_Authorized_Modification2</name>
        <label>User Portal Authorized Modification</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessBody</name>
            <fieldText>&lt;p&gt;✅ &lt;span style=&quot;color: rgb(35, 137, 95);&quot;&gt;You&apos;re request was successfully submitted  to the &quot;Support Level 1&quot; Team.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(35, 137, 95);&quot;&gt;You will be notified once &lt;/span&gt;&lt;span style=&quot;color: rgb(35, 137, 95); background-color: rgb(255, 255, 255);&quot;&gt;{!ContactName} has been modified &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>User_Portal_Modif_Authorized</name>
        <label>User Portal Modif Authorized</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorBody</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 12px; font-family: none; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;❌  &lt;/strong&gt;&lt;strong style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(218, 21, 21);&quot;&gt;Operation is valid only on a contact related to a &quot;&lt;u&gt;Broker&lt;/u&gt;&quot; ou &quot;&lt;u&gt;Reinsurer&lt;/u&gt;&quot; Company Type.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>messageToSupportLevel1_Modification_User</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!longTextArea} 
Contact Details: {!BaseURLContact}{!Get_Contact_Record.Id}
cc: @[{!Get_Support_Level_1_Chatter_Group.Id}] @[{!$User.Id}]</text>
    </textTemplates>
    <variables>
        <name>AccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
