force-app/main/default/flows/Flow_GroupMember_AddAllInternalUsers.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>If there is no Public Group (VarRecordsCount = 0), we create a Public Group record</description>
        <name>Check_Public_Group_Count</name>
        <label>Check Public Group Count</label>
        <locationX>454</locationX>
        <locationY>279</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Public_Group_Count_Equals_One</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPublicGroupId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarCompanyRT</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>PrincipalCedingCompany</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrieve_All_Internal_Users</targetReference>
            </connector>
            <label>Public Group is Present?</label>
        </rules>
    </decisions>
    <interviewLabel>Flow_GroupMember_AddAllInternalUsers {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow_GroupMember_AddAllInternalUsers</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_GroupMember_for_Internal_User</name>
        <label>Create GroupMember for Internal User</label>
        <locationX>981</locationX>
        <locationY>271</locationY>
        <inputAssignments>
            <field>GroupId</field>
            <value>
                <elementReference>varPublicGroupId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>varGroupAllInternalUsersId</elementReference>
            </value>
        </inputAssignments>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_PublicGroup_AccountReferentialId</name>
        <label>Get Public Group records for Account ReferentialId</label>
        <locationX>176</locationX>
        <locationY>277</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Public_Group_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarReferentialId</elementReference>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>varPublicGroupId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_All_Internal_Users</name>
        <label>Retrieve All Internal Users</label>
        <locationX>740</locationX>
        <locationY>271</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_GroupMember_for_Internal_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Custom_AllInternalUsers</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>varGroupAllInternalUsersId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_PublicGroup_AccountReferentialId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>VarCompanyRT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varGroupAllInternalUsersId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPublicGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VarReferentialId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
