force-app/main/default/flows/MinuteGenerateMinuteLineItems.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>GenerateLineItems</name>
        <label>Generate Line Items</label>
        <locationX>462</locationX>
        <locationY>1247</locationY>
        <actionName>FLW01_GenerateMinuteLineItems</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>AssignMinuteLines</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>minutesInputList</name>
            <value>
                <elementReference>CurrentRecord</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FLW01_GenerateMinuteLineItems</nameSegment>
        <outputParameters>
            <assignToReference>ApexResponse</assignToReference>
            <name>mliOutputList</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AssignMinuteLines</name>
        <label>AssignMinuteLines</label>
        <locationX>462</locationX>
        <locationY>1367</locationY>
        <assignmentItems>
            <assignToReference>MinuteLinesToInsert</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ApexResponse</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createMinuteLines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCurrentRecord</name>
        <label>Set Current Record</label>
        <locationX>462</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>CurrentRecord</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_New_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>BypassActive</name>
        <label>Bypass Active ?</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>SetCurrentRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesBypassActive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.MinuteSettings__c.CanGenerateMinuteLineItems__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if minutelines were retrieved</description>
        <name>HasMinuteLines</name>
        <label>Has MinuteLines</label>
        <locationX>462</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>GenerateLineItems</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Retrieve_Existing_MinuteLines</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Old_MinuteLineItems</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New_Record</name>
        <label>Is New Record</label>
        <locationX>462</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Yes_Is_New_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNewRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Description__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GenerateLineItems</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_Is_New_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNewRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Description__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Description__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Description__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrieve_Existing_MinuteLines</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>Decompose minute single description into smaller content (minute line items) 
Added insert minute line item
Added update condition</description>
    <environments>Default</environments>
    <formulas>
        <name>isNewRecord</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Minute_Generate Minute Line Items {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Minute_Generate Minute Line Items</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates Minute line items</description>
        <name>createMinuteLines</name>
        <label>createMinuteLines</label>
        <locationX>462</locationX>
        <locationY>1487</locationY>
        <inputReference>MinuteLinesToInsert</inputReference>
    </recordCreates>
    <recordDeletes>
        <description>Deletes all minute line items</description>
        <name>Delete_Old_MinuteLineItems</name>
        <label>Delete Old MinuteLineItems</label>
        <locationX>330</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>GenerateLineItems</targetReference>
        </connector>
        <inputReference>Retrieve_Existing_MinuteLines</inputReference>
    </recordDeletes>
    <recordLookups>
        <description>Retrieves existing minutelineItems for deletion</description>
        <name>Retrieve_Existing_MinuteLines</name>
        <label>Retrieve Existing MinuteLines</label>
        <locationX>462</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HasMinuteLines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Minute__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MinuteLineItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>BypassActive</targetReference>
        </connector>
        <object>Minute__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ApexResponse</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MinuteLineItem__c</objectType>
    </variables>
    <variables>
        <name>CurrentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Minute__c</objectType>
    </variables>
    <variables>
        <description>Minute lines to insert</description>
        <name>MinuteLinesToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MinuteLineItem__c</objectType>
    </variables>
</Flow>
