force-app/main/default/flows/MinuteSetAccount.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ClearAccount</name>
        <label>ClearAccount</label>
        <locationX>842</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.Company__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>SetAccount</name>
        <label>SetAccount</label>
        <locationX>50</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.Company__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact__r.AccountId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Sets new Account</description>
        <name>SetNewAccount</name>
        <label>Set New Account</label>
        <locationX>578</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.Company__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact__r.AccountId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>is New</description>
        <name>Check_Event_Type</name>
        <label>Check Event Type</label>
        <locationX>644</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isCreate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>is_Contact_Filled</targetReference>
            </connector>
            <label>isCreate</label>
        </rules>
        <rules>
            <name>isUpdate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNewRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Contact__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContactNotNull</targetReference>
            </connector>
            <label>isUpdate</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks null on contact (lookup cleared)</description>
        <name>ContactNotNull</name>
        <label>Contact Not Null</label>
        <locationX>710</locationX>
        <locationY>551</locationY>
        <defaultConnector>
            <targetReference>ClearAccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetNewAccount</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Contact_Filled</name>
        <label>is Contact Filled</label>
        <locationX>182</locationX>
        <locationY>551</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yesContactIsFilled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetAccount</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>isBypassActive</name>
        <label>isBypassActive</label>
        <locationX>1007</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>isNotActive</defaultConnectorLabel>
        <rules>
            <name>isActive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.MinuteSettings__c.CanSetAccount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Event_Type</targetReference>
            </connector>
            <label>isActive</label>
        </rules>
    </decisions>
    <description>Automatically set account Id when contact is filled</description>
    <environments>Default</environments>
    <formulas>
        <name>isNewRecord</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Minute - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Minute_Set Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>881</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>isBypassActive</targetReference>
        </connector>
        <object>Minute__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Current Record</description>
        <name>CurrentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Minute__c</objectType>
    </variables>
</Flow>
