force-app/main/default/flows/Program_CLM_Upsert_Agreement_Line_Items.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Update_info_on_agreement</name>
        <label>Update info on agreement</label>
        <locationX>902</locationX>
        <locationY>3683</locationY>
        <actionName>CLM_UpdateAgreementByAGL</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>AgreementIdList</name>
            <value>
                <elementReference>ListIdAgreements</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CLM_UpdateAgreementByAGL</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_AGLs_to_Insert_list</name>
        <label>Add to AGLs to Insert list</label>
        <locationX>314</locationX>
        <locationY>2027</locationY>
        <assignmentItems>
            <assignToReference>newAGLs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newAGL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>eachSection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_list_to_deletes</name>
        <label>Add to list to deletes</label>
        <locationX>202</locationX>
        <locationY>1511</locationY>
        <assignmentItems>
            <assignToReference>AGLStoDelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_AGL_Sections</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Any_program_section</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_list_to_deletes_CedingCompanies</name>
        <label>Add to list to deletes</label>
        <locationX>1842</locationX>
        <locationY>1511</locationY>
        <assignmentItems>
            <assignToReference>AGLStoDelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_AGL_CedingCompanies</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Any_program_treaty_cedingcompany</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddToList_to_deletes_Treaty</name>
        <label>Add to list to deletes</label>
        <locationX>1082</locationX>
        <locationY>1511</locationY>
        <assignmentItems>
            <assignToReference>AGLStoDelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_AGL_treaties</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Any_program_treaty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CedingCompany_Init_new_AGL</name>
        <label>Init new AGL</label>
        <locationX>1954</locationX>
        <locationY>1919</locationY>
        <assignmentItems>
            <assignToReference>newAGL.Covered_Ceding_Company__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eachCedingCompany.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAGL.Apttus__AgreementId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eachAgreementCedingCompany.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAGL.BillingCountry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eachCedingCompany.Account__r.BillingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAGL.BillingPostalCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eachCedingCompany.Account__r.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAGL.BillingState__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eachCedingCompany.Account__r.BillingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAGL.BillingStreet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eachCedingCompany.Account__r.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAGL.CedingAccountName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eachCedingCompany.Account__r.LongName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAGL.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RecordType_AGL_CC.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Add_to_AGLs_to_Insert_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Add_to_AGLs_to_Insert_list</name>
        <label>Add to AGLs to Insert list</label>
        <locationX>1954</locationX>
        <locationY>2027</locationY>
        <assignmentItems>
            <assignToReference>newAGLs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newAGL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>eachCedingCompany</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Init_new_AGL</name>
        <label>Init new AGL</label>
        <locationX>314</locationX>
        <locationY>1919</locationY>
        <assignmentItems>
            <assignToReference>newAGL.Section__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eachSection.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAGL.Retention__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eachSection.Retention__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAGL.Limit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eachSection.fieldLimit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAGL.Capacity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eachSection.Capacity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAGL.RetentionAmount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eachSection.RetentionAmount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAGL.CededLines__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eachSection.CededLines__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAGL.CessionAmount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eachSection.CessionAmount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAGL.Apttus__AgreementId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eachAgreementSection.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAGL.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RecordType_AGL_Section.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_AGLs_to_Insert_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>init_order</name>
        <label>init order</label>
        <locationX>1082</locationX>
        <locationY>1811</locationY>
        <assignmentItems>
            <assignToReference>order</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>eachTreaty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_List_Id_Agreement</name>
        <label>Set List Id Agreement</label>
        <locationX>1122</locationX>
        <locationY>3383</locationY>
        <assignmentItems>
            <assignToReference>ListIdAgreements</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EachAgreementToGetId.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EachAgreementToGetId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Treaty_Add_to_AGLs_to_Insert_list</name>
        <label>Add to AGLs to Insert list</label>
        <locationX>1170</locationX>
        <locationY>2135</locationY>
        <assignmentItems>
            <assignToReference>newAGLs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newAGL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>eachTreaty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Treaty_Init_new_AGL</name>
        <label>Init new AGL</label>
        <locationX>1170</locationX>
        <locationY>2027</locationY>
        <assignmentItems>
            <assignToReference>newAGL.Treaty__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eachTreaty.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAGL.Apttus__AgreementId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EachAgreementTreaty.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAGL.PlacementShare__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eachTreaty.PlacementShare_Perc__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAGL.TreatyRef__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eachTreaty.TreatyReference__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAGL.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RecordType_AGL_Treaty.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAGL.TreatyType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eachTreaty.TypeofTreaty__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAGL.LossAttachment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lossAttachmentCALC</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAGL.Layer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eachTreaty.Layer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAGL.treatyName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eachTreaty.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAGL.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>order</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>order</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Treaty_Add_to_AGLs_to_Insert_list</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>SetErrMsg</name>
        <label>Set Error Msg</label>
        <locationX>642</locationX>
        <locationY>1403</locationY>
        <customErrorMessages>
            <errorMessage>Flow Error [CLM - Program - Upsert AgreemenLine Items] - {!$Flow.FaultMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Any_AGLs_to_Delete</name>
        <label>Any AGLs to Delete ?</label>
        <locationX>1034</locationX>
        <locationY>2579</locationY>
        <defaultConnector>
            <targetReference>anyAGLSToInsert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YESAny_AGLs_to_Delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AGLStoDelete</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>delete</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_program_section</name>
        <label>Any program section ?</label>
        <locationX>334</locationX>
        <locationY>1703</locationY>
        <defaultConnector>
            <targetReference>eachAgreementSection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YESAny_program_section</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getProgramSections</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>eachSection</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_program_treaty</name>
        <label>Any program treaty ?</label>
        <locationX>1214</locationX>
        <locationY>1703</locationY>
        <defaultConnector>
            <targetReference>EachAgreementTreaty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_Any_program_treaty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_program_treaties</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>init_order</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_program_treaty_cedingcompany</name>
        <label>Any program cedingcompany ?</label>
        <locationX>1974</locationX>
        <locationY>1703</locationY>
        <defaultConnector>
            <targetReference>eachAgreementCedingCompany</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_program_cedingcompanies</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>eachCedingCompany</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>anyAGLSToInsert</name>
        <label>Any AGLs to Insert ?</label>
        <locationX>1034</locationX>
        <locationY>2927</locationY>
        <defaultConnector>
            <targetReference>EachAgreementToGetId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_anyAGLSToInsert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newAGLs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InsertAGLs</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>AnyChangesCheck</name>
        <label>Changes ?</label>
        <locationX>1034</locationX>
        <locationY>863</locationY>
        <defaultConnectorLabel>No changes</defaultConnectorLabel>
        <rules>
            <name>SectionChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TECH_CountSectionRetainedLead__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.TECH_CountSectionRetainedLead__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_RecordType_AGL_Section</targetReference>
            </connector>
            <label>Section (retained) count - changed</label>
        </rules>
        <rules>
            <name>Treaty_count_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tech_CountTreaty_active__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Tech_CountTreaty_active__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_RecordType_AGL_Treaty</targetReference>
            </connector>
            <label>Treaty count - changed</label>
        </rules>
        <rules>
            <name>ceding_company_count_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TECH_CountCedingCompany__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.TECH_CountCedingCompany__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_RecordType_AGL_CC</targetReference>
            </connector>
            <label>ceding company count - changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_id_Agreements</name>
        <label>Check id Agreements</label>
        <locationX>1034</locationX>
        <locationY>3575</locationY>
        <defaultConnectorLabel>null</defaultConnectorLabel>
        <rules>
            <name>Not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ListIdAgreements</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_info_on_agreement</targetReference>
            </connector>
            <label>Not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_AGLs</name>
        <label>Found AGLs ?</label>
        <locationX>334</locationX>
        <locationY>1403</locationY>
        <defaultConnector>
            <targetReference>Any_program_section</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YESFound_AGLsToDEL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_AGL_Sections</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_list_to_deletes</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_AGLs_CedingCompanies</name>
        <label>Found AGLs ?</label>
        <locationX>1974</locationX>
        <locationY>1403</locationY>
        <defaultConnector>
            <targetReference>Any_program_treaty_cedingcompany</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_Found_AGLs_CedingCompanies</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_AGL_CedingCompanies</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_list_to_deletes_CedingCompanies</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_AGLs_Treaty</name>
        <label>Found AGLs ?</label>
        <locationX>1214</locationX>
        <locationY>1403</locationY>
        <defaultConnector>
            <targetReference>Any_program_treaty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YESFound_AGLs_Treaty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_AGL_treaties</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddToList_to_deletes_Treaty</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_agreements</name>
        <label>Found agreements ?</label>
        <locationX>1658</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>Found_agreements_YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProgramAgreements</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AnyChangesCheck</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <description>On Section/Treaty/Covered Ceding company updates/insertions --&gt; upserts Agreement line items attached to Program accordingly</description>
    <environments>Default</environments>
    <formulas>
        <name>lossAttachmentCALC</name>
        <dataType>String</dataType>
        <expression>CASE(TEXT({!eachTreaty.LossAttachment__c}), 
    &quot;1&quot;, &quot;Risk Attaching&quot;, 
    &quot;2&quot;, &quot;Loss Occuring&quot;, 
    &quot;3&quot;, &quot;Claims Made&quot;,
    &quot;4&quot;, &quot;Risk Attaching + Loss Occurring&quot;,
    &quot;5&quot;, &quot;Risk Attaching + Claims Made&quot;,
    &quot;6&quot;, &quot;Loss Occurring + Claims Made&quot;,
    &quot;7&quot;, &quot;Risk Attaching + Loss Occurring + Claims Made&quot;,
    &quot;&quot;
)</expression>
    </formulas>
    <interviewLabel>Program - CLM - Upsert Agreement Line Items {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CLM - Program -  Upsert Agreement Line Items</label>
    <loops>
        <name>eachAgreementCedingCompany</name>
        <label>Each Agreement</label>
        <locationX>1690</locationX>
        <locationY>1187</locationY>
        <collectionReference>ProgramAgreements</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_AGL_CedingCompanies</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Any_AGLs_to_Delete</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>eachAgreementSection</name>
        <label>Each agreement</label>
        <locationX>50</locationX>
        <locationY>1187</locationY>
        <collectionReference>ProgramAgreements</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_AGL_Sections</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Any_AGLs_to_Delete</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>EachAgreementToGetId</name>
        <label>EachAgreementToGetId</label>
        <locationX>1034</locationX>
        <locationY>3275</locationY>
        <collectionReference>ProgramAgreements</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_List_Id_Agreement</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_id_Agreements</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>EachAgreementTreaty</name>
        <label>Each Agreement</label>
        <locationX>906</locationX>
        <locationY>1187</locationY>
        <collectionReference>ProgramAgreements</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_AGL_treaties</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Any_AGLs_to_Delete</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>eachCedingCompany</name>
        <label>Each program cedingcompany</label>
        <locationX>1866</locationX>
        <locationY>1811</locationY>
        <collectionReference>Get_program_cedingcompanies</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CedingCompany_Init_new_AGL</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>eachAgreementCedingCompany</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>eachSection</name>
        <label>each program section</label>
        <locationX>226</locationX>
        <locationY>1811</locationY>
        <collectionReference>getProgramSections</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Init_new_AGL</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>eachAgreementSection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>eachTreaty</name>
        <label>Each program treaty</label>
        <locationX>1082</locationX>
        <locationY>1919</locationY>
        <collectionReference>Get_program_treaties</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Treaty_Init_new_AGL</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>EachAgreementTreaty</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>InsertAGLs</name>
        <label>Insert</label>
        <locationX>770</locationX>
        <locationY>3035</locationY>
        <connector>
            <targetReference>EachAgreementToGetId</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SetErrMsg</targetReference>
        </faultConnector>
        <inputReference>newAGLs</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>delete</name>
        <label>Deleeeeete 🥶</label>
        <locationX>770</locationX>
        <locationY>2687</locationY>
        <connector>
            <targetReference>anyAGLSToInsert</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SetErrMsg</targetReference>
        </faultConnector>
        <inputReference>AGLStoDelete</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_AGL_CedingCompanies</name>
        <label>Get AGL Ceding Companies</label>
        <locationX>1974</locationX>
        <locationY>1295</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_AGLs_CedingCompanies</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SetErrMsg</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_RecordType_AGL_CC.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Apttus__AgreementId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>eachAgreementCedingCompany.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Apttus__AgreementLineItem__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_AGL_Sections</name>
        <label>Get AGL Sections</label>
        <locationX>334</locationX>
        <locationY>1295</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_AGLs</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SetErrMsg</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_RecordType_AGL_Section.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Apttus__AgreementId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>eachAgreementSection.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Apttus__AgreementLineItem__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_AGL_treaties</name>
        <label>Get AGL treaties</label>
        <locationX>1214</locationX>
        <locationY>1295</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_AGLs_Treaty</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SetErrMsg</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_RecordType_AGL_Treaty.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Apttus__AgreementId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EachAgreementTreaty.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Apttus__AgreementLineItem__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_program_cedingcompanies</name>
        <label>Get program ceding companies</label>
        <locationX>1690</locationX>
        <locationY>1079</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>eachAgreementCedingCompany</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProgramIsSelected__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CoveredCedingCompany__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_program_treaties</name>
        <label>Get program treaties</label>
        <locationX>906</locationX>
        <locationY>1079</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EachAgreementTreaty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>2</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Treaty__c</object>
        <sortField>CLM_TreatySort__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RecordType_AGL_CC</name>
        <label>Get RecordType AGL: CC</label>
        <locationX>1690</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_program_cedingcompanies</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CoveredCedingCompanies</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Apttus__AgreementLineItem__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RecordType_AGL_Section</name>
        <label>Get RecordType AGL: Section</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getProgramSections</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Section</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Apttus__AgreementLineItem__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RecordType_AGL_Treaty</name>
        <label>Get RecordType AGL: Treaty</label>
        <locationX>906</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_program_treaties</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Treaty</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Apttus__AgreementLineItem__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_recordType_Agreement_Acceptation</name>
        <label>Get recordType - Acceptation</label>
        <locationX>1658</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_RecordType_GB</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Acceptation</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Apttus__APTS_Agreement__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Retrieves global brokers RT</description>
        <name>Get_RecordType_GB</name>
        <label>Get RecordType - GB</label>
        <locationX>1658</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_RecordType_GC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GlobalBroker</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Apttus__APTS_Agreement__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Retrieves global brokers RT</description>
        <name>Get_RecordType_GC</name>
        <label>Get RecordType - GC</label>
        <locationX>1658</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ProgramAgreements</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GroupCover</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Apttus__APTS_Agreement__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getProgramSections</name>
        <label>Get program sections</label>
        <locationX>50</locationX>
        <locationY>1079</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>eachAgreementSection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Retained_to_lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Section__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ProgramAgreements</name>
        <label>Get Program Agreements</label>
        <locationX>1658</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_agreements</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SetErrMsg</targetReference>
        </faultConnector>
        <filterLogic>1 AND (2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_recordType_Agreement_Acceptation.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_RecordType_GB.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_RecordType_GC.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Apttus__APTS_Agreement__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1532</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_recordType_Agreement_Acceptation</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Tech_CountTreaty_active__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TECH_CountCedingCompany__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TECH_CountSectionRetainedLead__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Program__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AGLStoDelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__AgreementLineItem__c</objectType>
    </variables>
    <variables>
        <name>ListIdAgreements</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newAGL</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__AgreementLineItem__c</objectType>
    </variables>
    <variables>
        <name>newAGLs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__AgreementLineItem__c</objectType>
    </variables>
    <variables>
        <name>order</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
</Flow>
