force-app/main/default/flows/QuoteTableNotifyUser.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>SEnds Notification to the user in bell</description>
        <name>Notify_User</name>
        <label>Notify User</label>
        <locationX>176</locationX>
        <locationY>911</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>GetCustomNotification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>File Generated Successfully</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>Recepients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.RecordId__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>GetValues</name>
        <label>GetValues</label>
        <locationX>264</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Recepients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopClasseurs.CurrentUser__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExcelName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopClasseurs.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopClasseurs</targetReference>
        </connector>
    </assignments>
    <description>Notifies user when the Quote Table Excel is ready</description>
    <environments>Default</environments>
    <interviewLabel>Quote Table Notify User {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote Table Notify User</label>
    <loops>
        <name>LoopClasseurs</name>
        <label>Loop Classeurs</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <collectionReference>RelatedUserSearch</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GetValues</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Notify_User</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetCustomNotification</name>
        <label>GetCustomNotification</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopClasseurs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>QuoteTableFileReady</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Retrieves the Record Id of the current excel and its owner</description>
        <name>RelatedUserSearch</name>
        <label>RelatedUserSearch</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetCustomNotification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CurrentUser__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Classeur__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>RelatedUserSearch</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Context__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>QuoteTable</stringValue>
            </value>
        </filters>
        <filters>
            <field>StatusCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>200</stringValue>
            </value>
        </filters>
        <object>EventLog__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Body</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Your excel file {!ExcelName} is ready. Please click on this notification to be redirected.</text>
    </textTemplates>
    <variables>
        <name>ExcelName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Recepients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
