force-app/main/default/flows/Subsection_Creation_Hazard_Bassins.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Check_ReadOnly_Profile</name>
        <label>Check ReadOnly Profile</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <actionName>LWC65_GenericReadOnlyCmp</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>isReadOnlyProfile</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>scope</name>
            <value>
                <stringValue>flow</stringValue>
            </value>
        </inputParameters>
        <nameSegment>LWC65_GenericReadOnlyCmp</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Delete_Records</name>
        <label>Delete Records</label>
        <locationX>314</locationX>
        <locationY>1838</locationY>
        <actionName>EditDeleteRecordSubSec</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Current_Section</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>action</name>
            <value>
                <elementReference>EditSubSection.action</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>idSubsection</name>
            <value>
                <elementReference>EditSubSection.subSection_RecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>EditDeleteRecordSubSec</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Edit_Records</name>
        <label>Edit Records</label>
        <locationX>50</locationX>
        <locationY>1946</locationY>
        <actionName>EditDeleteRecordSubSec</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SetViewSteps_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>action</name>
            <value>
                <elementReference>EditSubSection.action</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>idSubsection</name>
            <value>
                <elementReference>EditSubSection.subSection_RecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>EditDeleteRecordSubSec</nameSegment>
        <outputParameters>
            <assignToReference>Get_SubSection</assignToReference>
            <name>preselecteConditions</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Preselected_HBs</assignToReference>
            <name>preselectedHBs</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Preselected_PSegs</assignToReference>
            <name>preselectedPSegs</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Get_ListReins</assignToReference>
            <name>preselecteReins</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_All_Filtered_List_Hazard_Bassins</name>
        <label>Get All / Filtered List Hazard Bassins</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <actionName>getListHazardBassinsFiltered</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Record_Reinstatements</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>getListHazardBassinsFiltered</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_List_All_Filtered_PortFolioSegment</name>
        <label>Get List All / Filtered PortFolioSegment</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <actionName>getPortFolioSegmentFiltered</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>GetSubsections</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>lstCCC</name>
            <value>
                <elementReference>Get_CCC_attached_on_the_Current_Section.ExtractCodeRegion__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>getPortFolioSegmentFiltered</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>init condition on SubSection if conditions on Section is present</description>
        <name>init_Condition_from_existing_Section_value_0</name>
        <label>init Condition from existing Section value</label>
        <locationX>842</locationX>
        <locationY>1730</locationY>
        <actionName>initSubSectionFromSection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Empty_preselections_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>initSubSectionFromSection</nameSegment>
        <outputParameters>
            <assignToReference>Get_SubSection</assignToReference>
            <name>ConditionValue</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Refresh_Page_creation_subSection_0_0_0_0_0_0_0</name>
        <label>Refresh Page creation subSection</label>
        <locationX>248</locationX>
        <locationY>2870</locationY>
        <actionName>c:refreshPageSubSecOnFlow</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Is_Upsert_success</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_SubSection.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:refreshPageSubSecOnFlow</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>UpsertSubsection</name>
        <label>Upsert Subsection</label>
        <locationX>248</locationX>
        <locationY>2762</locationY>
        <actionName>CreateEditSubsection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Refresh_Page_creation_subSection_0_0_0_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sectionId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>HBs</name>
            <value>
                <elementReference>HazardBassinsMultiSelections.selectionList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PSegs</name>
            <value>
                <elementReference>PortfolioSegmentsMultiSelections.selectionList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Reinst</name>
            <value>
                <elementReference>lstReinstatement.outputList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subsectionNewRecord</name>
            <value>
                <elementReference>SubsectionRecord.newRecord</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subsection</name>
            <value>
                <elementReference>Get_SubSection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>typeReins</name>
            <value>
                <elementReference>type</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CreateEditSubsection</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_number_of_subsections</name>
        <label>Assign number of subsections</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>NumberOfSubSections</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GetSubsections</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_ReadOnly_Profile</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Conserve_preselctions</name>
        <label>Conserve preselctions</label>
        <locationX>908</locationX>
        <locationY>2954</locationY>
        <assignmentItems>
            <assignToReference>Preselected_HBs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HazardBassinsMultiSelections.selectionList</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Preselected_PSegs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PortfolioSegmentsMultiSelections.selectionList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen1_CreateEditSubsection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>count_Referentiel_Hazard_Bassin</name>
        <label>count Referentiel Hazard Bassin</label>
        <locationX>578</locationX>
        <locationY>2438</locationY>
        <assignmentItems>
            <assignToReference>countHBs</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>HazardBassinsMultiSelections.selectionList</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>countPSegs</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>PortfolioSegmentsMultiSelections.selectionList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HB_s_or_PSegment_s_selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Empty_preselections_0</name>
        <label>Empty preselections</label>
        <locationX>842</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>Preselected_PSegs</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Preselected_PSegs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Preselected_HBs</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Preselected_HBs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen1_CreateEditSubsection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ErrMsg_No_PortfolioSegments_0</name>
        <label>Set ErrMsg : No PortfolioSegments</label>
        <locationX>908</locationX>
        <locationY>2762</locationY>
        <assignmentItems>
            <assignToReference>errorMessage_Text</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>⚠️ select at least one (01) PortFolioSegment</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Conserve_preselctions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ErrMsg_No_Referential_Hazard_Bassins_0</name>
        <label>Set ErrMsg : No Referential Hazard Bassins</label>
        <locationX>644</locationX>
        <locationY>2762</locationY>
        <assignmentItems>
            <assignToReference>errorMessage_Text</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>⚠️ select at least one (01) Hazard Bassin</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Conserve_preselctions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetNewSteps</name>
        <label>Set &quot;New&quot; Steps</label>
        <locationX>842</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>lstSteps</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>lstSteps</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstSteps</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>1. New Subsection </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstSteps</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>2. Save</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstSteps</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>3. List of subsections</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentStep</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1. New Subsection</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>init_Condition_from_existing_Section_value_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetViewSteps</name>
        <label>Set &quot;View/Edit&quot; Steps</label>
        <locationX>314</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>lstSteps</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>lstSteps</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstSteps</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>1. View subsection(s)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentStep</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1. View subsection(s)</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen1_ViewSubsections1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetViewSteps_0</name>
        <label>Set &quot;View/Edit&quot; Steps</label>
        <locationX>50</locationX>
        <locationY>2054</locationY>
        <assignmentItems>
            <assignToReference>lstSteps</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>lstSteps</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstSteps</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>1. Edit Subsection</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentStep</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1. Edit Subsection</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstSteps</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>2. Save</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstSteps</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>3. List of subsections</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen1_CreateEditSubsection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Type_of_Reinstatement</name>
        <label>Type of Reinstatement</label>
        <locationX>248</locationX>
        <locationY>2654</locationY>
        <assignmentItems>
            <assignToReference>type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lstReinstatement.TypeOfReinstatement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpsertSubsection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Any_records_returned</name>
        <label>Any records returned ?</label>
        <locationX>578</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>GetRecordReinstatements_NEW</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetSubsections</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetViewSteps</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Edit_or_Delete_Action</name>
        <label>Check if Edit or Delete Action</label>
        <locationX>314</locationX>
        <locationY>1730</locationY>
        <defaultConnector>
            <targetReference>GetRecordReinstatements_NEW</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New Action</defaultConnectorLabel>
        <rules>
            <name>Edit_Action</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EditSubSection.action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Edit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EditSubSection.subSection_RecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRecordReinstatements_EDIT</targetReference>
            </connector>
            <label>Edit Action</label>
        </rules>
        <rules>
            <name>Delete_action</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EditSubSection.action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Records</targetReference>
            </connector>
            <label>Delete Action</label>
        </rules>
    </decisions>
    <decisions>
        <name>HB_s_or_PSegment_s_selected</name>
        <label>HB(s) AND PSegment(s) selected ?</label>
        <locationX>578</locationX>
        <locationY>2546</locationY>
        <defaultConnector>
            <targetReference>HB_s_or_PSegment_s_selected_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_isSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>countHBs</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>countPSegs</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Type_of_Reinstatement</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>HB_s_or_PSegment_s_selected_0</name>
        <label>Which ones not selected</label>
        <locationX>908</locationX>
        <locationY>2654</locationY>
        <defaultConnector>
            <targetReference>Conserve_preselctions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>HBS_NotSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>countHBs</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_ErrMsg_No_Referential_Hazard_Bassins_0</targetReference>
            </connector>
            <label>HBs not selected</label>
        </rules>
        <rules>
            <name>PSegs_not_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>countPSegs</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_ErrMsg_No_PortfolioSegments_0</targetReference>
            </connector>
            <label>PSegs not selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Upsert_success</name>
        <label>Is Upsert success ?</label>
        <locationX>248</locationX>
        <locationY>2978</locationY>
        <defaultConnector>
            <targetReference>ErrorScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_UpsertSuccess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UpsertSubsection.isSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Current_Section</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>isReadOnlyProfile</name>
        <label>isReadOnlyProfile</label>
        <locationX>578</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Update_Parent_Record_Number_of_Subsections</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Read_Only_Skip_DML</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_ReadOnly_Profile.isReadOnly</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Any_records_returned</targetReference>
            </connector>
            <label>Read Only - Skip DML</label>
        </rules>
    </decisions>
    <description>BBH 30.10.2024 - Dev ReadOnly W-2163:AUDIT - Create a Read only profile for all platform except Works tab</description>
    <interviewLabel>Subsection : Create HBs {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Subsection : Creation Hazard Bassins version 3</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_CCC_attached_on_the_Current_Section</name>
        <label>Get CCC attached on the Current Section</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Filtered_List_Hazard_Bassins</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Section__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CoveredCedingCompany__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Section</name>
        <label>Get Current Section</label>
        <locationX>578</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_CCC_attached_on_the_Current_Section</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Section__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Reinstatements</name>
        <label>Get Record New Reinstatements</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Records_Edit_Reinstatement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Section__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sub_Section__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Reinstatement__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Order__c</queriedFields>
        <queriedFields>Prorata__c</queriedFields>
        <queriedFields>Percentage__c</queriedFields>
        <queriedFields>Section__c</queriedFields>
        <queriedFields>Sub_Section__c</queriedFields>
        <queriedFields>Free__c</queriedFields>
        <queriedFields>Key_Insert_Update_Reinstatement__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <queriedFields>FreeValue__c</queriedFields>
        <queriedFields>ProrataValue__c</queriedFields>
        <queriedFields>ID__c</queriedFields>
        <queriedFields>TECH_ExistingReinstatementOnSection__c</queriedFields>
        <queriedFields>TECH_SectionSubSection__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Records_Edit_Reinstatement</name>
        <label>Get Records Edit Reinstatement</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_List_All_Filtered_PortFolioSegment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Section__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sub_Section__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Reinstatement__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Free__c</queriedFields>
        <queriedFields>Order__c</queriedFields>
        <queriedFields>Percentage__c</queriedFields>
        <queriedFields>Section__c</queriedFields>
        <queriedFields>Prorata__c</queriedFields>
        <queriedFields>Sub_Section__c</queriedFields>
        <queriedFields>Key_Insert_Update_Reinstatement__c</queriedFields>
        <queriedFields>TECH_ExistingReinstatementOnSection__c</queriedFields>
        <queriedFields>TECH_SectionSubSection__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRecordReinstatements_EDIT</name>
        <label>Get Records Edit Reinstatement</label>
        <locationX>50</locationX>
        <locationY>1838</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Edit_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Section__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sub_Section__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Reinstatement__c</object>
        <outputReference>lstReinstatements</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Free__c</queriedFields>
        <queriedFields>Order__c</queriedFields>
        <queriedFields>Percentage__c</queriedFields>
        <queriedFields>Section__c</queriedFields>
        <queriedFields>Prorata__c</queriedFields>
        <queriedFields>Sub_Section__c</queriedFields>
        <queriedFields>Key_Insert_Update_Reinstatement__c</queriedFields>
        <queriedFields>TECH_ExistingReinstatementOnSection__c</queriedFields>
        <queriedFields>TECH_SectionSubSection__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetRecordReinstatements_NEW</name>
        <label>Get Record New Reinstatements</label>
        <locationX>842</locationX>
        <locationY>1514</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetNewSteps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Section__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sub_Section__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Reinstatement__c</object>
        <outputReference>lstReinstatements</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Order__c</queriedFields>
        <queriedFields>Prorata__c</queriedFields>
        <queriedFields>Percentage__c</queriedFields>
        <queriedFields>Section__c</queriedFields>
        <queriedFields>Sub_Section__c</queriedFields>
        <queriedFields>Free__c</queriedFields>
        <queriedFields>Key_Insert_Update_Reinstatement__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <queriedFields>FreeValue__c</queriedFields>
        <queriedFields>ProrataValue__c</queriedFields>
        <queriedFields>ID__c</queriedFields>
        <queriedFields>TECH_ExistingReinstatementOnSection__c</queriedFields>
        <queriedFields>TECH_SectionSubSection__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetSubsections</name>
        <label>Get subsections</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_number_of_subsections</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Section__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SubSection__c</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Parent_Record_Number_of_Subsections</name>
        <label>Update Parent Record Number of Subsections</label>
        <locationX>666</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Any_records_returned</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Number_of_subsections__c</field>
            <value>
                <elementReference>NumberOfSubSections</elementReference>
            </value>
        </inputAssignments>
        <object>Section__c</object>
    </recordUpdates>
    <screens>
        <name>ErrorScreen</name>
        <label>ErrorScreen</label>
        <locationX>380</locationX>
        <locationY>3086</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;{!UpsertSubsection.errMsg}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen1_CreateEditSubsection</name>
        <label>Screen #1 : Create &amp; Edit Subsection</label>
        <locationX>578</locationX>
        <locationY>2330</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>count_Referentiel_Hazard_Bassin</targetReference>
        </connector>
        <fields>
            <name>toastMessage</name>
            <extensionName>c:lwc01MessageToastOnFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>successOrErrorMessage</name>
                <value>
                    <elementReference>Get_Current_Section.SuccessErrorToastMessageOnFlow__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Check_ReadOnly_Profile.isReadOnly</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Screen1_PegFlowPath</name>
            <extensionName>c:sfpegFlowPathFlw</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>steps</name>
                <value>
                    <elementReference>lstSteps</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <elementReference>currentStep</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>errorMessageHB</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px; color: rgb(250, 0, 0);&quot;&gt;{!errorMessage_Text}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SubsectionRecord</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>SubSection__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:sfpegRecordEditFlw</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cardIcon</name>
                <value>
                    <stringValue>custom:custom57</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cardTitle</name>
                <value>
                    <stringValue>SubSection Fields Conditions : </stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldSetName</name>
                <value>
                    <stringValue>SubSection__c.fieldSet_SubSection</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tileSize</name>
                <value>
                    <numberValue>4.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>mainRecord</name>
                <value>
                    <elementReference>Get_SubSection</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>lstReinstatement</name>
            <dataTypeMappings>
                <typeName>PT</typeName>
                <typeValue>Reinstatement__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:lwc59ReinstatementUIFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lstReinstatement</name>
                <value>
                    <elementReference>lstReinstatements</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>preselectionList</name>
                <value>
                    <elementReference>Get_ListReins</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>typeReinsFlow</name>
                <value>
                    <elementReference>Get_Current_Section.Reinstatements__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>HazardBassinsMultiSelections</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ReferentialHazardBassin__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:sfpegListMultiSelectorFlw</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordList</name>
                <value>
                    <elementReference>Get_All_Filtered_List_Hazard_Bassins.lstHBAllFiltered</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cardIcon</name>
                <value>
                    <stringValue>custom:custom60</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cardTitle</name>
                <value>
                    <stringValue>Referential Hazard Bassins</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>defaultSortedBy</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldSetName</name>
                <value>
                    <stringValue>ReferentialHazardBassin__c.FieldSetHazardBassin</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>tiles</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>searchHeight</name>
                <value>
                    <numberValue>300.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isSearchAuto</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDebug</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showSearch</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showSort</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isSingleSelect</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nameField</name>
                <value>
                    <stringValue>Label__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectName</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nameLabel</name>
                <value>
                    <stringValue>Label</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cardClass</name>
                <value>
                    <stringValue>slds-var-m-bottom_x-small slds-box</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>preselectionList</name>
                <value>
                    <elementReference>Preselected_HBs</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>PortfolioSegmentsMultiSelections</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>PortfolioSegment__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:sfpegListMultiSelectorFlw</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordList</name>
                <value>
                    <elementReference>Get_List_All_Filtered_PortFolioSegment.lstPSAllFiltered</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cardIcon</name>
                <value>
                    <stringValue>standard:folder</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cardTitle</name>
                <value>
                    <stringValue>Portfolio segments selections:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>defaultSortedBy</name>
                <value>
                    <stringValue>PortfolioSegment__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldSetName</name>
                <value>
                    <stringValue>PortfolioSegment__c.FieldSetPortFolioSegment</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>tiles</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>searchHeight</name>
                <value>
                    <numberValue>300.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isSearchAuto</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDebug</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showSearch</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showSort</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isSingleSelect</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nameLabel</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nameField</name>
                <value>
                    <stringValue>PortfolioSegment__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tileSize</name>
                <value>
                    <numberValue>3.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cardClass</name>
                <value>
                    <stringValue>slds-var-m-bottom_x-small slds-box</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>preselectionList</name>
                <value>
                    <elementReference>Preselected_PSegs</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>errorMessageHB2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(250, 0, 0); font-size: 20px; background-color: rgb(255, 255, 255);&quot;&gt;{!errorMessage_Text}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CustomFooter_Screen1</name>
            <dataTypeMappings>
                <typeName>PT</typeName>
                <typeValue>SubSection__c</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>REINS</typeName>
                <typeValue>Reinstatement__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:flowCustomFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>hideFinishBtn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lstSubSection</name>
                <value>
                    <elementReference>GetSubsections</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lstReinstatement</name>
                <value>
                    <elementReference>lstReinstatement.outputList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextLabel</name>
                <value>
                    <stringValue>Save</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>previousLabel</name>
                <value>
                    <stringValue>Cancel</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen1_ViewSubsections1</name>
        <label>Screen #2 : View subsections</label>
        <locationX>314</locationX>
        <locationY>1622</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_if_Edit_or_Delete_Action</targetReference>
        </connector>
        <fields>
            <name>toastMessageEdit</name>
            <extensionName>c:lwc01MessageToastOnFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>successOrErrorMessage</name>
                <value>
                    <elementReference>Get_Current_Section.SuccessErrorToastMessageOnFlow__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Check_ReadOnly_Profile.isReadOnly</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>pegFlow_ViewEditScreen</name>
            <extensionName>c:sfpegFlowPathFlw</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>steps</name>
                <value>
                    <elementReference>lstSteps</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <elementReference>currentStep</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>EditSubSection</name>
            <dataTypeMappings>
                <typeName>PT</typeName>
                <typeValue>SubSection__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:lwc58SubSectionUIFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>lstSubSection</name>
                <value>
                    <elementReference>GetSubsections</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Customfooter_Screen2</name>
            <dataTypeMappings>
                <typeName>PT</typeName>
                <typeValue>SubSection__c</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>REINS</typeName>
                <typeValue>Reinstatement__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:flowCustomFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>hidePreviousBtn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lstSubSection</name>
                <value>
                    <elementReference>GetSubsections</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lstReinstatement</name>
                <value>
                    <elementReference>lstReinstatement.outputList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextLabel</name>
                <value>
                    <stringValue>Add New Subsection</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>previousLabel</name>
                <value>
                    <stringValue>Previous</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Current_Section</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>countHBs</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>countPSegs</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>currentStep</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMessage_Text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorPS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Get_ListReins</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Reinstatement__c</objectType>
    </variables>
    <variables>
        <name>Get_SubSection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SubSection__c</objectType>
    </variables>
    <variables>
        <name>lstReinstatements</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Reinstatement__c</objectType>
    </variables>
    <variables>
        <name>lstSteps</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NumberOfSubSections</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Preselected_HBs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ReferentialHazardBassin__c</objectType>
    </variables>
    <variables>
        <name>Preselected_PSegs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PortfolioSegment__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Subsection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SubSection__c</objectType>
    </variables>
    <variables>
        <name>type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
