force-app/main/default/flows/Universign_subflow_insert_agreement_data.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>add_to_list</name>
        <label>add to list</label>
        <locationX>402</locationX>
        <locationY>1022</locationY>
        <assignmentItems>
            <assignToReference>lstAgreementData</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>agreementData</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>eachSigner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Init_agreement_data</name>
        <label>Init agreement data</label>
        <locationX>402</locationX>
        <locationY>914</locationY>
        <assignmentItems>
            <assignToReference>agreementData.Agreement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>agreementId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>agreementData.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_recordtype.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>agreementData.Universign_SignerName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eachSigner.CompanyName__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_to_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ErrMsg</name>
        <label>Set ErrMsg</label>
        <locationX>754</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>errMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>set_issuccess</name>
        <label>set issuccess</label>
        <locationX>314</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>found_existing_agreementdatas</name>
        <label>found existing agreementdatas ?</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>eachSigner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YESfound_existing_agreementdatas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>existingAgreementDatas</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_them</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_role_signer</name>
        <label>Is role signer ?</label>
        <locationX>534</locationX>
        <locationY>806</locationY>
        <defaultConnector>
            <targetReference>eachSigner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YESIs_role_signer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>eachSigner.role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>signer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Init_agreement_data</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Universign - subflow - insert agreement data {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Universign - subflow - insert agreement data</label>
    <loops>
        <name>eachSigner</name>
        <label>each Signer</label>
        <locationX>314</locationX>
        <locationY>698</locationY>
        <collectionReference>lstUniversignSigners</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_role_signer</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_agreement_datas</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_agreement_datas</name>
        <label>Insert agreement datas</label>
        <locationX>314</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>set_issuccess</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_ErrMsg</targetReference>
        </faultConnector>
        <inputReference>lstAgreementData</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_them</name>
        <label>Delete them</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>eachSigner</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_ErrMsg</targetReference>
        </faultConnector>
        <inputReference>existingAgreementDatas</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>existingAgreementDatas</name>
        <label>Get already existing agreement data</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>found_existing_agreementdatas</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_ErrMsg</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Agreement__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>agreementId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_recordtype.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AgreementData__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_recordtype</name>
        <label>Get AgreementData Signer recType</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>existingAgreementDatas</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_ErrMsg</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AgreementData__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>UniversignSigner</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_recordtype</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>agreementData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AgreementData__c</objectType>
    </variables>
    <variables>
        <name>agreementDataCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>agreementId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>isSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>lstAgreementData</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AgreementData__c</objectType>
    </variables>
    <variables>
        <name>lstUniversignSigners</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Universign_signer__c</objectType>
    </variables>
</Flow>
