force-app/main/default/flows/Universign_get_transaction_Info.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Cancel_universign_transaction</name>
        <label>Cancel universign transaction</label>
        <locationX>116</locationX>
        <locationY>2570</locationY>
        <actionName>universign_cancelTransaction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_cancel_success</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>universignTransaction</name>
            <value>
                <elementReference>latestTransaction</elementReference>
            </value>
        </inputParameters>
        <nameSegment>universign_cancelTransaction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_Document_From_Universign</name>
        <label>Get Document From Universign</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <actionName>universign_getDocument</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_success_getUniversignDocs</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>universignTransaction</name>
            <value>
                <elementReference>Get_transaction_Info.universignTransaction</elementReference>
            </value>
        </inputParameters>
        <nameSegment>universign_getDocument</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_transaction_Info</name>
        <label>Get transaction Info</label>
        <locationX>1084</locationX>
        <locationY>458</locationY>
        <actionName>universign_getTransactionInfo</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_success</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>universignTransaction</name>
            <value>
                <elementReference>latestTransaction</elementReference>
            </value>
        </inputParameters>
        <nameSegment>universign_getTransactionInfo</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Relaunch_transaction</name>
        <label>Relaunch transaction</label>
        <locationX>688</locationX>
        <locationY>2570</locationY>
        <actionName>universign_relaunchTransaction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_relaunch_success</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>universignTransaction</name>
            <value>
                <elementReference>latestTransaction</elementReference>
            </value>
        </inputParameters>
        <nameSegment>universign_relaunchTransaction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Copy_1_of_Update_Universign_Transation_contentVersion</name>
        <label>Update relaunched date</label>
        <locationX>424</locationX>
        <locationY>2786</locationY>
        <assignmentItems>
            <assignToReference>latestTransaction.RelaunchedDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NOW</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Update_transaction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_contentVersionId</name>
        <label>Set contentVersionId</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>SignedDocContentVersionId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>latestTransaction.SignedDocContentVersion__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_signed_doc</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Universign_Transation_contentVersion</name>
        <label>Update Universign Transation contentVersion</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>latestTransaction.DocumentsFetched__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>latestTransaction.SignedDocContentVersion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Document_From_Universign.contentVersionId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SignedDocContentVersionId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Document_From_Universign.contentVersionId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_transaction</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Found_signed_document</name>
        <label>Found signed document ?</label>
        <locationX>314</locationX>
        <locationY>1646</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Document_From_Universign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_Found_signed_document</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_signed_doc</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_UniversignSigners</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Transaction</name>
        <label>Found Transaction ?</label>
        <locationX>1034</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_MainScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>latestTransaction</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>latestTransaction.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_status_complete</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_cancel_success</name>
        <label>Is cancel success ?</label>
        <locationX>116</locationX>
        <locationY>2678</locationY>
        <defaultConnector>
            <targetReference>OppsErrScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_Is_cancel_success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cancel_universign_transaction.isSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>latestTransaction</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_relaunch_success</name>
        <label>Is relaunch success ?</label>
        <locationX>688</locationX>
        <locationY>2678</locationY>
        <defaultConnector>
            <targetReference>OppsErrScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YESIs_relaunch_success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Relaunch_transaction.isSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Universign_Transation_contentVersion</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_status_complete</name>
        <label>Is status complete ?</label>
        <locationX>347</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Get_transaction_Info</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YESIs_status_complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>latestTransaction.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>latestTransaction.SignedDocContentVersion__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Set_contentVersionId</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_status_ready</name>
        <label>Is status ready ?</label>
        <locationX>622</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>MainScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>other</defaultConnectorLabel>
        <rules>
            <name>ready_status_outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_transaction_Info.universignTransaction.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ready</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MainScreen</targetReference>
            </connector>
            <label>ready</label>
        </rules>
        <rules>
            <name>completed_status_outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_transaction_Info.universignTransaction.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Records_already_fetched</targetReference>
            </connector>
            <label>completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_success</name>
        <label>Is success ?</label>
        <locationX>1084</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>OppsErrScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_isSucess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_transaction_Info.isSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_status_ready</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_success_getUniversignDocs</name>
        <label>Is success ?</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>OppsErrScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_Is_success_getUniversignDocs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Document_From_Universign.isSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Universign_Transation_contentVersion</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Records_already_fetched</name>
        <label>Signed docs fetched ?</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Get_Document_From_Universign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_SignedDocsReceived</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>latestTransaction.DocumentsFetched__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>latestTransaction.SignedDocContentVersion__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_contentVersionId</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>SelectionFromScreen</name>
        <label>Selection ?</label>
        <locationX>622</locationX>
        <locationY>2354</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>latestTransaction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Refresh</defaultConnectorLabel>
        <rules>
            <name>YES_User_selected_cancel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>universign_customFooter.selection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_screen</targetReference>
            </connector>
            <label>Cancel</label>
        </rules>
        <rules>
            <name>Relaunch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>universign_customFooter.selection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Relaunch</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Confirm_cancel_screen</targetReference>
            </connector>
            <label>Relaunch</label>
        </rules>
    </decisions>
    <description>RRA W-2263 : CLM - Change name and text of Relaunch button</description>
    <environments>Default</environments>
    <formulas>
        <name>NOW</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>SignatureStatus_Formula</name>
        <dataType>String</dataType>
        <expression>IF( TEXT({!Get_transaction_Info.universignTransaction.Status__c}) = &apos;ready&apos;, &apos;Ready for signature&apos;, TEXT({!Get_transaction_Info.universignTransaction.Status__c}))</expression>
    </formulas>
    <interviewLabel>Universign - get transaction Info {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Universign - get transaction Info</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_signed_doc</name>
        <label>Get signed doc</label>
        <locationX>314</locationX>
        <locationY>1538</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_signed_document</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>OppsErrScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SignedDocContentVersionId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentVersion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_UniversignSigners</name>
        <label>Get UniversignSigners_Signed</label>
        <locationX>182</locationX>
        <locationY>1754</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SignedDocumentScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UniversignTransaction__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>latestTransaction.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Universign_signer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>latestTransaction</name>
        <label>Get Latest transaction</label>
        <locationX>1034</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Transaction</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>OppsErrScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Agreement__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>canceled</stringValue>
            </value>
        </filters>
        <filters>
            <field>transactionId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Universign_Transaction__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_transaction</name>
        <label>Update transaction</label>
        <locationX>424</locationX>
        <locationY>2894</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>OppsErrScreen</targetReference>
        </faultConnector>
        <inputReference>latestTransaction</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_transaction</name>
        <label>Update transaction</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Get_signed_doc</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>OppsErrScreen</targetReference>
        </faultConnector>
        <inputReference>latestTransaction</inputReference>
    </recordUpdates>
    <screens>
        <name>Confirm_screen</name>
        <label>Confirm cancel screen</label>
        <locationX>116</locationX>
        <locationY>2462</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>No</backButtonLabel>
        <connector>
            <targetReference>Cancel_universign_transaction</targetReference>
        </connector>
        <fields>
            <name>warningConfirmation</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;⚠️&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Are you sure you want to cancel the signature process ?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Yes cancel the transaction</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Confirm_cancel_screen</name>
        <label>Confirm relaunch screen</label>
        <locationX>688</locationX>
        <locationY>2462</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>No</backButtonLabel>
        <connector>
            <targetReference>Relaunch_transaction</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_warningConfirmation</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;⚠️&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Are you sure you want to &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;relaunch&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; &lt;/span&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;the ongoing signatory&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; ?&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;This process will send a reminder to the signatory who did not sign yet.&lt;/span&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Yes, Relaunch ongoing signatory</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_MainScreen</name>
        <label>No signature found</label>
        <locationX>1722</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_MainScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_MainScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_UniversignTransactionStatus_Text</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(3, 37, 76);&quot;&gt;Document&lt;/strong&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt; &lt;/strong&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(17, 103, 177);&quot;&gt;Signature&lt;/strong&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt; &lt;/strong&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(24, 123, 205);&quot;&gt;Status&lt;/strong&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt; ✍🏻📨&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;No document sent for signature .. yet&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_MainScreen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>HowToSendHelp</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Need help to send your final document for signature ?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Yes please</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>HelpMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;On the left of this page &amp;gt; In the &quot;&lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;LightningAgreementActions&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&quot; section &amp;gt; Click on &quot;&lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Send for signatures&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&quot; &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://actornewgen--devtabcota.sandbox.file.force.com/sfc/servlet.shepherd/version/download/0685E000004WqYl?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;Screenshot 2023-09-26 at 09.29.21.png&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>HowToSendHelp.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>MainScreen</name>
        <label>MainScreen</label>
        <locationX>622</locationX>
        <locationY>2246</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SelectionFromScreen</targetReference>
        </connector>
        <fields>
            <name>UniversignTransactionStatus_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(3, 37, 76); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;Document&lt;/strong&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt; &lt;/strong&gt;&lt;strong style=&quot;color: rgb(17, 103, 177); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;Signatur﻿e&lt;/strong&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt; &lt;/strong&gt;&lt;strong style=&quot;color: rgb(24, 123, 205); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;Status&lt;/strong&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt; ✍🏻📨&lt;/strong&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt; ﻿&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;as of&lt;/span&gt;&lt;span style=&quot;color: rgb(3, 37, 76); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt; &lt;/span&gt;&lt;strong style=&quot;color: rgb(3, 37, 76); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;{!NOW}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SignatureStatusTextDisplay</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(3, 37, 76);&quot;&gt;Signature  status: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px; color: rgb(3, 37, 76);&quot;&gt;{!SignatureStatus_Formula}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(3, 37, 76);&quot;&gt;Current Signer: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px; color: rgb(3, 37, 76);&quot;&gt;{!Get_transaction_Info.currentSignerName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(3, 37, 76); background-color: rgb(255, 255, 255);&quot;&gt;Last relaunched on: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px; color: rgb(3, 37, 76); background-color: rgb(255, 255, 255);&quot;&gt;{!latestTransaction.RelaunchedDate__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SignersTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Universign_signer__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Signer(s) status </stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_transaction_Info.signers</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;TECH_SignerName__c&quot;,&quot;guid&quot;:&quot;column-a0ee&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Signer Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Email__c&quot;,&quot;guid&quot;:&quot;column-0b7b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:1,&quot;label&quot;:&quot;Email&quot;,&quot;type&quot;:&quot;email&quot;},{&quot;apiName&quot;:&quot;role__c&quot;,&quot;guid&quot;:&quot;column-570f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;role&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;SignerStatus__c&quot;,&quot;guid&quot;:&quot;column-2d44&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Signer Status&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;actionDate__c&quot;,&quot;guid&quot;:&quot;column-3d2c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Action date&quot;,&quot;type&quot;:&quot;customDateTime&quot;},{&quot;apiName&quot;:&quot;RefusalComment__c&quot;,&quot;guid&quot;:&quot;column-30f8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:5,&quot;label&quot;:&quot;Refusal Comment&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>latestTransaction.Agreement__r.ContractCode__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SignersStatusLegacy</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Universign_signer__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Signer(s) status</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_transaction_Info.lstSigners</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-75ff&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Name&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:0,&quot;label&quot;:&quot;Universign signer Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Email__c&quot;,&quot;guid&quot;:&quot;column-6c89&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Email&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:1,&quot;label&quot;:&quot;Email&quot;,&quot;type&quot;:&quot;email&quot;},{&quot;apiName&quot;:&quot;SignerStatus__c&quot;,&quot;guid&quot;:&quot;column-3a4f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:2,&quot;label&quot;:&quot;Signer Status&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;actionDate__c&quot;,&quot;guid&quot;:&quot;column-c405&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:3,&quot;label&quot;:&quot;Action date&quot;,&quot;type&quot;:&quot;customDateTime&quot;},{&quot;apiName&quot;:&quot;RefusalComment__c&quot;,&quot;guid&quot;:&quot;column-732f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:4,&quot;label&quot;:&quot;Refusal Comment&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>latestTransaction.Agreement__r.ContractCode__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>docSentDateText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(3, 37, 76);&quot;&gt;Document sent for signature on &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(3, 37, 76);&quot;&gt;{!Get_transaction_Info.universignTransaction.CreatedDate}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>universign_customFooter</name>
            <extensionName>c:universign_FlowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isDebug</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disableNext</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextLabel</name>
                <value>
                    <stringValue>✨ Refresh</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>previousLabel</name>
                <value>
                    <stringValue>❌ Cancel signature transaction</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>relaunchButtonLabel</name>
                <value>
                    <stringValue>💫 Relaunch ongoing signatory</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideRelaunchBtn</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disableRelaunchBtn</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>OppsErrScreen</name>
        <label>OppsErrScreen</label>
        <locationX>1084</locationX>
        <locationY>3362</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>latestTransaction</targetReference>
        </connector>
        <fields>
            <name>OppsErrDisplay</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Oops.. an error occurred 😟&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;font-size: 16px; color: rgb(251, 0, 0);&quot;&gt;{!Get_Document_From_Universign.errorMsg}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(251, 0, 0);&quot;&gt;{!Get_transaction_Info.errorMsg}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(251, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(251, 0, 0);&quot;&gt;{!Cancel_universign_transaction.errorMsg}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(251, 0, 0);&quot;&gt;{!Relaunch_transaction.errorMsg}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;Try to click on the Refresh button or try again in a few minutes.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;If the error persist please contact your administrator &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Refresh</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SignedDocumentScreen</name>
        <label>Signed doc screen</label>
        <locationX>182</locationX>
        <locationY>1862</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_SuccessSignatureSigned</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Your document has been &lt;/span&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(0, 0, 143);&quot;&gt;successfully&lt;/strong&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 143);&quot;&gt; &lt;/span&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(0, 0, 143);&quot;&gt;signed&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; by all recipient(s)  🎉🥳&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_PEGSignedRecordDisplay</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ContentVersion</typeValue>
            </dataTypeMappings>
            <extensionName>c:sfpegRecordListFlw</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordList</name>
                <value>
                    <elementReference>Get_signed_doc</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cardIcon</name>
                <value>
                    <stringValue>doctype:pdf</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cardTitle</name>
                <value>
                    <stringValue>Your signed document</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>tiles</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldSetName</name>
                <value>
                    <stringValue>ContentVersion.UniversignDocumentSelection</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>listHeight</name>
                <value>
                    <numberValue>300.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDebug</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stackedDisplay</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tileSize</name>
                <value>
                    <numberValue>12.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nameField</name>
                <value>
                    <stringValue>Title</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionListStr</name>
                <value>
                    <stringValue>[     {         &quot;label&quot;: &quot;View document&quot;,         &quot;name&quot;: &quot;openTarget&quot;,         &quot;iconName&quot;: &quot;utility:open&quot;,         &quot;variant&quot;: &quot;brand&quot;,         &quot;action&quot;: {             &quot;type&quot;: &quot;openURL&quot;,             &quot;params&quot;: {                 &quot;url&quot;: &quot;/sfc/servlet.shepherd/version/download/{{{Id}}}&quot;             }         }     } ]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>NoteWhereToFindTheDoc</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;💡 You will also find the document in the &quot;&lt;strong&gt;Notes &amp;amp; attachment&lt;/strong&gt;&quot; related list of this agreement record&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_SignersTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Universign_signer__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Signers &amp; observers</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_UniversignSigners</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;TECH_SignerName__c&quot;,&quot;guid&quot;:&quot;column-a0ee&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Signer Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Email__c&quot;,&quot;guid&quot;:&quot;column-0b7b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:1,&quot;label&quot;:&quot;Email&quot;,&quot;type&quot;:&quot;email&quot;},{&quot;apiName&quot;:&quot;role__c&quot;,&quot;guid&quot;:&quot;column-570f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;role&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;SignerStatus__c&quot;,&quot;guid&quot;:&quot;column-2d44&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Signer Status&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;actionDate__c&quot;,&quot;guid&quot;:&quot;column-3d2c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Action date&quot;,&quot;type&quot;:&quot;customDateTime&quot;},{&quot;apiName&quot;:&quot;RefusalComment__c&quot;,&quot;guid&quot;:&quot;column-30f8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:5,&quot;label&quot;:&quot;Refusal Comment&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Refresh 🔄</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>908</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>latestTransaction</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedCancel</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SignedDocContentVersionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
