force-app/main/default/flows/Universign_transaction_Set_Agreement_to_fully_signed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Status</name>
        <label>Set Status</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>StatusAgreement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fully Signed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_agreement_status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Status1</name>
        <label>Set Status</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>StatusAgreement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Other Party Signatures</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_agreement_status</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_status</name>
        <label>Check status</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Status</targetReference>
            </connector>
            <label>completed</label>
        </rules>
        <rules>
            <name>canceled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>canceled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Status1</targetReference>
            </connector>
            <label>canceled</label>
        </rules>
    </decisions>
    <description>When a universign transaction is signed -&gt; Update the associated agreement status to fully signed</description>
    <environments>Default</environments>
    <interviewLabel>Universign transaction - Set Agreement to fully signed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Universign transaction - Set Agreement to fully signed</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_agreement_status</name>
        <label>Update agreement status to fully signed</label>
        <locationX>314</locationX>
        <locationY>623</locationY>
        <inputAssignments>
            <field>Apttus__Status__c</field>
            <value>
                <elementReference>StatusAgreement</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Agreement__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_status</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>canceled</stringValue>
            </value>
        </filters>
        <object>Universign_Transaction__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>StatusAgreement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
