force-app/main/default/flows/Universign_Subflow_Get_signers_head_signers_observers.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_CCIds</name>
        <label>Add CCIds</label>
        <locationX>2084</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>CCCIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>eachCCLineItem.Covered_Ceding_Company__r.Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>eachCCLineItem</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_SignersRetro_collection</name>
        <label>Add to SignersRetro collection</label>
        <locationX>1546</locationX>
        <locationY>3338</locationY>
        <assignmentItems>
            <assignToReference>signersRetro</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getSignerContact_Retro</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EachSignerJunction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_userIds_List</name>
        <label>Add to userIds List</label>
        <locationX>808</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>userIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>eachGroupMember.UserOrGroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>eachGroupMember</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignAcceptationSigners</name>
        <label>AssignAcceptationSigners</label>
        <locationX>1126</locationX>
        <locationY>4022</locationY>
        <assignmentItems>
            <assignToReference>SignersAcceptation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetSignersPCC</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>signersAcceptationCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GetSignersPCC</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ObserversPcc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetObserversPCC</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ObserversPccCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GetObserversPCC</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_output_variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Add_CCIds</name>
        <label>Copy 1 of Add CCIds</label>
        <locationX>1380</locationX>
        <locationY>2138</locationY>
        <assignmentItems>
            <assignToReference>CCCIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>eachCCLineItem.Covered_Ceding_Company__r.Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>eachCCLineItem</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Set_output_variables</name>
        <label>Set output variables</label>
        <locationX>50</locationX>
        <locationY>2906</locationY>
        <assignmentItems>
            <assignToReference>headSignersUsers</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>headSigners</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>countHeadSignerList</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>headSignersUsers</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>countSignerList</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>getSigners_Acceptation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>countObserverList</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>getObservers_Acceptation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>signers</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getSigners_Acceptation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>observers</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getObservers_Acceptation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_isSuccess_true</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Error_Message</name>
        <label>Set Error Message</label>
        <locationX>2886</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>errMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!$Flow.FaultMessage} (In flow Universign - Subflow - Get Signers, head signers, observers) </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_isSuccess_false</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_isSuccess_false</name>
        <label>Set isSuccess false</label>
        <locationX>2886</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_isSuccess_true</name>
        <label>Set isSuccess true</label>
        <locationX>1336</locationX>
        <locationY>4406</locationY>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_output_variables</name>
        <label>Set output variables</label>
        <locationX>1522</locationX>
        <locationY>4214</locationY>
        <assignmentItems>
            <assignToReference>headSignersUsers</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>headSigners</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>countHeadSignerList</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>headSignersUsers</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>countSignerList</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>signersRetro</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>countObserverList</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>getObservers_Retro</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>observers</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getObservers_Retro</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>signers</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>signersRetro</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_isSuccess_true</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetAgreementForCCC</name>
        <label>SetAgreementForCCC</label>
        <locationX>1204</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>AgreementIdForCCC</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>agreement.Apttus__Parent_Agreement__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_CC_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetAgreementForCCCDefault</name>
        <label>SetAgreementForCCCDefault</label>
        <locationX>1468</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>AgreementIdForCCC</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>agreement.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_CC_Line_Items</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Agreement_record_type</name>
        <label>Agreement record type ?</label>
        <locationX>1336</locationX>
        <locationY>2582</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Acceptation</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>agreement.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Acceptation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getObservers_Acceptation</targetReference>
            </connector>
            <label>Acceptation/GC</label>
        </rules>
        <rules>
            <name>Retrocession</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>agreement.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Retrocession</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>agreement.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cession</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>agreement.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GroupCover</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>agreement.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GlobalBrokerCession</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getObservers_Retro</targetReference>
            </connector>
            <label>Retrocession/ Cession/ GC</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Contact_from_Retro_s_risk_carrier</name>
        <label>Contact from Retro&apos;s risk carrier ?</label>
        <locationX>1810</locationX>
        <locationY>3122</locationY>
        <defaultConnector>
            <targetReference>EachSignerJunction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_YES</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>EachSignerJunction.ContactId__r.AccountId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>agreement.Apttus__Account__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EachSignerJunction.ContactId__r.AccountId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>agreement.Reinsurer__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EachSignerJunction.ReinsurerId__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>agreement.Reinsurer__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EachSignerJunction.RiskCarrierId__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>agreement.RiskCarrier__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getSignerContact_Retro</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Found_signers_Junction_object</name>
        <label>Found signers (Junction) object ?</label>
        <locationX>1522</locationX>
        <locationY>2906</locationY>
        <defaultConnector>
            <targetReference>IsAGlobalbrokerCession</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_signers</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EachSignerJunction</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_group</name>
        <label>Found group ?</label>
        <locationX>1336</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>recordTypeCCLineItem</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_FoundGroup</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_HeadCeding_Group</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HeadSigners_GroupMembers</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_group_member_s</name>
        <label>Found group member(s) ?</label>
        <locationX>984</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>recordTypeCCLineItem</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_FoundGroupMembers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HeadSigners_GroupMembers</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>eachGroupMember</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>found_records</name>
        <label>found records ?</label>
        <locationX>1336</locationX>
        <locationY>1706</locationY>
        <defaultConnector>
            <targetReference>Agreement_record_type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_found_records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_CC_Line_Items</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>eachCCLineItem</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Covered_Ceding_Agreement</name>
        <label>Is Covered Ceding Agreement ?</label>
        <locationX>1864</locationX>
        <locationY>1922</locationY>
        <defaultConnector>
            <targetReference>Add_CCIds</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YESIs_Covered_Ceding_Agreement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>agreement.IsCedingAgreement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_it_the_CC_of_the_agreeement</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Global_Broker_Cession</name>
        <label>Is Global Broker Cession</label>
        <locationX>1336</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>SetAgreementForCCCDefault</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Global_Broker_Cession</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>agreement.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GlobalBrokerCession</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetAgreementForCCC</targetReference>
            </connector>
            <label>Global Broker Cession</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_it_the_CC_of_the_agreeement</name>
        <label>Is it the CC of the agreeement ?</label>
        <locationX>1644</locationX>
        <locationY>2030</locationY>
        <defaultConnector>
            <targetReference>eachCCLineItem</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_Is_it_the_CC_of_the_agreeement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>eachCCLineItem.Covered_Ceding_Company__r.Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>agreement.CoveredCedingCompany__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Add_CCIds</targetReference>
            </connector>
            <label>YES</label>
        </rules>
        <rules>
            <name>Is_Parent_CCC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>eachCCLineItem.Covered_Ceding_Company__r.Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>agreement.Apttus__Parent_Agreement__r.CoveredCedingCompany__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>agreement.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GlobalBrokerCession</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Copy_1_of_Add_CCIds</targetReference>
            </connector>
            <label>Is Parent CCC</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsAGlobalbrokerCession</name>
        <label>Is Global broker Cession</label>
        <locationX>1522</locationX>
        <locationY>3698</locationY>
        <defaultConnector>
            <targetReference>Set_output_variables</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Is_GB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>agreement.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GlobalBrokerCession</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetSignersPCC</targetReference>
            </connector>
            <label>Yes Is GB</label>
        </rules>
    </decisions>
    <description>Sub-flow invoked from the main flow &quot;Universign - Signature process&quot;
W-2304 - CLM - Retrocession contract cannot be sent in Signature (add condition JuncObj.RiskCarrier__c equal agreement.RiskCarrier on Contact Retro RiskCarrier )</description>
    <environments>Default</environments>
    <interviewLabel>Universign - Subflow - Get signers, head signers, observers {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Universign - Subflow - Get signers, head signers, observers</label>
    <loops>
        <name>eachCCLineItem</name>
        <label>eachCCLineItem</label>
        <locationX>1292</locationX>
        <locationY>1814</locationY>
        <collectionReference>Get_CC_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Covered_Ceding_Agreement</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Agreement_record_type</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>eachGroupMember</name>
        <label>Loop GroupMembers</label>
        <locationX>720</locationX>
        <locationY>566</locationY>
        <collectionReference>HeadSigners_GroupMembers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_userIds_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>headSigners</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>EachSignerJunction</name>
        <label>Each Signer(Junction)</label>
        <locationX>1458</locationX>
        <locationY>3014</locationY>
        <collectionReference>get_signers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Contact_from_Retro_s_risk_carrier</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>IsAGlobalbrokerCession</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_CC_Line_Items</name>
        <label>Get CC Line Items</label>
        <locationX>1336</locationX>
        <locationY>1598</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>found_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordTypeCCLineItem.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Apttus__AgreementId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AgreementIdForCCC</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Apttus__AgreementLineItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_HeadCeding_Group</name>
        <label>Get HeadCeding Group</label>
        <locationX>1336</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_group</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Universign_HeadsSigners</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_signers</name>
        <label>Get signers  (JunctionObject)</label>
        <locationX>1522</locationX>
        <locationY>2798</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Found_signers_Junction_object</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProgramId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>agreement.Program__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>TECH_ApproverRole__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Signatory</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContactReinsurerProgramRelation__c</object>
        <sortField>OrderOfSignatory__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getObservers_Acceptation</name>
        <label>Get observers (Contacts)</label>
        <locationX>50</locationX>
        <locationY>2690</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getSigners_Acceptation</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TECH_ApprovalRole__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Observer</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>In</operator>
            <value>
                <elementReference>CCCIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>Order_of_signatories__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getObservers_Retro</name>
        <label>Get observers (Contacts)</label>
        <locationX>1522</locationX>
        <locationY>2690</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_signers</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>1 AND (2 OR 3 OR 4) AND 5</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>agreement.Apttus__Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>agreement.RiskCarrier__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>agreement.Reinsurer__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>TECH_ApprovalRole__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Observer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>Order_of_signatories__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetObserversPCC</name>
        <label>Get Observers PCC</label>
        <locationX>1126</locationX>
        <locationY>3914</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignAcceptationSigners</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TECH_ApprovalRole__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Observer</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>In</operator>
            <value>
                <elementReference>CCCIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>Order_of_signatories__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getSignerContact_Retro</name>
        <label>Get signer (contact)</label>
        <locationX>1546</locationX>
        <locationY>3230</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_to_SignersRetro_collection</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EachSignerJunction.ContactId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getSigners_Acceptation</name>
        <label>Get signers (Contacts)</label>
        <locationX>50</locationX>
        <locationY>2798</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Set_output_variables</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TECH_ApprovalRole__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Signatory</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>In</operator>
            <value>
                <elementReference>CCCIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>Order_of_signatories__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetSignersPCC</name>
        <label>Get signers (PCC)</label>
        <locationX>1126</locationX>
        <locationY>3806</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetObserversPCC</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TECH_ApprovalRole__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Signatory</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>In</operator>
            <value>
                <elementReference>CCCIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>Order_of_signatories__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>headSigners</name>
        <label>Get head signers</label>
        <locationX>720</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>recordTypeCCLineItem</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>userIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>HeadSigners_GroupMembers</name>
        <label>Get groupmembers</label>
        <locationX>984</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_group_member_s</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_HeadCeding_Group.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>recordTypeCCLineItem</name>
        <label>Get recordtype CC Line Item</label>
        <locationX>1336</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Global_Broker_Cession</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Apttus__AgreementLineItem__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CoveredCedingCompanies</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>1210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_HeadCeding_Group</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>agreement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__APTS_Agreement__c</objectType>
    </variables>
    <variables>
        <name>AgreementIdForCCC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CCCIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>countHeadSignerList</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>countObserverList</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>countSignerList</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>errMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>headSignersUsers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>isSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>observerContactIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>observers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ObserversPcc</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ObserversPccCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>signerContactIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>signers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>SignersAcceptation</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>signersAcceptationCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>signersRetro</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>userIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
