force-app/main/default/flows/Universign_Subflow_Initialiaze_Head_Signers.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_To_List_universignSigners</name>
        <label>Add To List universignSigners</label>
        <locationX>534</locationX>
        <locationY>8306</locationY>
        <assignmentItems>
            <assignToReference>lstUniversignSigners_Output</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>universignPccSigners</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_isSuccess</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_lst_UniversignSigners2</name>
        <label>Add to lst UniversignSigners</label>
        <locationX>534</locationX>
        <locationY>8006</locationY>
        <assignmentItems>
            <assignToReference>lstUniversignSigners_Output</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>universignSigners</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Any_PCC_Signers_Set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_lst_UniversignSignersObserverspcc</name>
        <label>Add to lst UniversignSigners</label>
        <locationX>534</locationX>
        <locationY>7706</locationY>
        <assignmentItems>
            <assignToReference>lstUniversignSigners_Output</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UniversignObserversPcc</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>anysignerset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Add_to_lst_UniversignSigners</name>
        <label>Add to lst UniversignSigners</label>
        <locationX>534</locationX>
        <locationY>7106</locationY>
        <assignmentItems>
            <assignToReference>lstUniversignSigners_Output</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>universignHeadSigners</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Any_observer_set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Init_Universign_Head_Signer</name>
        <label>Add to list Universign (Head) Signer</label>
        <locationX>270</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>universignHeadSigners</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UniversignSigner</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UniversignSigner.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UniversignSigner.User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_each_HeadSigner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Init_Universign_Signer</name>
        <label>Add to list Universign Signer</label>
        <locationX>270</locationX>
        <locationY>2486</locationY>
        <assignmentItems>
            <assignToReference>universignSigners</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UniversignSigner</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_each_signer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Set_ErrMsg_isSuccess_false</name>
        <label>Copy 1 of Set ErrMsg &amp; isSuccess = false</label>
        <locationX>446</locationX>
        <locationY>6590</locationY>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_2_of_Set_ErrMsg_isSuccess_false</name>
        <label>Copy 2 of Set ErrMsg &amp; isSuccess = false</label>
        <locationX>446</locationX>
        <locationY>5258</locationY>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Count_HeadSignerList</name>
        <label>Count HeadSignerList</label>
        <locationX>446</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>CountHeadSigner</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>headSignerList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contain_records_HeadSigners</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_ObserverList</name>
        <label>Count ObserverList</label>
        <locationX>446</locationX>
        <locationY>3110</locationY>
        <assignmentItems>
            <assignToReference>CountObserverList</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ObserverList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contain_records_observers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_SignerList</name>
        <label>Count SignerList</label>
        <locationX>446</locationX>
        <locationY>2054</locationY>
        <assignmentItems>
            <assignToReference>CountSignerList</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>SignerList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contain_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CountObserversPccSet</name>
        <label>CountObserversPccSet</label>
        <locationX>446</locationX>
        <locationY>4442</locationY>
        <assignmentItems>
            <assignToReference>CountObserverPccList</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>OberserverPccList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ContainsRecordsPccObservers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>countPccSignersList</name>
        <label>countPccSignersList</label>
        <locationX>446</locationX>
        <locationY>5774</locationY>
        <assignmentItems>
            <assignToReference>countPccList</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>pccSignersList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ContainsrecordsPcc</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Init_Universign_HeadSigner</name>
        <label>Init Universign (Head) Signer</label>
        <locationX>270</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>UniversignSigner.User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_each_HeadSigner.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UniversignSigner.role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>signer</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UniversignSigner.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>headSignerName_Calc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UniversignSigner.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_each_HeadSigner.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UniversignSigner.Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_each_HeadSigner.MobilePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UniversignSigner.FirstName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_each_HeadSigner.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UniversignSigner.LastName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_each_HeadSigner.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UniversignSigner.UniversignTransaction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>universignTransaction.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UniversignSigner.CompanyName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SignatureName_Header_Calc</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Init_Universign_Head_Signer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Init_Universign_Signer</name>
        <label>Init Universign Signer</label>
        <locationX>270</locationX>
        <locationY>2378</locationY>
        <assignmentItems>
            <assignToReference>UniversignSigner.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_each_signer.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UniversignSigner.role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>signer</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UniversignSigner.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SignerName_Calc_Contact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UniversignSigner.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_each_signer.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UniversignSigner.Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_each_signer.MobilePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UniversignSigner.FirstName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_each_signer.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UniversignSigner.LastName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_each_signer.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UniversignSigner.UniversignTransaction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>universignTransaction.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UniversignSigner.CompanyName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>signatureName_Signer_Calc</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Init_Universign_Signer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Init_Universign_Signer_Observer</name>
        <label>Init Universign Signer (Observer)</label>
        <locationX>446</locationX>
        <locationY>3542</locationY>
        <assignmentItems>
            <assignToReference>UniversignSigner.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_each_Observer.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UniversignSigner.role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>observer</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UniversignSigner.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObserverName_Calc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UniversignSigner.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_each_Observer.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UniversignSigner.Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_each_Observer.MobilePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UniversignSigner.FirstName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_each_Observer.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UniversignSigner.LastName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_each_Observer.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UniversignSigner.UniversignTransaction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>universignTransaction.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UniversignSigner.CompanyName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObserverAccountname</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>universignObservers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UniversignSigner</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_each_Observer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>initPccSigners</name>
        <label>Init PCC signer</label>
        <locationX>446</locationX>
        <locationY>6206</locationY>
        <assignmentItems>
            <assignToReference>UniversignSigner.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopPCCSigners.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UniversignSigner.role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>signer</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UniversignSigner.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>signerNamePcc_calc_contact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UniversignSigner.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopPCCSigners.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UniversignSigner.Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopPCCSigners.MobilePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UniversignSigner.FirstName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopPCCSigners.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UniversignSigner.LastName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopPCCSigners.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UniversignSigner.UniversignTransaction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>universignTransaction.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UniversignSigner.CompanyName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>signatureNameSignerCalPcc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>universignPccSigners</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UniversignSigner</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopPCCSigners</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>initUniversignObserverPCC</name>
        <label>init Universign Observer PCC</label>
        <locationX>446</locationX>
        <locationY>4874</locationY>
        <assignmentItems>
            <assignToReference>UniversignSigner.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_each_Observer_Pcc.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UniversignSigner.role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>observer</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UniversignSigner.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObserverPccName_Calc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UniversignSigner.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_each_Observer_Pcc.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UniversignSigner.Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_each_Observer_Pcc.MobilePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UniversignSigner.FirstName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_each_Observer_Pcc.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UniversignSigner.LastName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_each_Observer_Pcc.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UniversignSigner.UniversignTransaction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>universignTransaction.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UniversignSigner.CompanyName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObserverPccCompanyname</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UniversignObserversPcc</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UniversignSigner</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_each_Observer_Pcc</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ErrMsg_isSuccess_false</name>
        <label>Set ErrMsg &amp; isSuccess = false</label>
        <locationX>446</locationX>
        <locationY>3926</locationY>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_isSuccess</name>
        <label>Set isSuccess = true</label>
        <locationX>666</locationX>
        <locationY>8498</locationY>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_lst_UniversignSigners</name>
        <label>Add to lst UniversignSigners</label>
        <locationX>534</locationX>
        <locationY>7406</locationY>
        <assignmentItems>
            <assignToReference>lstUniversignSigners_Output</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>universignObservers</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Any_PCC_Observers_Set</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Any_headsigner_set</name>
        <label>Any headsigner set ?</label>
        <locationX>666</locationX>
        <locationY>6998</locationY>
        <defaultConnector>
            <targetReference>Any_observer_set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>Any_headsigner_setyes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>universignHeadSigners</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Add_to_lst_UniversignSigners</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_observer_set</name>
        <label>Any observer set ?</label>
        <locationX>666</locationX>
        <locationY>7298</locationY>
        <defaultConnector>
            <targetReference>Any_PCC_Observers_Set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>yes_obserlistset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>universignObservers</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_lst_UniversignSigners</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_PCC_Observers_Set</name>
        <label>Any PCC Observers Set</label>
        <locationX>666</locationX>
        <locationY>7598</locationY>
        <defaultConnector>
            <targetReference>anysignerset</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UniversignObserversPcc</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_lst_UniversignSignersObserverspcc</targetReference>
            </connector>
            <label>Yes set</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_PCC_Signers_Set</name>
        <label>Any PCC Signers Set</label>
        <locationX>666</locationX>
        <locationY>8198</locationY>
        <defaultConnector>
            <targetReference>Set_isSuccess</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>PCCSignersSetTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>universignPccSigners</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_To_List_universignSigners</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>anysignerset</name>
        <label>Any signer set ?</label>
        <locationX>666</locationX>
        <locationY>7898</locationY>
        <defaultConnector>
            <targetReference>Any_PCC_Signers_Set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>anysignerset_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>universignSigners</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_lst_UniversignSigners2</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contain_records</name>
        <label>Contain records ?</label>
        <locationX>446</locationX>
        <locationY>2162</locationY>
        <defaultConnector>
            <targetReference>ObserverList_set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_ContainSigners</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountSignerList</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>For_each_signer</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contain_records_HeadSigners</name>
        <label>Contain records ?</label>
        <locationX>446</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>SignerList_set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_Contain_records_HeadSigners</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountHeadSigner</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>For_each_HeadSigner</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contain_records_observers</name>
        <label>Contain records ?</label>
        <locationX>446</locationX>
        <locationY>3218</locationY>
        <defaultConnector>
            <targetReference>OberverPccSet</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_ContainObservers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountObserverList</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>For_each_Observer</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>ContainsrecordsPcc</name>
        <label>Contains records ?</label>
        <locationX>446</locationX>
        <locationY>5882</locationY>
        <defaultConnector>
            <targetReference>Any_headsigner_set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YesContainsPcc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>countPccList</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopPCCSigners</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>ContainsRecordsPccObservers</name>
        <label>ContainsRecords</label>
        <locationX>446</locationX>
        <locationY>4550</locationY>
        <defaultConnector>
            <targetReference>pccSignersListSet</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesContainsPccObservers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountObserverPccList</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>For_each_Observer_Pcc</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_any_signers</name>
        <label>Found any signers ?</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Get_AgreementData_Signer_recType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_Found_any_signers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_existing_signers</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_existing_signers</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>HeadSignerList_set</name>
        <label>HeadSignerList set ?</label>
        <locationX>666</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>SignerList_set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_HeadSignerListSet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>headSignerList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Count_HeadSignerList</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_null</name>
        <label>Is null</label>
        <locationX>358</locationX>
        <locationY>3434</locationY>
        <defaultConnector>
            <targetReference>Init_Universign_Signer_Observer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>NO_Is_NotNull</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>For_each_Observer</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>For_each_Observer.Id</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>For_each_Observer</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_NullPcc</name>
        <label>is Null</label>
        <locationX>358</locationX>
        <locationY>6098</locationY>
        <defaultConnector>
            <targetReference>initPccSigners</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesIsNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopPCCSigners</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>LoopPCCSigners.Id</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>LoopPCCSigners</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_nullPCCObserver</name>
        <label>Is null?</label>
        <locationX>358</locationX>
        <locationY>4766</locationY>
        <defaultConnector>
            <targetReference>initUniversignObserverPCC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesIsNullObserversPcc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_each_Observer_Pcc</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>For_each_Observer_Pcc.Id</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>For_each_Observer_Pcc</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Universign_transaction_inserted_already</name>
        <label>Is Universign transaction inserted already ?</label>
        <locationX>666</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Insert_UniversignTransaction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_Is_Universign_transaction_inserted_already</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>universignTransaction</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>universignTransaction.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_existing_signers</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>OberverPccSet</name>
        <label>OberverPccSet</label>
        <locationX>666</locationX>
        <locationY>4334</locationY>
        <defaultConnector>
            <targetReference>pccSignersListSet</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesObserverspccset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OberserverPccList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CountObserversPccSet</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>ObserverList_set</name>
        <label>ObserverList set ?</label>
        <locationX>666</locationX>
        <locationY>3002</locationY>
        <defaultConnector>
            <targetReference>OberverPccSet</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_ObserverList_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObserverList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Count_ObserverList</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>pccSignersListSet</name>
        <label>pccSignersListSet</label>
        <locationX>666</locationX>
        <locationY>5666</locationY>
        <defaultConnector>
            <targetReference>Any_headsigner_set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>pccSignersSet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>pccSignersList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>countPccSignersList</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>SignerList_set</name>
        <label>SignerList set ?</label>
        <locationX>666</locationX>
        <locationY>1946</locationY>
        <defaultConnector>
            <targetReference>ObserverList_set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SignerList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Count_SignerList</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <description>1. If any universign signers, agreement datas exists -&gt; Delete them
2. If the universign transaction hasn&apos;t been inserted already -&gt; Insert it 
3. Based on user selection, init universign signers, observers
4. Insert universign signer records, observers, agreement datas</description>
    <environments>Default</environments>
    <formulas>
        <name>headSignerName_Calc</name>
        <dataType>String</dataType>
        <expression>{!For_each_HeadSigner.Name} &amp; &quot; - Head signer&quot;</expression>
    </formulas>
    <formulas>
        <name>ObserverAccountname</name>
        <dataType>String</dataType>
        <expression>&apos;Company: &apos; &amp; IF(
        {!For_each_Observer.Account.LongName__c} != NULL,
        {!For_each_Observer.Account.LongName__c},
        {!For_each_Observer.Account.Name}
    )</expression>
    </formulas>
    <formulas>
        <name>ObserverName_Calc</name>
        <dataType>String</dataType>
        <expression>{!For_each_Observer.Name} &amp; &quot; - observer&quot;</expression>
    </formulas>
    <formulas>
        <name>ObserverPccCompanyname</name>
        <dataType>String</dataType>
        <expression>&apos;Company: &apos; &amp; IF(
        {!For_each_Observer_Pcc.Account.LongName__c} != NULL,
        {!For_each_Observer_Pcc.Account.LongName__c},
        {!For_each_Observer_Pcc.Account.Name}
    )</expression>
    </formulas>
    <formulas>
        <name>ObserverPccName_Calc</name>
        <dataType>String</dataType>
        <expression>{!For_each_Observer_Pcc.Name} &amp; &quot; - observer&quot;</expression>
    </formulas>
    <formulas>
        <name>SignatureName_Header_Calc</name>
        <dataType>String</dataType>
        <expression>&apos;Company: &apos; &amp; IF ({!For_each_HeadSigner.Account.LongName__c} != null, {!For_each_HeadSigner.Account.LongName__c}, &apos;AXA S.A.&apos;)</expression>
    </formulas>
    <formulas>
        <name>signatureName_Signer_Calc</name>
        <dataType>String</dataType>
        <expression>IF(
    OR(
        {!agreementRecordtype.DeveloperName} = &apos;Cession&apos;,
        {!agreementRecordtype.DeveloperName} = &apos;Retrocession&apos;
    ),
    &apos;Company: &apos; &amp; {!agreement.Apttus__Account__r.LongName__c},
    &apos;Company: &apos; &amp; IF(
        {!For_each_signer.Account.LongName__c} != NULL,
        {!For_each_signer.Account.LongName__c},
        {!For_each_signer.Account.Name}
    )
)</expression>
    </formulas>
    <formulas>
        <name>signatureNameSignerCalPcc</name>
        <dataType>String</dataType>
        <expression>IF(
    OR(
        {!agreementRecordtype.DeveloperName} = &apos;GlobalBrokerCession&apos;
    ),
    &apos;Company: &apos; &amp; {!agreement.Apttus__Account__r.LongName__c},
    &apos;Company: &apos; &amp; IF(
        {!LoopPCCSigners.Account.LongName__c} != NULL,
        {!LoopPCCSigners.Account.LongName__c},
        {!LoopPCCSigners.Account.Name}
    )
)</expression>
    </formulas>
    <formulas>
        <name>SignerName_Calc_Contact</name>
        <dataType>String</dataType>
        <expression>{!For_each_signer.Name} &amp; &quot; - signer&quot;</expression>
    </formulas>
    <formulas>
        <name>signerNamePcc_calc_contact</name>
        <dataType>String</dataType>
        <expression>{!LoopPCCSigners.Name} &amp; &quot; - signer&quot;</expression>
    </formulas>
    <interviewLabel>Universign - Subflow - Initialiaze Head Signers {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Universign - Subflow - Init Head Signers/ Signers/Observers</label>
    <loops>
        <name>For_each_HeadSigner</name>
        <label>For each head signer</label>
        <locationX>182</locationX>
        <locationY>1214</locationY>
        <collectionReference>headSignerList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Init_Universign_HeadSigner</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_Insert_universign_signers</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>For_each_Observer</name>
        <label>For each observer</label>
        <locationX>182</locationX>
        <locationY>3326</locationY>
        <collectionReference>ObserverList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_null</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_universign_observers</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>For_each_Observer_Pcc</name>
        <label>For each Observer Pcc</label>
        <locationX>182</locationX>
        <locationY>4658</locationY>
        <collectionReference>OberserverPccList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_nullPCCObserver</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>universignObserversPccCreate</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>For_each_signer</name>
        <label>For each signer</label>
        <locationX>182</locationX>
        <locationY>2270</locationY>
        <collectionReference>SignerList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Init_Universign_Signer</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_universign_signers</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopPCCSigners</name>
        <label>Loop PCC Signers</label>
        <locationX>182</locationX>
        <locationY>5990</locationY>
        <collectionReference>pccSignersList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>is_NullPcc</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>createPccSigners</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Insert_universign_signers</name>
        <label>Insert headsigners</label>
        <locationX>182</locationX>
        <locationY>1622</locationY>
        <connector>
            <targetReference>SignerList_set</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_ErrMsg_isSuccess_false</targetReference>
        </faultConnector>
        <inputReference>universignHeadSigners</inputReference>
    </recordCreates>
    <recordCreates>
        <name>createPccSigners</name>
        <label>createPccSigners</label>
        <locationX>182</locationX>
        <locationY>6482</locationY>
        <connector>
            <targetReference>Any_headsigner_set</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_1_of_Set_ErrMsg_isSuccess_false</targetReference>
        </faultConnector>
        <inputReference>universignPccSigners</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_universign_observers</name>
        <label>Insert universign observers</label>
        <locationX>182</locationX>
        <locationY>3818</locationY>
        <connector>
            <targetReference>OberverPccSet</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_ErrMsg_isSuccess_false</targetReference>
        </faultConnector>
        <inputReference>universignObservers</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_universign_signers</name>
        <label>Insert universign signers</label>
        <locationX>182</locationX>
        <locationY>2678</locationY>
        <connector>
            <targetReference>ObserverList_set</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_ErrMsg_isSuccess_false</targetReference>
        </faultConnector>
        <inputReference>universignSigners</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_UniversignTransaction</name>
        <label>Insert UniversignTransaction</label>
        <locationX>1018</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Get_AgreementData_Signer_recType</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_ErrMsg_isSuccess_false</targetReference>
        </faultConnector>
        <inputReference>universignTransaction</inputReference>
    </recordCreates>
    <recordCreates>
        <name>universignObserversPccCreate</name>
        <label>universignObserversPccCreate</label>
        <locationX>182</locationX>
        <locationY>5150</locationY>
        <connector>
            <targetReference>pccSignersListSet</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_2_of_Set_ErrMsg_isSuccess_false</targetReference>
        </faultConnector>
        <inputReference>UniversignObserversPcc</inputReference>
    </recordCreates>
    <recordDeletes>
        <description>Because we are doing a delete &amp; insert</description>
        <name>Delete_existing_signers</name>
        <label>Delete them</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Get_AgreementData_Signer_recType</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_ErrMsg_isSuccess_false</targetReference>
        </faultConnector>
        <inputReference>Get_existing_signers</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_AgreementData_Signer_recType</name>
        <label>Get AgreementData Signer recType</label>
        <locationX>666</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HeadSignerList_set</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_ErrMsg_isSuccess_false</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AgreementData__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>UniversignSigner</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_existing_signers</name>
        <label>Get existing signers</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_any_signers</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_ErrMsg_isSuccess_false</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UniversignTransaction__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>universignTransaction.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Universign_signer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>540</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Universign_transaction_inserted_already</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>agreement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Apttus__APTS_Agreement__c</objectType>
    </variables>
    <variables>
        <name>agreementData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AgreementData__c</objectType>
    </variables>
    <variables>
        <description>List of agreeement datas to insert</description>
        <name>agreementDatas</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>AgreementData__c</objectType>
    </variables>
    <variables>
        <name>agreementRecordtype</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>CountHeadSigner</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>CountObserverList</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>CountObserverPccList</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>countPccList</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>CountSignerList</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>countUniversignSigners</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ErrMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>headSignerList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>isSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>lstUniversignSigners_Output</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Universign_signer__c</objectType>
    </variables>
    <variables>
        <name>OberserverPccList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ObserverList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>pccSignersList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>SignerList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>universignHeadSigners</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Universign_signer__c</objectType>
    </variables>
    <variables>
        <name>universignObservers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Universign_signer__c</objectType>
    </variables>
    <variables>
        <name>UniversignObserversPcc</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Universign_signer__c</objectType>
    </variables>
    <variables>
        <name>universignPccSigners</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Universign_signer__c</objectType>
    </variables>
    <variables>
        <name>UniversignSigner</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Universign_signer__c</objectType>
    </variables>
    <variables>
        <name>universignSigners</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Universign_signer__c</objectType>
    </variables>
    <variables>
        <name>universignTransaction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Universign_Transaction__c</objectType>
    </variables>
</Flow>
