force-app/main/default/flows/Universign_subflow_generate_signature_page_merge.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_signature_page</name>
        <label>Generate signature page</label>
        <locationX>1089</locationX>
        <locationY>134</locationY>
        <actionName>CLM_generateDoc</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_generation_sucess</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>agreementId</name>
            <value>
                <elementReference>agreementId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>docFormat</name>
            <value>
                <stringValue>PDF</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateName</name>
            <value>
                <stringValue>Universign Last Page</stringValue>
            </value>
        </inputParameters>
        <nameSegment>CLM_generateDoc</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Merge_PDFs</name>
        <label>Merge PDFs</label>
        <locationX>512</locationX>
        <locationY>674</locationY>
        <actionName>CLM_mergeDocs</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_merge_success</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__contentVersionsToMerge</typeName>
            <typeValue>ContentVersion</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contentVersionsToMerge</name>
            <value>
                <elementReference>contentversionsToMerge</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>docFileName</name>
            <value>
                <elementReference>selectedDocContentVersion.Title</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>parentId</name>
            <value>
                <elementReference>agreementId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CLM_mergeDocs</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_contentVersions_collections</name>
        <label>Add to contentVersions collections</label>
        <locationX>512</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>contentversionsToMerge</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>selectedDocContentVersion</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contentversionsToMerge</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_contentVersion_of_generated_doc</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Merge_PDFs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>contentVersions</name>
        <label>add to list contentVersions</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>MergedContentVersions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_contentVersion_of_mergedDoc</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_isSuccess_true</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Set_ErrMsg</name>
        <label>Set ErrMsg</label>
        <locationX>1106</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No content versions found for generated PDF page for signature </stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_2_of_Set_ErrMsg</name>
        <label>Set ErrMsg</label>
        <locationX>842</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Merge_PDFs.errMsg</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_4_of_Set_ErrMsg</name>
        <label>Set ErrMsg</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cannot get the &quot;Content Version&quot; of the merged PDF (Selected PDF + Last signature page)</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_ErrMsg</name>
        <label>Set ErrMsg</label>
        <locationX>1370</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Generate_signature_page.errMsg</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_isSuccess_true</name>
        <label>Set isSuccess = true</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Found_contentVersion</name>
        <label>Found contentVersion ?</label>
        <locationX>809</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Set_ErrMsg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_Found_contentVersion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_contentVersion_of_generated_doc</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_contentVersions_collections</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_generation_sucess</name>
        <label>Is generation success ?</label>
        <locationX>1089</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Set_ErrMsg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_Is_generation_sucess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Generate_signature_page.isSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_contentVersion_of_generated_doc</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_get_contentVersion_success</name>
        <label>Found the content version ?</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Copy_4_of_Set_ErrMsg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_contentVersion_of_mergedDoc</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>contentVersions</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_merge_success</name>
        <label>Is merge success ?</label>
        <locationX>512</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Set_ErrMsg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_Is_merge_success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Merge_PDFs.isSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_contentVersion_of_mergedDoc</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <description>1. Generate last page for signature
2. Merge with selected document to send for signature
3. Delete last page for signature after merge
4. Return doc</description>
    <environments>Default</environments>
    <interviewLabel>Universign - subflow - generate signature page &amp; merge {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Universign - subflow - generate signature page &amp; merge</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_contentVersion_of_generated_doc</name>
        <label>Get contentVersion of generated doc.</label>
        <locationX>809</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_contentVersion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContentDocumentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Generate_signature_page.docId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentVersion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_contentVersion_of_mergedDoc</name>
        <label>Get contentVersion of mergedDoc</label>
        <locationX>182</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_get_contentVersion_success</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContentDocumentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Merge_PDFs.mergedDocId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentVersion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>963</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Generate_signature_page</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>agreementId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contentversionsToMerge</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentVersion</objectType>
    </variables>
    <variables>
        <name>ErrMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>isSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>MergedContentVersions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentVersion</objectType>
    </variables>
    <variables>
        <name>selectedDocContentVersion</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentVersion</objectType>
    </variables>
</Flow>
